[2020-04-21 10:39] Johennes commented on #624
👌

Sorry for double-posting. I originally found this on my Android device but then it turned out easier to investigate it on the iOS app due to prior knowledge. 🙈

[2020-04-24 09:29] tsekityam opened #628 "Multiple back buttons in privacy protection view"
## App version
7.44.0.0

## Device model
iPhone XR

## iOS version
13.4.1

Steps to reproduce the bug
1. Click Privacy Protection button on the left of the URL
2. Navigate to the sub pages of the session

![IMG_8593](https://user-images.githubusercontent.com/3814422/80197012-ab707100-8650-11ea-8dd5-6dd394ed34a7.PNG)
![IMG_8594](https://user-images.githubusercontent.com/3814422/80197024-af9c8e80-86

[2020-05-05 11:01] brindy commented on #628
Fixed by #629

[2020-05-05 11:01] #628 closed, assigned to nobody

[2020-05-16 10:53] Lascorbe opened #638 "Safe area not covered at the bottom on "Find in Page""
**App version:**
7.45.0.0

**Device model:**
iPhone 11 Pro

**iOS version:**
iOS 13.4.1

**Steps to reproduce the bug:**
- Go to find "Find in Page"
- Search something
- Scroll down, or hide keyboard (on iPad Pro)

**Expected behavior:**
You cannot see the website content behind the home indicator/safe area

**Actual behavior:**
You can see the website content behind the home indicator/safe area

[2020-05-16 10:57] Lascorbe opened #639 "Add an option to disable search bar autofocus"
**App version:**
7.45.0.0

**Device model:**
iPhone 11 Pro

**iOS version:**
iOS 13.4.1

**Steps to reproduce the issue:**
- Force close the app if it's open
- Open the app
- Search bar becomes first responder (gets focused)

**Expected behavior:**
You cannot disable this from settings

**Actual behavior:**
You are able to disable this behaviour from settings

[2020-05-17 20:15] bwaresiak commented on #639
Hello @Lascorbe

Did you try navigate to Settings -> Keyboard and turn off the 'App Launch' option? I did try this and it worked for me with 7.45.0.0 for the scenario you've described.

If this doesn't work for you, I'd appreciate info about following settings:
- New Tab (Top/Centered, Favorites).
- Auto Clear (On/Off).
- App Lock (On/Off).

Thanks!

[2020-05-18 09:04] Lascorbe commented on #639
That's what I was looking for, I can't believe I didn't see that before. Thank you!

[2020-05-18 09:04] #639 closed, assigned to nobody

[2020-05-18 09:25] tsekityam opened #640 "Layout problem in privacy dashboard"
### What did I do
1. Visit a broken site, e.g. http://12321sdljfghashgf.com/
2. Open privacy dashboard

### What did I see
![image](https://user-images.githubusercontent.com/3814422/82196326-206f5780-992c-11ea-939d-9d5b8febbb8b.png)

### What do I expect
No text overlap at the end of the dashboard

### What did I use
iPhone XR with iOS 13.1.1
DuckDuckGo 7.46.0.0

[2020-05-18 10:10] brindy commented on #640
Thanks for reporting this.

Does this only happen in the error state (ie when it says "Uh-oh, that didn't work.") ?

[2020-05-18 10:16] tsekityam commented on #640
Yes, it only happens in error state. Look like we will not enter [this function](https://github.com/duckduckgo/iOS/blob/2dabc9d8b27d83f8192636f4512525d5e9bcf77c/DuckDuckGo/PrivacyProtectionFooterController.swift#L118) to show/hide footer view when we are in error state.

I am preparing a patch to hide both `gatheringView` and `scoresView` in storyboard by default, such that the view will only be v

[2020-05-18 22:39] mickaphd opened #642 "Fireproof not working"
I just tried to fireproof a website I use a lot (https://my.nextdns.io/) to stay connected even after pressing the fire button and it's not working, I'm always disconnected. Have no idea why.

[2020-05-25 10:45] brindy commented on #640
Merged, thanks!

[2020-05-25 10:45] #640 closed, assigned to nobody

[2020-05-25 10:47] brindy commented on #642
Hi, thanks for letting us know.  I've had a look and it's not clear why this is happening.  The way fireproofing works is by saving the cookies a website sets.  We appear to be doing this, but it still isn't working.  It might be they are saving some data elsewhere which we don't save - we only have limited access to a website's data stores via WKWebView's API.  If you have any ideas I'd be glad t

[2020-06-09 19:58] fassko opened #650 "Launch screen has bottom space on devices with home indicator"
I saw that the main image in `LaunchScreen.storyboard` has a bottom to Toolbar which is hidden.

<img width="1648" alt="Pasted_Image_09_06_2020__22_56" src="https://user-images.githubusercontent.com/29482/84193736-9470cb80-aaa4-11ea-834b-3405369a7f3b.png">

![Simulator Screen Shot - iPhone 11 Pro - 2020-06-09 at 22 52 57](https://user-images.githubusercontent.com/29482/84193819-b4a08a80-aaa4-11ea-

[2020-06-09 20:00] fassko opened #651 "Settings partially support Dynamic Type"
I bumped text size to the max and used Bold Text.

![image](https://user-images.githubusercontent.com/29482/84193959-f2051800-aaa4-11ea-8a8c-3b0c82f58dcd.png)

I recently wrote a blog post about it https://kristaps.me/embracing-dynamic-type/

[2020-06-09 20:04] fassko opened #652 "Bottom bar does not appear when scrolling up slowly"
Is it a bug or a feature? :P

[2020-06-09 21:43] bwaresiak commented on #652
Hello,

We want to match Safari's behavior and reveal bars only when users swipe upwards with some momentum (basically reveal bars in a scenario when website is still scrolling after finger is lifted from the screen - technically scroll view in this case is "decelerating"). There are additional ways to reveal bars: reaching top of the page, bouncing when at the bottom of the page, tapping top or b

[2020-06-09 21:48] bwaresiak commented on #650
Hello,

We are in the process of remaking the Launch Screen and this is already fixed on the feature branch that will be merged to develop soon.

Nonetheless, thank you for pointing that out :-)

[2020-06-10 05:40] #650 closed, assigned to nobody

[2020-06-10 05:47] fassko commented on #652
OK, now I understand. In that case, it is a feature. :)

[2020-06-10 05:47] #652 closed, assigned to nobody

[2020-06-29 06:19] MathPlayer opened #661 "Custom URL schema not working for https://lichess.org/"
The most known open-source chess platform, https://lichess.org/ has the custom URL schema implemented in order to open certain links in the iOS app (if installed). This flow does not work with the DuckDuckGo iOS app.

How to reproduce:
Open the https://lichess.org/ link in DuckDuckGo from another app.
The easiest way for me was to write a message to myself on the Facebook Messenger app, long tap t

[2020-06-29 11:05] brindy commented on #661
Hi,

Thanks for getting in touch.

Firstly, this is about [universal links](https://developer.apple.com/ios/universal-links/), not custom URL schemes.  I just want to get that clarification in because URL schemes are a different issue and we handle them differently.

The reason this is happening is because we handle the incoming URL and tell WKWebView to open it, which seems reasonable to us since

[2020-06-29 11:06] #661 closed, assigned to nobody

[2020-07-01 14:30] MathPlayer commented on #661
I'm sorry for the mislead. For some reason, I was expecting the service itself (e.g. the lichess server) to determine that you're on iOS and/or you have the app installed, so redirect the request to a custom URL schema like `lichess://something`, but that's obviously not possible.
I can only wait for iOS 14 and its changes.

[2020-07-01 16:18] brindy commented on #661
No problem! We're excited about iOS 14 too. :)

Thanks again for getting in touch.

[2020-07-02 09:53] pythoneer opened #665 "Favicons leaking host url to DDG server"
As a sibling of the ["same" issue](https://github.com/duckduckgo/Android/issues/527) on [the Android](https://github.com/duckduckgo/Android/issues/876) side, the iOS App has the same Problem.
[this](https://github.com/duckduckgo/iOS/blob/1ae03d7221180bd6791cf6f7f06922a96335cf75/Core/AppUrls.swift#L98)
[code]

Is sending the host domain url to the DDG server.

Locks like it is used for [every opene

[2020-07-02 12:42] catehstn opened #666 "Request favicon directly from site"
Current favicon requests go via the icons service. Replace these by calling directly to the site.

First:  favicon.ico / https
Better image quality:  apple-touch-icon
Fallback 1: favicon.ico / http
Fallback 2: default icon (exists in app).

[Internal tracking](https://app.asana.com/0/72649045549333/1182909349293473/f).

[2020-07-02 14:35] catehstn commented on #665
Duplicate of #666, addressed in #667 (currently in review).

[2020-07-02 14:35] #665 closed, assigned to nobody

[2020-07-02 16:25] #666 closed, assigned to brindy

[2020-07-04 14:16] a60wattfish opened #670 "Allow clearing of DuckDuckGo.com cookies"
It’s currently hardcoded in Core/WebCacheManager.swift to not clear cookies for duckduckgo.com when data is deleted and there are no options anywhere for clearing it.

I can understand the reasons why it’s hardcoded, however my suggestion would be to make DuckDuckGo.com a toggleable option under the “Fireproof Websites” menu.

Another menu could be added for setting search settings if cookies aren

[2020-07-08 17:41] nilnilnil commented on #670
Hey a60wattfish, thanks for making this. We really appreciate the feedback, since we’re always looking for ways to to better align with our product vision of "Privacy, simplified." Just to be clear for anyone looking at this thread, both our apps and our search engine are fully anonymous as enforced by our strict privacy policy (DuckDuckGo.com/privacy). As that policy explains in more detail (and

[2020-07-14 15:29] JonathanKrug opened #675 "Can‘t watch YoutTube videos in fullscreen (iPad)"
Hi, in the DDG app it is currently not possible to watch YouTube (I know it's from Google😅) videos in full screen view. The fullscreen button is greyed out. (As you can see in picture 1)

![image](https://user-images.githubusercontent.com/31386997/87444536-33826900-c5f7-11ea-8856-934b166c9a3f.jpeg)

Since it works fine in Safari (see picture 2), it seems to be a bug in the DDG app.

![image](https

[2020-07-14 15:43] brindy commented on #675
Hi Jonathan,

Thanks for getting in touch!  Sadly, we are aware of this and are looking in to fixing it if we can. In the mean time you can use the browsing menu (The ... button top right) to select "mobile" mode and you should be good from there.

Thanks,
Chris

________________________________
From: Jonathan Krug <notifications@github.com>
Sent: 14 July 2020 16:29
To: duckduckgo/iOS <iOS@noreply

[2020-07-14 19:54] samsymons commented on #642
@brindy I took a closer look at this one out of curiosity, after running into a similar issue.

NextDNS sets all of its session cookies with the domain `api.nextdns.io`, whereas `my.nextdns.io` is the URL which gets saved when Fireproofing.

[code]

[2020-07-14 19:57] brindy commented on #642
Thanks @samsymons !

That explains a lot.  We've been talking internally about this situation where the cookies are set on some kind of authentication domain and are planning to address the problem in the near future.

Thanks again for diving in!

[2020-07-18 11:43] BasThomas opened #676 "VoiceOver improvements"
While using the app I found some places where VoiceOver can either use some more information, or where a page isn't accessible at all using VoiceOver.

- Changing the app icon is currently not accessible through VoiceOver
- The "Add to Dock" modal has an awkward naming for its close button ("remove" instead of "close".
- Consider adding an accessibility hint to the "tab toggle" to announce which o

[2020-07-21 20:41] brindy commented on #676
These are merged, thanks @BasThomas

[2020-07-22 01:15] BasThomas commented on #676
The tab toggle accessibility hint hasn't been added yet, actually. Up to you if that's something you'd want to add, though :)

[2020-07-22 01:19] brindy commented on #676
Ah, sorry - thanks!

[2020-07-22 15:13] fassko opened #683 "Lost header when navigating from tabs list"
I had a couple of times this situation when the header toolbar disappeared. I was navigating from tabs list where I changed layout removed tab.

![image](https://user-images.githubusercontent.com/29482/88193541-77541e80-cc46-11ea-93a1-070687eabe12.png)
https://www.imore.com/best-ad-blockers-iphone-and-ipad
![image](https://user-images.githubusercontent.com/29482/88193932-e3368700-cc46-11ea-95e0-72

[2020-08-04 11:03] daisuke-t-jp opened #687 "Tests fail below iOS 13"
Hi,

Some tests fail below iOS 13.
I checked with Xcode 11.6 (11E708).

<img width="640" alt="exception" src="https://user-images.githubusercontent.com/45647069/89286117-9b731f00-d68c-11ea-9808-aa2d879142dc.png">

---

These tests throw exceptions.
(These function is called even below iOS 13.)

https://github.com/duckduckgo/iOS/blob/4b28b97cd76c9e5775113b2606f4a17713a6eca5/DuckDuckGoTests/CookieSt

[2020-08-05 12:56] daisuke-t-jp opened #689 "App crashes during onboarding with using placeholder font."
<img width="640" alt="crash" src="https://user-images.githubusercontent.com/45647069/89415103-620ee200-d766-11ea-9c17-2df76f6f18d6.png">

[2020-08-08 20:33] wolnavi opened #694 "[Feature Request] Adding bookmarklet support"
Hi. is it possible to add bookmarklet support? Currently, when adding a bookmarklet, it will always prefix `http://`, I'm not a real coder but perhaps there should be something in this file

https://github.com/duckduckgo/iOS/blob/develop/DuckDuckGo/EditBookmarkAlert.swift

at line 83

where current code is

[code]

So we can replace with something like

[code]

Or however it's done... Thanks

[2020-08-11 18:55] brindy commented on #694
Hi @wolnavi - I ran this past the team today and we couldn't think of any strong objections.  If you'd like to make a PR for this we can review or we'll try and get it in when we have chance. Thanks!

[2020-08-12 00:50] wolnavi commented on #694
Like I said, I’m not a real coder, just guessing around, I don’t even have a Mac, only a iPhone 😂😂

[2020-08-12 10:49] brindy commented on #687
Fixed by #688 - thanks again!

[2020-08-12 10:49] #687 closed, assigned to nobody

[2020-08-12 10:54] brindy commented on #689
Fixed by #690 - thanks again @daisuke-t-jp

[2020-08-12 10:54] #689 closed, assigned to nobody

[2020-08-12 11:26] brindy commented on #676
I've added the accessibility hint for the toggle on my current branch which is WIP but hopefully going out soon.  Thanks again for the heads up and contributions.

[2020-08-12 11:26] #676 closed, assigned to nobody

[2020-08-16 18:02] DjCantor opened #696 "Text overflows in dialogs on smaller screen devices"
Hi,

I've found this issue regarding smaller screen devices:

App version: most recent
Device model: iPhones with 4.7 and 4 inch screens
iOS version: 13.6
Steps to reproduce the bug: first start of the application, going through the tutorials while browsing
Expected behavior: text bubbles wrap the text
Actual behavior: the text overflows on small screen devices.

![Simulator Screen Shot - iPhone S

[2020-08-17 09:31] brindy commented on #696
Hi @DjCantor - am I right in saying you built and ran this yourself rather than installing from the App Store?  It looks as though the commercial font we use is missing which explains why the line heights are out.

[2020-08-17 09:38] DjCantor commented on #696
Hi @brindy : yes, you are right, and I didn't notice that the fonts would be those commercial fonts. Sorry for the false alarm!

[2020-08-17 09:38] #696 closed, assigned to nobody

[2020-08-17 09:41] brindy commented on #696
no problem! Thanks for reaching out :)

[2020-08-18 14:35] hennrynusasatria opened #698 "Show Address Bar on Navigation for Security Reason"
**Description:**
Hiding URL bar on navigation can be used by phishing actors.

See here: https://www.securitee.org/files/hindsight_ccs2017.pdf (ABB 15-16)

**Steps to Reproduce:**

1. Navigate to reddit.com
2. Scroll

**Actual result:**
Scrolling hides the address bar

**Expected result:**
URL bar should be visible at all times

**Reproduces how often:**
Everytime

Credit: Pranjal Jumde

[2020-08-18 15:02] brindy commented on #698
Hi! Thanks for making us aware of this paper.

While our browser does indeed hide the navigation bar when scrolling we already automatically show the navigation bar when the user navigates to a new link.

[2020-08-18 15:02] #698 closed, assigned to nobody

[2020-09-17 00:35] superusercode opened #712 "Support for adblock/adblock filter lists"

[2020-09-17 00:44] gholias opened #713 "Hardcoded app ids on the WidgetExtension and OpenAction targets"
I cloned the project today and followed the steps on the readme about setting up the External Developer Details in `ExternalDeveloper.xcconfig` and the project could not compile because of the hardcoded Ids on those targets.

This is the error message:
[code]

The solution is pretty simple: Making the extension targets to use of the var **$APP_ID**

I will send a PR shortly.

[2020-09-17 07:54] superusercode opened #715 "opening app store links has a weird modal"

[2020-09-20 16:11] quanganhdo commented on #715
Second this. Also, it’d be great if the Yes/No buttons are renamed to Open/Cancel to make the dialog more user friendly.

[2020-09-20 16:20] quanganhdo opened #719 "Shortcut to invoke 1password from any website"
I love that in iOS 14 it’s possible to set DuckDuckGo as the default browser. One of the missing pieces, however, is 1password support.

I created a simple shortcut to invoke 1password from any website. It’ll switch to the 1password app and fill in the second-level domain (e.g. “github” in “gist.github.com”) as the search keyword so that you can quickly copy the credentials. It works really well w

[2020-09-22 13:35] brindy commented on #715
Hi @superusercode thanks for this.  It's been fixed and will be in an upcoming next release.

@quanganhdo - we're doing a copy review of the entire app, so I'll raise your comment with that team as a point of interest.

Thanks!

[2020-09-22 13:35] #715 closed, assigned to nobody

[2020-09-25 10:38] brindy commented on #694
Thanks for the PR @jbttn - tentatively, it looks good, but I need to open a product review request internally to get it approved.  Please bear with me.  Tracking this internally at https://app.asana.com/0/392891325557410/1195769562482248

[2020-09-25 10:49] brindy commented on #694
@wolnavi and @jbttn - can you describe some use cases where this would be useful, please?

We don't support `prompt` or `alert` so it feels as though this is fairly limited in its usefulness.

[2020-09-25 11:33] wolnavi commented on #694
I don't understand what you mean by `prompt` or `alert` because the current way to edit bookmarks will display a `prompt` or `alert`

As to usefulness, I'm not really sure how to answer this but haven't you used a bookmarklet before?
Quick google:

As to why would I want this feature, for example, if we visit a webpage with ads, I could add a bookmarklet to remove the ads via javascript and bookma

[2020-09-25 11:57] brindy commented on #638
Tracking this internally at https://app.asana.com/0/inbox/392891325557408/1195769562482255/1195785915763848

[2020-09-25 12:02] brindy commented on #713
Thanks for this!

[2020-09-25 12:02] #713 closed, assigned to nobody

[2020-09-25 12:07] brindy commented on #524
Sorry for the delay here, we kept putting it off and then iOS 14 default browser happened so we were waiting to see where the land lay after all that.

So the two main things here are:

1) A content blocker extension (CBE) will break a lot of sites because it will need to block Google Tag Manager and other such scripts for it to be an effective tracker blocker.  However, the CBE doesn't allow us t

[2020-09-25 12:07] #524 closed, assigned to nobody

[2020-09-25 12:16] brindy commented on #712
Hi - thanks for the suggestion.  We are currently using Tracker Radar to provide best in case tracker blocking and don't have any plans to extend the app to support ad-blocking at this time. (We of course block ads that track you though)

[2020-09-25 12:16] #712 closed, assigned to nobody

[2020-09-25 12:17] brindy commented on #683
Hi @fassko - thanks for bringing this to our attention.  Since then we've released a small update to the UI to better support iPads and I suspect we fixed this during that release.  I'm going to close, but please re-open if you are still seeing the issue.  Thanks!

[2020-09-25 12:17] #683 closed, assigned to nobody

[2020-09-25 12:25] brindy commented on #694
I mean the JavaScript `prompt` and `alert` functions.  `prompt` at least seems to be commonly used in bookmarklets.

Alright, thanks.  I just needed a concrete example.

[2020-09-25 12:39] fassko commented on #683
Thanks @brindy I will check out if it has been fixed.

[2020-09-25 16:00] jbttn commented on #694
@wolnavi Regarding the `prompt` and `alert` confusion...

1) I used `javascript:(function() { alert(1) })()` in the unit test code for this pull request.  This is only meant for the unit tests, it was the simplest thing I could think of to use.
2) I referenced [this page](https://caiorss.github.io/bookmarklet-maker/) for some example bookmarklets.  I didn't realize so many of them used `prompt`.

[2020-09-27 10:47] pankova commented on #638
Hello! 🙂 Could I help you with it as Hacktoberfest participating?

[2020-09-28 09:03] brindy commented on #638
Hi @pankova - yes, thank you.

[2020-09-30 13:32] jaroslavas opened #728 "Any issues for outside contributors?"
As you may know, tomorrow [hacktoberfest](https://hacktoberfest.digitalocean.com) starts, where people are asked to contribute to open source projects. Do you have any tasks that could be done by outsiders willing to help?

[2020-10-02 02:30] brindy commented on #694
Just FYI, I am trying to progress this internally.  My feeling right now is that we won't proceed with it without the `alert` and `prompt` functionality and they need deep thought around UX (think about pages spamming the alert dialog and how to handle that in an elegant way), but I am making the case for it, so please bear with me.

[2020-10-04 00:06] wolnavi commented on #694
Actually I don't understand, bookmarklet is supported on almost every browser, shouldn't it be a basic functionality?

Regarding the UX for pages spamming the alert dialog, I don't think a webpage will affect and interfere with the bookmarklet, as I believe the bookmarklet is user defined, so unless s/he wants to spam him/herself with an infinite loop of alerts, we usually won't face this scenario

[2020-10-08 10:09] catehstn commented on #670
The DuckDuckGo application is a search and browse application, and the SERP page is a central feature of the application, and both the SERP and the application adhere to our privacy policy(https://duckduckgo.com/privacy) and do not collect or share any personal information.

After going through user feedback and the code, we concluded that:

- The average user does not distinguish between the app

[2020-10-08 10:09] #670 closed, assigned to nobody

[2020-10-09 21:45] cornedor opened #730 "Scrolling causes the WebView to resize and lose previous page Snapshot"
Some sites do not work very well with these resizes, they will resize elements based of the height of the webview, wich causes laggy resizes of those elements while scrolling. See the examples below, one is in DuckDuckGo, the other in Safari

![RPReplay-Final1602279407](https://user-images.githubusercontent.com/570297/95633801-bdbc5b00-0a88-11eb-895e-e59ba1e6d508.gif) ![RPReplay-Final1602279563](h

[2020-10-11 19:22] brindy commented on #638
Hey @pankova - do you have a timescale for your fix?   Thanks!

[2020-10-11 19:58] pankova commented on #638
Hello! Yes, I faced signing trouble. It seems, I couldn't provide group id. If there is some other way to build project or some test configuration data for external developers, it would be great!

[2020-10-11 20:35] brindy commented on #638
Please see the `Developer details` section in the readme.  Let me know if you have any further problems.  Thanks!

[2020-10-12 14:38] #675 closed, assigned to nobody

[2020-10-15 09:01] brindy commented on #719
Thanks for this tip! Hopefully folk have had enough time to read this now.

[2020-10-15 09:01] #719 closed, assigned to nobody

[2020-10-15 09:05] brindy commented on #540
We're still tracking this internally.  I will add a note to try and get a decision.  Thanks for raising this and sorry it's took a long time to respond.

[2020-10-15 09:05] #540 closed, assigned to nobody

[2020-10-15 09:11] brindy commented on #694
This has been done and is in the release that is currently rolling out. (7.56.0)

Thanks @wolnavi for opening this issue and @jbttn for your contribution.

[2020-10-15 09:13] brindy commented on #642
We're working on this internally here: https://app.asana.com/0/72649045549333/1184658016368940

It will probably fixed on Android first with a follow up on iOS, but it's on the radar.

[2020-10-15 09:13] #642 closed, assigned to nobody

[2020-10-15 09:22] brindy commented on #624
Thanks again for this, and sorry for the long delay in keeping you up to date.  This is still on our radar internally, but I don't expect us to make the change any time soon as we're not seeing a great deal of feedback around this issue.  Certainly if that changes (especially in light of now being able to be set as default browser) it'll end up being prioritised.  Thanks again!

[2020-10-15 09:22] #624 closed, assigned to nobody

[2020-10-15 09:25] brindy opened #741 "Ensure text is selected when focussing the address bar."
**Steps**

* Load a web page
* Tap the address bar

**Expected**

* The text is selected so that it can be copied/replaced easily

**Actual**

* Sometimes the text is not selected properly

[2020-10-15 12:16] brindy opened #742 "Test"

[2020-10-15 12:17] #742 closed, assigned to nobody

[2020-10-15 22:41] lm2s commented on #741
Hello, hope you don't mind, I've taken the liberty of submitting a PR for this issue.

From what I could gather the issue seems to come from the cursor being set when `becomeFirstResponder()` is called and interfering with the call to `selectAll(nil)`.

I also considered replacing the `self.textField.selectAll(nil)` with `self.textField.selectedTextRange = self.textField.textRange(from: self.textF

[2020-10-16 11:37] brindy commented on #741
Thanks @lm2s - going to review it just now.

[2020-10-16 12:13] brindy commented on #728
There's been a couple - just need to keep an eye on the issues list and jump in when you can.  tbh, it's an awkward time for us as we're usually just recovering from whatever Apple has done in September and this year was particularly ... difficult. :)

We're open to suggestions as well, but as a guide bug fixes are more desirable than features.  Anything that requires a serious UI/UX change will n

[2020-10-16 12:13] #728 closed, assigned to nobody

[2020-10-16 12:14] brindy commented on #730
Thanks for this.  Is it something you'd like to fix as part of Hacktoberfest maybe?

For anyone else looking at this, please note that fix will need to be very focused.  An significant change to the UI or UX will not be accepted.  Likewise, no changes to copy will be accepted either.

Thanks in advance to whoever picks this up!

[2020-10-16 12:31] brindy commented on #651
Hi @fassko,

Thanks for this!  We are tracking it internally here: https://app.asana.com/0/392891325557410/1198492230691825

I saw your recent tweet about this earlier today as well. I really want us to support this properly, but I think it will involve close collaboration with our design team to make sure we don't affect any UI/UX.  We've just release a fairly big change to support transitions so

[2020-10-16 14:31] brindy commented on #741
What you've done works me.  Thanks!

[2020-10-16 14:31] #741 closed, assigned to lm2s

[2020-10-16 15:58] wolnavi commented on #694
This doesn’t seem to work as of Version 7.57.0 ? Adding a bookmarklet to execute an alert does not prompt any alert

[2020-10-16 16:29] jbttn commented on #694
@wolnavi as @brindy [mentioned here](https://github.com/duckduckgo/iOS/issues/694#issuecomment-698861988) the app does not support prompt or alert.  I can confirm bookmarklets do work, it's just that any calls to `alert` or `prompt` in the bookmarklet will do nothing.

[2020-10-16 16:45] wolnavi commented on #694
Trying:

[code]

On `google.com` AS AN EXAMPLE that I can currently think of now, does not work, although it works on safari

[2020-10-16 16:47] fassko commented on #651
Hi @brindy,

Thank you for reaching out! ;)

I'm the DuckDuckGo app user myself and dealing with Dynamic Type in a different project I understood that the DuckDuckGo app doesn't support. People using non-default font sizes is 40% so it is a big percentage.

I understand that you need to convey to your design guidelines and it would require some work for your designers to check it.

Easiest is to u

[2020-10-16 18:10] brindy commented on #694
Not sure what that is supposed to do (it just seems to add the word `images` to the current url) but it works for me in both Safari and DDG.

[2020-10-16 18:43] wolnavi commented on #694
Yes, I just want to demonstrate if bookmarklet is working, since alert function is disabled in DDG browser

As shown in this recording https://youtu.be/ra_W_pilVp0

I first inspect bookmarklet to show that they are the same, then I try to tap on it, but it does nothing (it stays on google search and does not redirect to google images)

Later on, I go to Safari, then inspect bookmarklet to show tha

[2020-10-16 20:49] bwaresiak commented on #694
@wolnavi I was able to reproduce your problem - it is related to using Open In External Apps option from settings.

Fix in https://github.com/duckduckgo/iOS/pull/744 In the meantime you may disable that option and Bookmarklet should work.

[2020-10-16 20:50] wolnavi commented on #694
Ooohh yes it works now, thank you

[2020-10-17 23:40] wolnavi commented on #694
Fixed as of v7.57.1, thanks everyone!

[2020-10-17 23:40] #694 closed, assigned to nobody

[2020-10-21 10:46] brindy commented on #638
Hi @pankova - how are you getting on?

[2020-10-21 10:48] pankova commented on #638
Hello! Sorry, I'm a little overworking, but I plan to finish it!

[2020-10-26 17:56] brindy commented on #638
Hi @pankova - just wondering if you've been able to make any progress?

Since Hacktoberfest finishes on the 31st and we have another PR ready for this fix, can you please submit your PR by the end of October 30.

Or if you're unable to finish this by then, that's fine, we just need to know.

Thanks.

[2020-10-26 18:31] pankova commented on #638
Hello! I have made PR some minutes ago :)
Sorry for waiting! 🙏

[2020-10-26 23:00] brindy commented on #638
Fixed by #761 - thank you @pankova !

[2020-10-26 23:00] #638 closed, assigned to pankova

[2020-10-27 10:42] JonathanKrug opened #762 "Add clone tab feature"
Hi,

The possibility to clone a tab is already available in many browsers, so it would be very cool if the DDG app could do that too.

I'm interested in contributing! I have already developed the feature locally. Only the localization is still missing.
![Screen-Recording-2020-10-27-at-1](https://user-images.githubusercontent.com/31386997/97290868-70dad180-1849-11eb-9673-a061a03fffdf.gif)

[2020-10-28 00:37] moyerr opened #764 "Add a back and forward stack with current tab's history"
Most modern browsers (mobile and desktop) allow you to inspect your current tab's history by pressing and holding either the back or forward buttons. This is a feature I miss dearly when I use the DuckDuckGo Browser, and would love to see it added to the app!

I have [implemented the feature on my fork](https://github.com/moyerr/iOS/tree/feature/back-forward-navigation) if you would like to take a

[2020-10-28 12:59] brindy commented on #764
Hi Robbie,

Thanks for the suggestion. I like this and the UX looks good, but I would have to run it past our internal product review team first to see if they want to proceed with it.  Let me do that and get back to you (might be a week or two because I'm on leave next week).

One quick question though - which iPad was this on?  Reason I ask is that I noticed when in Side by Side mode with Safari

[2020-10-28 13:58] moyerr commented on #764
@brindy Thanks for the update! I'll do my best to keep my branch up to date with `develop` in the meantime.

To answer your question, that was the iPad Pro (11-inch, 2nd generation) in both screen recordings.

[2020-11-16 14:59] brindy commented on #764
Hi @moyerr

Sorry for the delay here, I took some leave and we didn't manage to progress this internally.  Is it something you are still interested in doing?  If so I can push it internally this week.

Thanks!

[2020-11-16 15:33] moyerr commented on #764
@brindy No worries at all, I hope you enjoyed your time away!

Yes, I have a full implementation on my fork at https://github.com/moyerr/iOS/tree/feature/back-forward-navigation, and have been keeping it up to date with the latest on `develop` here. Would love to see this feature adopted in some capacity, even if it doesn't look exactly like my implementation. But say the word, and I'd be glad to

[2020-11-23 23:59] brindy commented on #764
Hello, I ran it past the team and we decided that we'd like to bring the design in house so that we can get the UI/UX just right.   What you've done is great, but we'd like to do something closer to what Safari has with a custom component that possibly works on iOS 13 as well.  Thanks again for your suggestion and for your interest in DuckDuckGo!

[2020-11-23 23:59] #764 closed, assigned to nobody

[2020-11-24 15:26] moyerr commented on #764
Thanks for the update @brindy! I look forward to seeing this feature come to the app in the future!

[2020-11-27 09:29] bwaresiak commented on #762
@JonathanKrug thanks for the suggestion. As we support bookmarklets, you can add bookmark/favorite with URL set to `javascript:window.open(window.location.href);` and use it to duplicate currently open tab.

Browsing menu is already quite full (which is especially visible on smaller phones), so we would rather avoid adding new entries to it, unless it is strongly justified.

Thanks for your intere

[2020-11-27 11:23] #762 closed, assigned to nobody

[2020-11-28 04:28] iGlitch opened #787 "Add couple request/suggestions?"
### **DARK MODE**

Any plans to add a dark mode switch to websites? No, I don't mean waiting for websites to update their CSS to detect and support dark mode but actually force it. (Like Dark Reader addon)

Firefox for iOS can do this, seems like an inversion thing because it affects the images of some sites, but it's better than nothing.

### **Timer for Face ID**

Maybe add a timer for the next

[2020-11-28 10:47] brindy commented on #787
Hi!

Thanks for the Dark Mode and Face ID suggestions, I’ll make a note of those internally.

As for set as default, unfortunately we can’t explicitly tell if the user has set it or not.

RE translations - we use an external service for that, but if you have found specific problems please create an issue with them listed (in English and the language in question) along with the proposed change and

[2020-11-28 10:47] #787 closed, assigned to nobody

[2020-11-28 14:24] ChamathJ opened #788 "Address bar is touching the left edge"
Address bar is touching the left edge on iPhone 11.

![image](https://user-images.githubusercontent.com/37962078/100517798-65195c80-31b3-11eb-8253-83b52879973e.jpeg)

[2020-11-29 20:52] mothe-at opened #789 ""back" button or swipe right jumps to top of previous site"
**App version:** 7.59.0.0
**Device model:** iPhone 11 Pro
**iOS version:** 14.2

**Steps to reproduce the bug:**
When I hit the "back" button or swipe right to go back to the previous site, the previous site then jumps to the top of the page.
For instance, I read a newspaper, scroll down the headlines some while and the tap a link to read the full article. When I then swipe right or hit back, the

[2020-12-10 13:23] st3fan opened #794 "Favourites sometimes get an incorrect icon"
Sometimes favorites on the home screen get the incorrect icon assigned. Below you can see that the first and last icon in the top row have an incorrect icon. The first is CNN, whose icon is now that of The NY Times and The NY Times has the icon of The Guardian. The rest of the icons are correct.

There are no clear steps to reproduce this. It did add more favourites to my home screen recently and

[2020-12-10 13:27] brindy commented on #794
Thanks for raising this @st3fan - we've been aware of it internally and we think #792 fixes it.  Feel free to check out develop and see if that works for you, but if not I'm doing a release today anyway so should be on the App Store in the next day or two.  Thanks!

[2020-12-10 13:38] st3fan commented on #794
Great I will give it a try when it ships. Sorry, I did not see #792 when I posted this.

[2020-12-10 13:42] brindy commented on #794
No problem at all! Thanks for being vigilant  :D

[2020-12-10 14:22] st3fan commented on #794
I do want to add my own analysis to this issue: it is speculative because this is hard to debug without adding some diagnostics to the code - I did not put in the time to actually debug this on a device.

There is a possibility that the root cause here is actually around UICollectionViewCell re-use. I think the `FavoriteHomeCell` is properly re-used, but it may not be properly initialized on re-us

[2020-12-13 01:54] shadowzerro opened #796 "Hi"

[2020-12-13 01:56] #796 closed, assigned to nobody

[2020-12-19 13:55] rwdj opened #802 "Automatically clear data breaks app on change app"
Steps to reproduce:
1. Turn on Automatically clear data. Any settings. I've tried multiple configs, but I specifically had "Clear Tabs and Data" and "App Exit, Inactive for 1 hour".
2. Change app. Don't bother navigating to a web page. It's not necessary.
3. Change back. The app is not functional. Address bar is usable, but attempts to navigate the web fail. All buttons stop functioning; although,

[2020-12-22 19:41] bwaresiak commented on #802
@rwdj sorry to hear it doesn't work for you.

I've tried to reproduce the problem but couldn't. Shall I wait for Auto Clear to happen (e.g. 1hour) between steps #2 and #3 or is just switching the app enough for the problem to manifest?

Also can you share what iOS version, device and DDG app version you are using?

Thank you!

[2020-12-22 21:25] rwdj commented on #802
I just turned the feature back on and it stopped happening. To my knowledge, I haven’t updated since, so I’m not sure what happened.

Since it’s no longer happening, I’ll tentatively close this issue. But I’ll keep an eye on it and reopen if it happens again and try to identify what changed.

Just in case it comes back up, here are the answers to your questions:

No waiting was needed. I could jus

[2020-12-24 12:40] rwdj commented on #802
It's happening again. Can't think of anything I've done different. If I disable Automatically Clear Data, it works fine. If I enable Automatically Clear Data, it does this usually:
![image](https://user-images.githubusercontent.com/17169963/103089194-32e4fa00-45bb-11eb-8138-681437c92e8c.png)
Note that my Favorites are gone and the 1 tab indicator is gone. If I close the app and reopen, everything

[2020-12-24 13:33] rwdj commented on #802
@bwaresiak I can't reopen the issue and am not sure if you got pinged, so here's a ping.
Merry Christmas Eve!
I'll just disable auto clear for now.
I'm a developer too (not iOS developer) and have a MacBook that I'm not afraid to use to get any diagnostic data you want from me.

[2020-12-29 01:05] bwaresiak commented on #802
@rwdj thanks! Hope you had great Christmas. :)

Have few things in mind:

I. Are there any DDG-related crashlogs on your device?
II. When this happens, is there any indication of a deadlock? E.g.:

1. Open the app - see UI is stuck.
2. Background the app again.
3. Wait 10 seconds.
4. Reopen the app - if you see launch screen and it is starting "from scratch" that could mean we have a deadlock and

[2020-12-29 13:40] rwdj commented on #802
It's stopped happening again. Waiting to see when it happens again.
I. I’ve looked through crashlogs and didn’t see any entries for DuckDuckGo.
II. I’ll try that procedure next time it starts happening.
III.
* Application Lock: default - no
* Keyboard Options:
  * New Tab: default - yes
  * App Launch: default - no
* Fireproofed Sites: 4
* GPC: default - yes

Since I’ve made my report and it’s sta

[2021-01-04 12:35] bwaresiak commented on #802
@rwdj I've been trying to reproduce this issue over the Christmas period but had no success so far.

For now my two ideas are:
- Deadlock: in such case scenario I've wrote above (backgrounding the app) should make watchdog kill the app.
- Background State overlay not being removed: maybe something is messing up UIWindow state and overlay is not properly removed.

I could try to hack something for

[2021-01-04 14:13] rwdj commented on #802
I still can't reproduce it anymore. Great for me! Not so great overall.

It sounds more like the overlay, because I don't think a killed app would act the way it did.

If watchdog killed the app, would the app be interactable? When locked-up, the app buttons and even the address bar were responsive; they just didn't do anything functional: broken buttons. They made GUI action indications (changing

[2021-01-04 17:06] bwaresiak commented on #802
@rwdj thank you, that indeed looks like problem with the overlay. Glad to hear this seem to be a rare problem! Nonetheless, I'll try to tackle it this week.

[2021-01-08 17:39] bwaresiak commented on #802
@rwdj I've made a PR #804 aimed at tackling this: get a signal if this happens (to understand impact) and then try to recover. Ideally we will like to fix this, but first we need to be able to tell if our tweaks are going to have any effect.

[2021-01-13 14:40] s3cur3 opened #806 "Potential memory leak in BloomFilterWrapper"
The `BloomFilterWrapper` doesn't clean up the `BloomFilter` it allocates on init. As best I can tell, this is mostly a theoretical leak—in the app, the `BloomFilterWrapper` is currently retained for the lifetime of the program. If this ever were *not* the case though (as is the case in the test suite), the allocated `BloomFilter` would be leaked.

If you'd like, I can submit a pull request for [th

[2021-01-14 12:20] acdzh opened #807 "It will just open the file instead of downloading it in the HTML a label"
Hello! I met a problem and I am not sure whether this is a feature or just a bug.

![image](https://user-images.githubusercontent.com/32260125/104589990-a606fb00-56a5-11eb-8636-5a3f1cf050a2.png)

[code]

on safari, it looks like this:

![image](https://user-images.githubusercontent.com/32260125/104589902-84a60f00-56a5-11eb-869e-907a95ac49e5.png)

but on duckduckgo, it just open it:
![image](https:

[2021-01-14 12:24] acdzh commented on #807
OS version: iOS 14.0 on iPhone 11 Por Max
App version: DuckDuckGo 7.61.5.0

[2021-01-14 14:07] brindy commented on #807
Hi, thanks for this.  We're aware that we're not handling downloads very well at all at the moment and already have a project underway to address it, which we're tracking internally here: https://app.asana.com/0/414709148257752/1145004832722773

 I'll share your feedback with the rest of the team though.

Thanks again!

[2021-01-14 14:07] #807 closed, assigned to nobody

[2021-01-15 14:04] rwdj commented on #802
Well. Huh. Today, it's happening sporadically without any noticeable pattern. Sometimes it does. Sometimes it doesn't. This is very different from before where it would happen every time or not at all.

[2021-01-15 15:17] rwdj commented on #802
Scratch that. Reproducible. For now. I also took a video. But I don't think it'll help. I think you've also gotten a handle on it.

[2021-01-15 16:12] bwaresiak commented on #802
@rwdj I'm going to release new version early next week, let's see if that changes anything.

[2021-01-20 23:49] bwaresiak commented on #802
@rwdj Could you get 7.61.8 from AppStore and see if the issue happens, that it is recovering once you tap on any button?

[2021-01-21 02:55] rwdj commented on #802
I'll do that and let you know the next time it happens! In the meantime, I just re-enabled automatically clear data and it's not happening again. Last time it took ~nearly~ long over a week to start happening again.

[2021-02-01 23:45] rwdj commented on #802
I still haven't seen it happen again. I know I'd recognize it if it did by showing the overlay and I'd need to click a button to fix it, but it just hasn't happened.

[2021-02-02 08:30] bwaresiak commented on #802
@rwdj Thank you for checking in :) If you manage to see it please let us know. In the meantime we've got some signal about it and I've got an idea for a permanent fix - will try to address it this week.

[2021-02-03 04:40] kainjinez opened #822 "Where can I download old repo like duckduckgo/Kingfisher?"
I've forked DDG long time ago. At that time I was able to build DDG with Carthage.
But now I can't, Cartfile did not found any repo below. How can I get it to let it work?
I don't want to pull newest right now, because I modified a lot. Thanks.

[code]

[2021-02-08 19:26] samsymons commented on #822
Hey there @kainjinez,

We migrated the DuckDuckGo iOS app to use Swift Package Manager last year, and as a result the forks used by older versions of the app were removed. There are two paths forward that I can see, given that you’re unable to sync your fork with `develop`:

1. Update each dependency in your Cartfile to point to the original repo instead of the DuckDuckGo fork, e.g. update `github

[2021-02-08 19:26] #822 closed, assigned to nobody

[2021-02-11 04:34] iGlitch opened #830 "Can't download .mobileconfig"
Trying to download any .mobileconfig from https://encrypted-dns.party/ for example opens it as a readable file rather than a profile that can be installed.

Is it a limitation for being a third party browser/something only Safari can do?
or is it a bug?

[2021-02-11 10:37] brindy commented on #830
Hi! Thanks for reaching out.

Yes, this is a known issue sadly, but we're working on a fix.  It's partly due to there basically not being good download APIs in WKWebView but there are work arounds (which we haven't felt needed to be prioritised until recently, ie default browser), and Apple are rolling out new APIs in future versions of iOS 14.  So it will definitely be fixed "soon" - hopefully be

[2021-02-13 17:32] brindy commented on #788
Thanks, tracking this internally at https://app.asana.com/0/414709148257752/1199923842925005

[2021-02-13 18:11] #788 closed, assigned to nobody

[2021-02-13 18:23] brindy commented on #806
Sorry for the delay in replying.  Yes, feel free to submit a PR.  As you say the filter is tied to the the lifetime of the app anyway so no rush.  Thanks!

[2021-02-13 18:26] brindy commented on #806
Tracking internally here: https://app.asana.com/0/392891325557410/1199935106721785

[2021-02-22 04:58] samsymons commented on #806
Closing this as #833 was merged, thanks @s3cur3!

[2021-02-22 04:58] #806 closed, assigned to nobody

[2021-03-07 14:11] zefr0x opened #840 "Contribute to the translation?"
Can I contribute to the translation? I want to add the Arabic language to the app.
I don't know, but i saw [this folder](https://github.com/duckduckgo/iOS/tree/develop/BookmarksTodayExtension). I didn't find any explanations in the README.

[2021-03-11 08:56] serhatbadan commented on #840
I can add the Turkish language to the app.

[2021-03-11 11:53] brindy commented on #840
Hi, thanks @ZER0-X and @serhatbadan for your kind offers, but we use an external translation company and have a process which requires certain files to be kept in sync.

@ZER0-X - Regarding Arabic, I'm very keen to add this, but we haven't done a great deal with RTL support yet.   While we couldn't accept the contribution we'd love to see a demo of this if there was a quick way to do it so that we

[2021-03-11 11:53] #840 closed, assigned to nobody

[2021-03-11 12:00] serhatbadan commented on #840
@brindy Thank you for your feedback. If i find specific problem in app, i'll create an issue.
Greetings!

[2021-03-15 10:42] sukhrobkhakimov opened #843 "Can't build the app due to SwiftLint type_name violation"
**Steps to reproduce:**
1. Pull the `develop` branch.
2. Build the app.
3. The app shows a compile-time error: `Type Name Violation: Type name should only contain alphanumeric characters: 'WidgetViews_Previews' (type_name)`.

**Possible solutions:**
1. `struct WidgetViews_Previews: PreviewProvider { // swiftlint:disable:this type_name`.
2. Add the rule below to `.swiftlint.yml` to allow underscore

[2021-03-15 11:27] sukhrobkhakimov opened #844 "Automatically trim trailing whitespace from empty lines"
I see the codebase has a lot of leading whitespace in empty lines. I suggest checking `Including whitespace-only lines` under `Preferences -> Text Editing -> Editing -> Automatically trim trailing whitespace` in Xcode and add this rule to `STYLEGUIDE.md` for others to follow.

[2021-03-15 15:53] samsymons commented on #843
Hey @sukhrobkhakimov!

Are you on an older version of SwiftLint? This was [resolved in 0.35.0](https://github.com/realm/SwiftLint/blob/master/CHANGELOG.md#enhancements-16).

[2021-03-16 05:36] sukhrobkhakimov commented on #843
Hi @samsymons

Thanks for your quick reply. Yeah, I am currently using 0.34.0. But, the point is to avoid using `_` in Swift code entirely. I wonder why the SwiftUI team keeps naming things inconsistently.

[2021-03-16 05:36] #843 closed, assigned to nobody

[2021-03-16 12:59] samsymons commented on #843
FWIW I agree with you @sukhrobkhakimov, I'm not a fan of underscores either. 😄

[2021-03-17 12:54] aigarssilavs opened #846 "Missing snapshot when swiping back"
When swiping back to previous page the snapshot sometimes does not appear. Seemingly the navigation bar visibility when performing the swipe back action has to match the bar visibility when snapshot was initially taken for it to appear. May be related to #789

**App version:** 7.62.1.0
**iOS version:** 14.2
**Device:** iPhone X
**Steps to reproduce the bug:**
1. Open any web page
2. Tap on any lin

[2021-03-17 13:07] aigarssilavs opened #847 "Excess keyboard spacing"
Unnecessary bottom content inset is applied to the web page when keyboard is presented.

**App version:** 7.62.1.0
**iOS version:** 14.2
**Device:** iPhone X
**Steps to reproduce the bug:** Select any textbox in any web page and scroll to the bottom of the page
**Expected behavior:** Scrolling stops when the bottom of the web page is reached
**Actual behavior:** Scrolling beyond web page content b

[2021-03-17 16:09] brindy commented on #847
Thanks for this! If it's convenient and makes sense can you add a screenshot, please?

[2021-03-17 16:09] brindy commented on #846
Thanks for this! We're discussing it internally.

[2021-03-17 16:11] brindy commented on #794
Hey @st3fan - sorry for not replying it's been a busy few months.

Are you still seeing this problem? I can't say I've noticed it.

As such I'm going to close this out, but if you have solid steps to reproduce and/or want to create a PR to fix, please re-open.

Thanks!

[2021-03-17 16:11] #794 closed, assigned to nobody

[2021-03-17 16:12] brindy commented on #846
btw, I have a suspicion this is related to #730

Let me know what you think.

Thanks!

[2021-03-17 16:34] aigarssilavs commented on #847
No problem. Here are the screenshots for of the same page as in the .gif in the original comment.

Keyboard dismisssed and view scrolled to the bottom:
![KeyboardDismissed](https://user-images.githubusercontent.com/1329970/111502962-002c4700-874f-11eb-9d20-e2ffef84ef9e.jpg)

Keyboard visible and view scrolled to the bottom:
![KeyboardVisible](https://user-images.githubusercontent.com/1329970/11150

[2021-03-17 17:29] aigarssilavs commented on #846
Hi. Actually I've been working on #730 and - just checked - snapshots don't go missing after changes I've made to resolve it, so it appears that you're right. Fix for #846 will be a byproduct of the solution for #730.

#730 is a bit trickier that it may initially appear - decoupling the unobscured frame of the webView from the actual frame of the webView via safeAreaInsets introduces quite a lot o

[2021-03-21 12:58] iAmNaz commented on #730
@brindy

This issue was interesting to look at since I experienced a similar one before. The issue was caused by the content view being stretched when the bars are hidden. I tried some fix while I am not sure about the UX you are expecting. Here is a recording of it.

In order to make it look like nothing much has changed from a UX experience I think we need to synch the scroll offset with the ani

[2021-03-21 20:03] nonnorm commented on #694
Just out of curiosity, why do you not support `prompt`/`alert`?  Is it because of the possibility of pages being able to spam them?  I would like it to be implemented, but I'm sure there's a good reason it hasn't yet.

[2021-03-23 22:08] samsymons commented on #476
Hey @jplock! We're gonna sit tight on this one for now, since full WebAuthn support is on the [WebKit roadmap for this year](https://trac.webkit.org/wiki/AppleWebKitGoalsfor2021):

Thanks for the suggestion. I'd love to have YubiKey support too, so here's hoping that WWDC brings us some good news. 🙂

[2021-03-23 22:08] #476 closed, assigned to nobody

[2021-04-11 19:29] Johennes commented on #830
Maybe a good temporary workaround could be to open `*.mobileconfig` URLs in `SFSafariController`? That'd be very little work and even includes the system messaging about how to actually install the profile.

![Simulator Screen Shot - iPod touch (7th generation) - 2021-04-11 at 21 25 23](https://user-images.githubusercontent.com/1137962/114318247-8fd5d300-9b0c-11eb-8229-dad6ae361936.png) ![Simulato

[2021-04-17 05:11] rwdj commented on #802
I know I've seen the temporary fix. Not sure when the last time was or if it's been properly fixed. At the very least, it's fixed from a user perspective.

[2021-04-17 05:24] rwdj opened #862 "Unable to edit bookmarks"
System:
- App: 7.62.7.0
- Device: iPhone 11 Pro

Steps:
- Open bookmarks
- Click edit
- Click a bookmark

The keyboard appears as if able to type, but the edit-bar is not visible.

Absolutely sure this wasn't broken a couple months ago.

![image](https://user-images.githubusercontent.com/17169963/115102779-365e1180-9f1b-11eb-8d66-fa8414e35e70.png)

[2021-04-17 05:26] rwdj commented on #802
Ah. Literally just saw it happen again. But your temporary fix saves the day.

[2021-04-17 11:24] rwdj commented on #862
Actually, I'm not getting any pop-ups. And this must be a recent development because it wasn't like this a couple weeks ago. Shown below is a login to my router. I can't see the prompt. By using the password manager, it can auto fill and I can hit enter to login, but not being able to see the login here shows it's all pop-ups that are broken. ![image](https://user-images.githubusercontent.com/1716

[2021-04-17 11:27] rwdj commented on #862
And it just happened on GitHub, so this is an iOS issue and not DuckDuckGo. Closing ticket.

[2021-04-17 11:27] #862 closed, assigned to nobody

[2021-04-28 04:19] kainjinez opened #867 "contentblocker.js document.addEventListener("beforeload" not working"
Previously in an old version of DDG, I implemented a resource blocker via URL by modifying detection.js. I implement my filter on `shouldBlock`.
[code]
But now with the newest version, I see you used `window.addEventListener('load',` to block, but when implemented, I don't see it blocks anything.
[code]
Even try to add old code right before/after original code, it did not trigger like before.
[cod

[2021-05-09 08:35] fruityperson opened #875 "URL autocomplete recommends malicious sites"
When typing into the URL bar in DuckDuckGo iOS browser, it often suggests malicious sites (e.g. `web.archvie.org` instead of `web.archive.org` and `maps.goggle.com` instead of `maps.google.com`).

It would be very useful to hide those URLs from suggestions, especially on mobile where it's harder/slower to type the full URL and users don't pay much attention to small text.
Also for a privacy/securi

[2021-05-17 22:31] untalfranfernandez commented on #847
I've been checking this issue and it has to be related somehow with [this content offset change](https://github.com/duckduckgo/iOS/blob/develop/DuckDuckGo/MainViewController.swift#L234) when the keyboard is displayed. I've done some quick tests with different webpages removing that line and it seems to be working fine.

I'd propose a PR for that, but [that change](https://github.com/duckduckgo/iOS

[2021-05-18 09:17] brindy commented on #847
Thanks for diving in @untalfranfernandez

I guess that change was also made for the find in page UI we have.  If everything seems fine on iPhone 8, iPhone X and iPads without that line feel free to open a PR. :)

[2021-05-18 12:42] winteriscariot opened #884 "[Feature Request] Reader View?"
ive been using DDG for quite a while and really enjoy the browser. however both Safari and Firefox have a reader view which strips clutter from text articles to make a more pleasant reading experience (and giving an all black background for OLED screens).

are there any plans to add such a feature to this browser?

[2021-05-25 16:16] brindy commented on #875
Hi, thanks for this and sorry for the delay in replying.

We are just rolling out a new version (7.63.5) which deals with this better.  The suggestions you've found should really have been search suggestions rather than URLs.   We now only treat a suggestion as a URL when the backend tells us to.

Going to close this out, but please do comment/re-open if you have any further problems.

Thanks.

[2021-05-25 16:16] #875 closed, assigned to nobody

[2021-05-25 16:30] fruityperson commented on #875
Hi, thanks for your response. Looking forward to the release of new version! Will re-open the issue if it appears after the fix.

[2021-05-25 21:57] samsymons commented on #884
Thanks @winteriscariot, this is one of our biggest requests both internally and externally. We're tracking this closely and will ping you here if this feature is added to the app. Thanks again!

[2021-05-25 21:57] #884 closed, assigned to nobody

[2021-05-29 11:24] matthme opened #892 "Endless periodic page refreshing without user action"
Since version 7.63.4.0 pages are sometimes endlessly refreshed without user action (i.e. once every few seconds the page is refresehd). This make reading a page absolutely impossible. It is not page specific but can happen on any page (it has also happened on a duckduckgo search result page once) so it is quite certainly a browser issue. There is however no clear pattern that I could identify rega

[2021-05-29 16:47] brindy commented on #892
Thanks for letting us know. We are about to push out a release with a temporary fix imminently. A more comprehensive fix will come next week. Thanks for your patience!

[2021-05-29 16:47] #892 closed, assigned to nobody

[2021-06-06 19:40] DirtyP4nts opened #896 "Import/Export Bookmarks [Feature Request]"
It would be great, if we could Import and Export our bookmarks. You implemented something like this in the Android Version.

[Android Feature Request](https://github.com/duckduckgo/Android/pull/1211)

Maybe it would be possible to use the iCloud Drive to Export it there and import it in the same way.

I would love to switch completely to your Browser but to move all my bookmarks would be such a pa

[2021-06-14 16:20] fruityperson commented on #896
Please add this feature. Export to TXT file will be enough

[2021-06-18 11:56] SimonBackx opened #901 "History API is ignored if a page is opened in a new tab (target "_blank")"
## Environment
App version: 7.63.7.0
Device model: iPhone 12 pro
iOS version: 14.6

## Steps to reproduce the bug

- Start with a simple website (the initial website) that opens a different website (the opened website) in a new tab when clicking on a link:
[code]
- On the opened website, use the History API's pushState method (e.g. when clicking on a button) to navigate to a new page
[code]
- Pres

[2021-06-25 09:48] Bunn opened #907 "ActionMessageView width overflow"
The `ActionMessageView` used to display favorite and bookmark notification doesn't take smaller devices (like iPod touch and iPhone SE) window width into consideration.

Here's how it looks on an iPod touch:
<img src="https://user-images.githubusercontent.com/782316/123405165-74258900-d5a1-11eb-9a80-98a348a8feef.png" width="300">

When compared with a larger device, like the iPhone 8 we can see th

[2021-06-25 10:10] brindy commented on #907
Thanks for this, I'm testing it now.

[2021-06-25 10:22] #907 closed, assigned to nobody

[2021-06-25 13:03] brindy commented on #901
Hi @SimonBackx - thanks for submitting this and sorry for not replying sooner.  We determine back/forward using the signals we get from WKWebView.

I'm not sure there's much we can do about this, unless you have any ideas? It might better to create a bug for this in the WebKit issue tracker. https://webkit.org/reporting-bugs/

[2021-06-25 22:40] SimonBackx commented on #901
As far as I know, WKWebView doesn't have any support for target _blank out of the box, so the current behaviour is probably custom. I'll look into it and if you are open for it, open a PR with a fix.

[2021-06-26 16:25] brindy commented on #901
Yep, check these lines for starters:

* https://github.com/duckduckgo/iOS/blob/develop/DuckDuckGo/TabViewController.swift#L1268

And:
* https://github.com/duckduckgo/iOS/blob/develop/DuckDuckGo/TabViewController.swift#L1181

But essentially we just open a new tab with a WebView and let it carry on from there.

if you can work out what’s going, a PR would be welcome, Thanks!

[2021-06-27 20:46] Bunn opened #910 "Height calculation error when displaying onboarding messages"
When the app displays the `subsequent` HomeScreenMessage on iPod touch or iPhone SE the label height is not correctly calculated.

Steps to reproduce:
- On an iPhone SE or iPod touch
- Open the app for the first time
- See first onboarding message
- Open a website
- Open a new tab
- See the `subsequent` onboarding message
- You can see that the last line overflows the box frame

![Screen Shot 2021

[2021-06-29 19:18] elielamora opened #914 "Feature Request: See Recently Viewed Links"
When browsing, it is often useful to preview recently visited sites for a given tab. It is a common features on other browsers, that I and other users are familiar and accustomed to.

For instance Safari:
<img width="476" alt="Screen Shot 2021-06-28 at 8 27 40 PM" src="https://user-images.githubusercontent.com/22871225/123854710-0ce33e00-d8ed-11eb-987b-4000b9621fbd.jpeg">

<img width="476" alt="Sc

[2021-06-29 21:19] brindy commented on #914
Hi,

Thanks for your request. Unfortunately it’s not as simple as it might seem. You can see a previous discussion and attempt here:  #764

The key point is that that the browser can be booted out of memory by iOS and we don’t have any way to store or restore the tab state so lose those back and forward details.

There is actually a private API for that but we obviously can’t use that.  See: https

[2021-06-30 13:50] romanrudyy opened #915 "Adding new tab from tab manager is jittery"
The experience is somewhat jittery and could have a bit more polish. Here's what could be fixed:

1. Keyboard shows up before we transition from tabs manager to tab view, should be synced
2. When user hits add tab, tab cell added to the list should be blank with white background. Currently it has stuff with logo etc, and since transition begins in split second afterwards this is jittery
3. Logo an

[2021-06-30 20:33] elielamora commented on #914
Thanks for the reference to the similar issue previously filed ([#764](https://github.com/duckduckgo/iOS/issues/764)).

I was envisioning the feature slightly differently from the previous proposal. In fact, I was thinking something similar to what was mentioned in the [last comment on the previous thread](https://github.com/duckduckgo/iOS/issues/764#issuecomment-732494662). Namely, adding a custo

[2021-06-30 21:32] brindy commented on #914
Let me check with the rest of the team to see if they'd be comfortable with this as a contribution and to see if I can get some design for it.

[2021-06-30 21:33] brindy commented on #896
Hi - sorry for not replying sooner.  Just wanted to let you know we're definitely thinking/talking about it.

[2021-06-30 21:40] brindy commented on #651
This has been open for a while with no progress, am going to close it out for now.  Thanks.

[2021-06-30 21:40] #651 closed, assigned to nobody

[2021-06-30 22:10] brindy commented on #915
Hi - thanks for this, we're tracking it internally at https://app.asana.com/0/392891325557410/1200541656968208

They seem like a decent improvement, so let me check with the rest of the team to make sure they're comfortable taking this as a contribution.

[2021-06-30 22:10] brindy commented on #910
Thanks again for your contributions - I'll hopefully review it soon!

[2021-06-30 22:11] brindy commented on #901
Any thoughts @SimonBackx ?

[2021-06-30 22:15] brindy commented on #867
Hi - thanks for reaching out and sorry for not replying sooner.

We've made some changes in this code recently, but to explain what is going on we now do blocking using Content Blocker Rules and the JavaScript is largely just used to infer what was blocked so that we can update the UI.

As such, this shouldn't be a problem.

Thanks again

[2021-06-30 22:15] #867 closed, assigned to nobody

[2021-06-30 22:16] brindy commented on #847
Hi, I don't think we're going to address this right now as it's generally not a big issue for most users. If you feel like having another shot in the future, please feel free to reopen or create a new issue with your PR.   Thanks again for getting in touch!

[2021-06-30 22:16] #847 closed, assigned to nobody

[2021-06-30 22:19] brindy commented on #915
Hi, yes, we'd welcome a PR for this.  Thanks in advance!

[2021-06-30 22:26] brindy commented on #789
I'm going to close this out and track this via #730 - we need a solution that can fix all these cases as they're all related.

[2021-06-30 22:26] #789 closed, assigned to nobody

[2021-06-30 22:27] brindy commented on #846
I'm going to close this out and track this via #730 - we need a solution that can fix all these cases as they're all related.

[2021-06-30 22:27] #846 closed, assigned to nobody

[2021-06-30 22:34] brindy commented on #830
Hi, thanks for this.  We are tracking it internally here: https://app.asana.com/0/414709148257752/1199680686183984 and are hoping to schedule a general overhaul of the Downloads capability of this browser soon.  Thanks!

[2021-06-30 22:34] #830 closed, assigned to nobody

[2021-06-30 23:15] brindy commented on #730
Hi @iAmNaz - it appears no one responded to you.  Apologies for that and thanks for commenting.

Does your fix also fix the problem with the previous page preview disappearing?  Steps:

1. Go to a page
2. Click on a link
3. Scroll to hide the scroll bars
4. Start swiping back

Expect: Screen should show previous page

Actual: Screen is blank

Thanks!

[2021-07-01 06:36] fassko commented on #651
Yes sorry, I couldn't find time for this. Running my own startup takes all the time I have.

[2021-07-01 09:07] brindy commented on #651
No problem! Hope that is going well for you. :)

[2021-07-01 12:28] brindy commented on #844
Note added to style guide, thanks!

[2021-07-01 12:28] #844 closed, assigned to nobody

[2021-07-02 12:27] SimonBackx commented on #901
Hey @brindy,

I didn't manage to setup the right provisioning profiles to sign the app for development. Probably because DuckDuckGo is using a protected entitlement (e.g. com.apple.developer.web-browser) for the browser which I can't add to my App ID's at the moment. Am I right that I need to request permission to use this entitlement by emailing default-browser-requests@apple.com? Automatic provi

[2021-07-02 17:21] brindy commented on #901
@SimonBackx that's the right email but you won't get the entitlement without having an actual browser app on the App Store already - you sort of have to be proven already before you can get it.  Basically they don't want like gaming (or more malicious) apps being able to handle links and things like that so they are quite judicious about who they give it to.

Obvious thing to do is remove that ent

[2021-07-03 12:57] iAmNaz commented on #730
@brindy

The previous page is there when swiping back. I can still see subtle zooming and it seems to happen when my mouse cursor is above an image.

https://user-images.githubusercontent.com/9004747/124354904-0cc2a580-dc41-11eb-81c9-a20cbba6b69f.mp4

[2021-07-03 13:09] brindy commented on #730
Thanks for the video.

In that video you don’t scroll to hide the bars after the navigation, but before swiping back. Does the previous page still appear if you do?

The final piece is that the scroll position of the previous page is also lost to test this.

1. Load a site
2. Scroll down
3. Click a link
4. After the navigation a roll to hide the bars
5. Swipe back

Expected: Previous page should b

[2021-07-03 13:40] iAmNaz commented on #730
Would be better if you could try this https://github.com/iAmNaz/iOS/tree/fix-webview-scroll-resizing.

[2021-07-03 17:50] brindy commented on #730
Thanks for sharing.  Your branch is massively out of date so it's not going to merge, but just to confirm it looks like the only line of significance is this one:

https://github.com/duckduckgo/iOS/pull/919/files#diff-23f45a546b44732f442ecaff49aa3d7bbdb120eadd9cf312fc61b8d5181b6ad0R361

I can try that against the main build and will let you know.  Thanks!

[2021-07-06 13:50] cornedor commented on #730
Fyi, the NOS site has a new design where the header no longer resizes based on the viewport height. I've build a more simple test case: https://corne.vercel.app/height

[2021-07-06 14:40] nazmariano commented on #730
@cornedor if possible, could you add an image in that box to mimic the NOS sample? I think it is not very obvious with a solid color if the bounds changed. Thanks

[2021-07-06 15:03] cornedor commented on #730
I've added an image background with roughly the same styling

[2021-07-19 09:59] brindy commented on #910
This has been merged.  Thanks for this!

[2021-07-19 09:59] #910 closed, assigned to nobody

[2021-07-23 00:44] #914 closed, assigned to nobody

[2021-07-29 19:01] #915 closed, assigned to nobody

[2021-07-31 14:07] romanrudyy opened #943 "On iPad when closing a tab with address bar input in focus, the input gets carried over to previous tab's address bar"
- App version: 7.64.2
- Device model: 2020 iPad Pro 11"
- iOS version: iOS 15b4
- Steps to reproduce the bug:
  - Open tab 1, load a website
  - Tap the "+", open tab 2
  - Load a website in tab 2
  - Tap the address bar of tab 2
  - Close tab 2
- Expected behavior:  I get tab 1, address bar loses focus and has tab 1 url, keyboard is dismissed
- Actual behavior:  I get tab 2, address bar retains f

[2021-08-03 10:49] Ph1thak commented on #896
Yes, this feature would be undoubtedly incredibly useful

[2021-08-04 09:52] unknown0521 opened #945 "The scroll insmooth problem of BrowserChromeManager.swift"
Hi, I have noticed that there is a scroll insmooth issue on the DuckDuckGo iOS App main screen, and I found the problem may inside your "BrowserChromeManager.swift" file. I have tried to improve it, the following video is the comparison:

https://www.youtube.com/watch?v=UTSwgAahmpI&ab_channel=FoodieFox

I really like this app and I just wish it can be better and better,
thank you for reading : )

[2021-08-06 14:38] samsymons commented on #945
Hey @unknown0521!

This looks like a big improvement. 👏 Are you able to open your changes as a PR so I can share them with the team?

Thanks, and thanks so much for the kind words. 🙂

[2021-08-06 21:38] unknown0521 commented on #945
Hi @samsymons,

I've tried to open a PR but it seems I don't have permission,
but I've sent related files to your HR two weeks ago when I once applied for your iOS developer position, I also fixed minor constraints issues in the "Settings.storyboard". I think Diana should have forwarded those files to the team already? if you can't find the files, I'm willing to mail them again.

Although I can't

[2021-08-09 11:44] brenoxp commented on #730
I was able to find a solution that works well for this website: https://corne.vercel.app/height
Basically, I updated the top and bottom `containerView` constraints to `safeArea.top` and `superview.bottom` respectively, and then I control the `scrollView.contentInset` based on the visibility of the `omniBar` and the `toolbar`.
But when I tested on websites like https://www.w3schools.com/css/css_ima

[2021-08-09 12:20] cornedor commented on #730
@brenoxp I've added two fixed elements to the page. I've also clarified what the pixel values are, and added the height of the container. Now it is more clear that only the window height changes, but not the height of the container element.

[2021-08-09 19:33] samsymons commented on #943
@romanrudyy Great spotting, we'd very much welcome a PR for this if you're up for it! If not, I have capacity to fix this bug on Friday. 🙂

I'll assign this issue to myself for now, but if you open a PR for this by Friday morning then I'll review that and get it into the next release.

[2021-08-11 05:16] samsymons commented on #945
@unknown0521 The permission issue is interesting, do you have your own fork of the repo? If not, you can create one with the Fork button in the upper right and then push your changes to a branch there, which will let you open it as a PR. 🙂

If possible I'd love to get those as a PR as it's easier to track and review the changes on our end, and it also lets the changes go through our Bitrise CI pro

[2021-08-12 12:53] romanrudyy commented on #943
hey @samsymons, I won't be able make it for Friday as I'm stacked on work, but I could give it a go on Sunday, if that sounds good 🙂

[2021-08-12 19:41] samsymons commented on #943
@romanrudyy No problem at all, that would be fantastic - thanks so much!

[2021-08-20 09:17] SimonBackx commented on #901
Sorry for the delay! I was on vacation and didn't have time to pick this issue up afterwards. I'll try to pick this issue back up the coming days 😊

[2021-08-24 15:21] droid-user opened #953 "Save passwords entered on webpages via ddg-browser"
It is already possible to auto-fill passwords already stored in a password manager or the ios-vault.

Compared to safari, DDG seems to lack the possbility to save new credentials into the vault entered within DDG. At least whenever I try, there is no prompt to save credentials after I hit "enter" on a login page. Credentials have to be added manually or via SAFARI.

If it is possible to hand over

[2021-08-24 15:58] brindy commented on #953
Hi Fred,

Thanks for your feedback and we definitely agree.  iOS doesn’t support this “out of the box” but we are planning to support it in the future.

I’m going to close this out because it’s already on our development timeline.

Thanks again!

[2021-08-24 15:58] #953 closed, assigned to nobody

[2021-08-24 16:32] msmasters624 opened #954 "Disable video autoplay"
People are getting bombarded with auto play videos, it is taking an excessive amount of bank width. Google has blocked this option, can we get this option for duckduckgo?

[2021-08-25 13:05] msmasters624 commented on #540
Any update?

[2021-08-27 12:08] brindy commented on #896
Quick update here - we’re working on some improvements in this area.  Import/Export won’t be part of that, but it will lay the foundation for us to do that shortly afterwards.   Thanks for your patience! :)

[2021-08-27 12:09] brindy commented on #802
I was trying to reproduce this recently and was unable to, is it still an issue for your @rwdj ?

[2021-08-27 16:11] rwdj commented on #802
Nope. Feel free to close.

I only left this open for tracking purposes for y'all figuring out the root cause, but I haven't seen the temporary fix triggered in a good while.

[2021-08-27 16:14] brindy commented on #802
Great, thanks!

[2021-08-27 16:14] #802 closed, assigned to nobody

[2021-08-27 16:20] #943 closed, assigned to samsymons

[2021-08-28 02:36] samsymons commented on #954
Thanks for reporting this @msmasters624, we've had a couple folks ask for this; I've bumped the internal task that tracks this request.

I can't promise anything, but I'd like to solve this in the near future by offering a few autoplay options. If this ends up in a release, I'll ping you here to let you know – for now, closing this issue as it's tracked internally.

[2021-08-28 02:36] #954 closed, assigned to nobody

[2021-08-28 02:37] samsymons commented on #945
Hey @unknown0521 – thanks again for opening this issue, I'll close this for now but if you do find time to open your fixes for this issue as a PR we'd be happy to take a look.

Thanks!

[2021-08-28 02:37] #945 closed, assigned to nobody

[2021-08-29 08:40] Tommas2037 commented on #945
954

[2021-08-30 09:04] #901 closed, assigned to nobody

[2021-09-08 14:59] campbell-m opened #963 "Why does window.alert() not work?"
Why does window.alert() not work in DuckDuckGo on iOS?   As in the following code

[code]

[2021-09-08 16:45] samsymons commented on #963
Hey @campbell-m!

Thanks for reporting this, this is something that's on our roadmap. It's lower priority at the moment so I can't promise a timeframe for it being fixed, but I've added your request to the task internally.

Thanks again!

[2021-09-08 16:45] #963 closed, assigned to nobody

[2021-09-20 10:16] intra-au opened #970 "Fingerprinting tracking prevention"
DuckDuckGo iOS version is susceptible to fingerprinting tracking. A number of unique features allow to create an unique fingerprint and track this device:
1. Non standard "User Agent"
2. Modified color depth - 24 bit instead of Safari standard 32 bit

Additionally some things below can be randomized to reduce effectiveness of fingerprint tracking:
1. Hash of canvas fingerprint
2. Hash of WEBGL fin

[2021-09-21 14:40] brindy commented on #970
Hello, thanks for opening this.  I'm going to share it internally with our privacy team.  We'll be tracking it internally here https://app.asana.com/0/392891325557410/1201029961025274 (private link)

Thanks again.

[2021-09-21 14:40] #970 closed, assigned to nobody

[2021-09-22 17:33] brindy commented on #970
Hi @intra-au - just a quick update here. I passed to the privacy team and all these things are already on their radar.  Thanks again!

[2021-09-24 13:27] intra-au commented on #954
@msmasters624  there's extension you can use to disable autoplay "Disable HTML5 Autoplay" if that helps :)

[2021-09-27 14:24] gneil90 commented on #730
@brindy I am eager to help with this issue, is the status of the ticket up-to-date and still help wanted?

[2021-11-06 06:07] dingxiafei opened #998 "bloom_cpp is not upload"

[2021-11-06 06:08] #998 closed, assigned to nobody

[2021-11-06 06:11] ArkMu opened #999 "bloom_cpp is not upload"

[2021-11-16 15:24] samsymons commented on #999
Hey @ArkMu, thanks for your patience!

Have you initialized your submodules with `git submodule update --init --recursive`? See the [submodules section](https://github.com/duckduckgo/iOS#submodules) of the README for more info. 🙂

Let me know if that doesn't help.

[2021-11-16 15:24] #999 closed, assigned to nobody

[2021-11-28 18:33] fewerjunk commented on #896
For the record:

https://github.com/duckduckgo/Android/issues/209

Now do IOS.

"Patiently" waiting.

[2021-12-23 15:49] tsekityam opened #1023 "[iPadOS] Back button is missing in Privacy Protection Practices"
## What did I do
1. Go to https://apple.com
2. Check SSL information of the page

## What did I see
Back button in the top left corner is missing, however, clicking that area will be sent back to the previous page.
![Simulator Screen Shot - iPad mini (6th generation) - 2021-12-23 at 23 42 12](https://user-images.githubusercontent.com/3814422/147263058-660096a9-aa79-4038-88b0-777956ae6b13.png)

##

[2021-12-23 16:37] tsekityam opened #1025 "[iPadOS] back button in privacy protection score card view is not working"
## What did I do
1. Go to https://apple.com
2. Check privacy protection score card
3. Click back button in the score card header
![image](https://user-images.githubusercontent.com/3814422/147268662-d2a18da7-25b3-480d-8a6c-fd371bf867a2.png)

## What did I see
Nothing happens

## What do I expect
I am redirected to the previous page

## iPad version
Simulator
* Version 13.2 (972.2)
* SimulatorKit 61

[2022-01-09 23:45] arawin1979 opened #1031 "Reader View - Feature Request"
Would like to have similar to Safari browsers, having the reader view will be more useful so that DDG can be used as the default browser.

[2022-01-13 04:55] samsymons commented on #1031
Hey @arawin1979! Thanks for opening this issue, I've tracked your request internally so I'll close this issue for now. This is high on our list of feature requests – I'm not sure when it'll ship, but I'll let you know here when it does.

Thanks again!

[2022-01-13 04:55] #1031 closed, assigned to nobody

[2022-01-14 20:52] JohnnyDoe1984 opened #1034 "Device Fingerprinting Failing"
The iOS browser fails to protect against device fingerprinting: https://coveryourtracks.eff.org/

Are there any steps we can take to protect ourselves against fingerprinting? Also, is there anything I can do as a user to help resolve this issue?

[2022-01-25 14:33] samsymons commented on #1025
PR merged 🙂

[2022-01-25 14:33] #1025 closed, assigned to nobody

[2022-01-25 15:22] brindy commented on #1034
Thanks for your interest in DuckDuckGo!  Improving fingerprinting protection is an ongoing process and we'll be rolling out some improvements soon.

We're tracking this internally at https://app.asana.com/0/1163321984198618/1201712959561013

[2022-02-10 06:44] NaaeemMalik opened #1051 "outside collaborator: facing Concurrency is only available in iOS 15.0.0 or newer issue after cloning"
Hi guys
I was trying to clone and compile it as per documentation but it says

`Concurrency is only available in iOS 15.0.0 or newer`

I have done the steps required in docs

[2022-02-10 06:57] samsymons commented on #1051
Hey @NaaeemMalik! This is likely related to your Xcode version, you need to be on [Xcode 13.2 or later](https://developer.apple.com/documentation/xcode-release-notes/xcode-13_2-release-notes) to compile code which uses Swift Concurrency on versions older than iOS 15.

Are you able to check that you're using Xcode 13.2, and if not, update and try again? Let me know if you're still having issues aft

[2022-02-10 06:57] #1051 closed, assigned to nobody

[2022-02-10 12:03] NaaeemMalik commented on #1051
Thankyou sooo much for this instant help, I updated the xcode and it fixed the issues

[2022-02-13 17:59] quackquackt opened #1054 "Settings menu for ‘automatically clear data’ selections are deselected after closing the menu"
https://user-images.githubusercontent.com/99611397/153768125-d83583ae-6783-448a-90af-7f09a598ede7.MOV

[2022-02-13 21:10] samsymons commented on #1054
Thanks @quackquackt, good catch! This bug specifically occurs when you swipe the settings screen down to close it instead of using the back button.

I've opened a pull request to fix this: #1055.

[2022-02-14 20:07] #1054 closed, assigned to nobody

[2022-02-25 13:34] HaraldKi opened #1073 "Feature request: Support Data Urls"
It looks as if Duckduckgo does not support data urls: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

This in particular prevents "downloading" (i.e. saving locally) images that are generated and/or manipulated on a web page, i.e. for which there exists no blob on a server to fetch.

- Duckduckgo version: 7.65.9.0
- iPad 9th generation
- iOS version 15.3.1
- To reproduc

[2022-03-01 07:07] aloistr opened #1079 "damages links by url-ecoding = character between parameter name and value"
DuckDuckgo in version 7.65.11.0 IOS makes some websites inoperable.
In some links for some parameters, it replaces the = character which separates parameter name and value by an url-encoded %3D

For example, it turns
&sover=-2
into
&sover%3D-2

Such links of course no longer work.
It seems that this problem started on February 27 or 28, both on IOS and on iPad OS.

We observed this bug on the webs

[2022-03-03 20:04] aloistr commented on #1079
The wrong url encodings of the = character seeem to be created by DuckDuck go in links which contain a semicolon separator between parameter=value pairs in URLs.
The ; separator is the default created in perl CGI.
The wrong encodings also happen when an URL parameter contains = signs in the parameter valus, like
para=some=some2
here, the parameter value is some=some2 and the = in it must not be ur

[2022-03-11 20:40] CyanBlob opened #1088 "Add option to move fire button to the overflow menu"
I'm not somebody that uses the fire button often, so I'd rather have it be out of the way in the overflow menu. Ideally, we could swap in something like a home button into that space.

Having the fire button in that space by default makes sense since it's an important feature, but having the option to move/replace it would be great.

[2022-03-11 20:48] CyanBlob opened #1089 "Allow using the fire button to only clear data, not tabs"
I typically have a few tabs open at all times that serve as reminders. Since the fire button would close them, I end up barely using the fire button. Adding a prompt to clear data only, but not tabs, would be helpful.

Another option is to only clear data for sites that are not currently loaded in a tab, leaving those sites alone completely.

[2022-04-05 18:41] Kalzau opened #1110 "Search ignores plus ("+") characters"
App version: 7.66.1.0
Device model: Iphone 7
iOS version: 15.3.1

Steps to reproduce the bug:
E.g. search for "c++"
Expected behavior:
Get results for c++

Actual behavior:
"c++" gets replaced by "c  ", returning
different results.

-------------------------------------
Searching for plus characters exclusively lands the user at the ddg search website with the message "Oops, no search. Please try

[2022-04-06 22:43] raphaelzin opened #1111 "Access previous and forward tabs [Feature Request]"
Some sites prevent going back to the previous page, accessing the list of previous pages allows the user to navigate out of that issue.

Safari and Chrome have a long press gesture on the forward and back buttons displaying a table view with such list. DDG could have a modal similar to the `browsingMenu` when long pressing the navigation arrows.

From `MainViewController` The list can be populated

[2022-04-11 04:27] samsymons commented on #1111
Hey @raphaelzin!

Thanks for writing in. 🙂 We've got this on our roadmap, and I've added a link to your request to the task tracking this internally. I'll circle back with you here once this makes it into a shipping release, though no promises when that will be.

Thanks!

([Asana reference for DuckDuckGo team members](https://app.asana.com/0/715106103902962/1199195754063824))

[2022-04-11 04:27] #1111 closed, assigned to nobody

[2022-04-11 04:39] samsymons commented on #1110
@Kalzau Thanks so much for this excellent bug report. I've tested this locally and confirmed the issue.

This has been written up [internally](https://app.asana.com/0/414709148257752/1202106061320485/f), I'll flag this with the team and let you know here once this has gone into a release.

Thanks again!

[2022-04-11 04:39] #1110 closed, assigned to nobody

[2022-04-11 04:41] samsymons commented on #896
Good news! This feature is nearing the end of development and is planned to ship in a release soon.

I'll update here once this has gone live.

[2022-04-12 02:51] samsymons commented on #1089
@CyanBlob 👋 Thanks for writing in! I've opened a ticket internally ([DDG employee link](https://app.asana.com/0/414709148257752/1202113785689369/f)) to discuss this and will get back to you.

Is the favorites feature something that you'd find useful enough for this purpose? I use the Fire button regularly, but save favorites for websites that I frequently have open. Of course that's not as seamles

[2022-04-12 02:57] samsymons commented on #1088
Thanks @CyanBlob! I've opened an internal ticket to sync with the team on Fire button UX improvements, I'll get back to you. 🙂

[2022-04-16 22:35] cb0806151 opened #1124 "Accessibility Issue: "voice search" has the same label as "clear text""
I was helping a blind friend of mine use duckduckgo on iOS for searching today and noticed that the "clear text" and "voice search" icon both have the same label (that of "clear text") and it can be quite a bit confusing.

"voice search" icon label
https://github.com/duckduckgo/iOS/blob/3a368431856f16b9f4a192bcc4e2d3c4056730e6/DuckDuckGo/Base.lproj/OmniBar.xib#L198

"clear text" icon label
https:/

[2022-04-17 18:32] samsymons commented on #1124
Thanks @cb0806151! I've opened a PR to fix this: https://github.com/duckduckgo/iOS/pull/1125

[2022-04-19 13:51] #1124 closed, assigned to samsymons

[2022-04-22 17:28] rwdj opened #1131 "HTTPS-only mode"
DuckDuckGo would benefit in security from an HTTPS-only mode (and/or probably making it the default).

I tried blocking port 80 on my router to test how DuckDuckGo iOS loads websites. With that in place, I was unable to load websites I'd never been to but could load websites I regularly visit. And I could load any website if I manually changed from HTTP to HTTPS in the url. This is consistent with

[2022-04-22 17:42] rwdj commented on #1131
I used this website to send me places I'd never been via HTTP: https://www.random-website.com/

[2022-04-25 14:23] samsymons commented on #896
This is now available in version 7.67.0. Thanks everyone for the feedback! 🙂

![Bookmark Import Export](https://user-images.githubusercontent.com/183774/165109021-9bc248b0-d829-4f54-8e4a-67c6621bb221.jpeg)

[2022-04-25 14:23] #896 closed, assigned to nobody

[2022-04-30 00:28] smileatom opened #1137 "Accessibility - Enforce manual page zoom does not work/survive app restart"
Hi,

I cant use mobile browsers that dont allow force zoom override since many websites lock down very small fonts and I cant read them.

Sadly, the implementation of Accessibility/Enforce manual page zoom does not work.  If you enable it while a webpage is open it will mostly work if you are lucky.  However it will not work after a restart of the DDG app even though the setting is still enabled i

[2022-05-04 19:17] ayoy commented on #1079
Hi @aloistr!

Thanks a lot for the detailed report! This issue should now be fixed as we updated how URLs are handled in the address bar. Please give it a try with our latest release (7.67.1). I'm going to close this now, but feel free to comment or re-open if encoding is still broken for you.

Thanks again!

[2022-05-04 19:17] #1079 closed, assigned to ayoy

[2022-05-17 01:37] muizidn opened #1156 "Ignore Xcodefiles then use generated one"
Xcodeproj and Xcworkspace files should be ignored to avoid difficult conflict resolution. These conflict can be moving files, rename files, add files, remove files, modularization, and so on.
The solution is to use spec to generate these files. I personally use Xcodegen in my project for simplicity and Bazel for complex one.

Can I contribute to this project to implement above issue? I propose to

[2022-05-17 03:11] samsymons commented on #1156
Hey @muizidn,

Thanks for submitting this issue! Coincidentally, we chatted about this as a team recently, specifically discussing XcodeGen and [Tuist](https://tuist.io) as possible options. We decided that this isn't something we want to prioritize at this moment, but plan to trial XcodeGen using an internal project that's easier to migrate some time later this year.

We're a small team and rarel

[2022-05-17 03:11] #1156 closed, assigned to nobody

[2022-05-17 03:51] samsymons commented on #1073
Hey @HaraldKi! Thanks for submitting this, I've filed this as a request with our product team ([DuckDuckGo employee link](https://app.asana.com/0/414709148257752/1202180605805684/f)). I'll follow up with you here once I have some more news to report, the employee task has this issue cross-referenced so I'll close it. 🙂

[2022-05-17 03:51] #1073 closed, assigned to nobody

[2022-05-17 04:43] samsymons commented on #1137
Hey @smileatom,

Thanks for writing in – since you mentioned this is specifically an Android issue, I'm closing this out. Please do let us know if you run into any other issues though!

Thanks!

[2022-05-17 04:43] #1137 closed, assigned to samsymons

[2022-05-25 14:01] daisuke-t-jp opened #1164 "Suggestion list text is cut off."
When searching in Japanese,
The top of text in the suggestion list is cut off.

It seems that the height of the cell is not enough.

The screenshot is iPhone SE / iOS 15.5 and App version 7.67.5

Thanks.

<img src="https://user-images.githubusercontent.com/45647069/170278915-85770d76-47b8-4ad2-867b-c803eedc2015.PNG" width="400">

[2022-05-25 14:11] daisuke-t-jp commented on #1164
This issue happened with apps in the App Store, but not with apps built with Xcode.

From this, I think it happens with the Proxima Nova font.
Because I don't have a licensed font.

[2022-06-14 09:41] miasma13 opened #1191 "Incorrect URL query parameters encoding mechanism"
When using URLComponents it may incorrectly percent-encode special (reserved) characters in the query parameters.

Current usage of method: https://github.com/duckduckgo/iOS/blob/9f21d345e9a6bea14a1ac050fec4eac9cb244dac/Core/URLExtension.swift#L44
should be replaced with enhanced:
https://github.com/duckduckgo/BrowserServicesKit/blob/fc6c3181a1ac5d8a917710af699c26bd367c0193/Sources/BrowserServices

[2022-06-14 11:29] miasma13 opened #1193 "URL with pipes not loaded properly"
When entering URL into the address bar that contains a pipe character it is not loaded instead it triggers search using it as an input.

Sample URL:
http://ugears-russia.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=cid|48500271|search&utm_content=gid|4062331291|aid|8437422545|19298569882_&utm_term=ugears%20com&pm_source=none&pm_block=premium&pm_position=1&yclid=7571478690058238228

[2022-06-14 11:31] miasma13 opened #1194 "Bookmarks Edit button moves in certain situations"
Task/Issue URL: https://app.asana.com/0/414709148257752/1202232885673991/f

Steps to reproduce:

1. Swipe to delete on a bookmark (but don't delete)
2. Press edit
3. Edit moves, and the app isn't in edit mode

[2022-06-14 11:33] miasma13 opened #1195 "Crash when editing bookmarks"
Task/Issue URL: https://app.asana.com/0/414709148257752/1202232885673989/f

Steps to reproduce:

1. Swipe to delete on a bookmark (but don't delete)
2. Press edit
3. Edit moves, press edit again
4. Press done
5. Swipe to delete again
6. Press edit
7. App crashes

[2022-06-17 09:00] miasma13 opened #1200 "TrackerRadarKit crash when deserialising JSON"
**Task/Issue URL:** https://app.asana.com/0/414709148257752/1202407381883565/f

On older devices the JSON deserialisation when initialising TrackerRadarKit objects. Reason of the crash is that this code is done in scene initialisation and with slower performance the device is not doing it under assigned time and the app is killed by watchdog.
The source of the crash is **ContentBlockerRulesManager

[2022-06-17 12:46] bwaresiak commented on #1200
Are we sure this is the only place where the problem lies? There are more places in the iOS scene initialization flow that reach to TDS, like fallback in `DefaultContentBlockerUserScriptConfig:54` or `DefaultSurrogatesUserScriptConfig:60` to load `trackerDataManager?.trackerData` in case nothing is provided - and it is invoked by `viewDidLoad` logic on Tab initialization:

<img width="430" alt="in

[2022-06-17 14:12] miasma13 opened #1202 "Printing on specific site does not work"
Task/Issue URL: https://app.asana.com/0/414709148257752/1202193006784955/f

**Steps to reproduce:**
1. Navigate to https://www.theenglishkitchen.co/2009/09/beer-battered-fish.html
2. Scroll down and tap on the "Print" button
3. A new blank page with "about:blank" URL tab is opened and nothing happens

[2022-06-17 14:15] miasma13 opened #1203 "Sharing BLOB URL file does not work"
BLOB URLs work when opened directly in the tab. But downloading from such URL is not possible hence sharing a such file does not work (since first it is download to a temp location and then shared to other app).

[2022-06-17 19:43] ronaaronson opened #1204 "The "back" button sometimes brings you to the top of the previous page rather than where you had been."
I am running Version 7.67.9 under IOS 15.5 on an iPhone SE. If I am on site nytimes.com and click on a hyperlink from somewhere on one of this site's pages and then click < to go back to the previous page, it always brings me back to the top of the previous page rather than to where I clicked the hyperlink. This behavior does not happen with Safari.

[2022-06-20 04:48] mallexxx commented on #1200
@bwaresiak valid concern, what do you think about refactoring the CBR/UserScripts loading to Publishers sequence and waiting for CBRs to finish compiling in decidePolicyForNavigationAction?

[2022-06-20 12:43] bwaresiak commented on #1200
Yes - but we need to wait for @jaceklyp's code to land (days I guess?) as he is working on first loading improvements.

[2022-06-28 11:07] #1195 closed, assigned to mallexxx

[2022-06-28 11:07] #1194 closed, assigned to mallexxx

[2022-07-01 18:16] charkour opened #1222 "Can't find variable: webkit"
Hi, thank you for this great app.

However, when I try to checkout with PayPal on some sites, PayPal will open a new tab. When I complete the PayPal information and return to the ecommerce site, I get an error "Can't find variable: webkit".

I'm an engineer working on an ecommerce site and would love to know how to fix this error.

Thanks.

[2022-07-12 01:02] mauriciomaniglia opened #1231 "Remove unused code from BrowserChromeManager file."
Method `refresh` inside  BrowserChromeManager and BarsAnimator is not being used in the project.

[2022-07-12 09:41] #1203 closed, assigned to mallexxx

[2022-07-12 22:50] #1231 closed, assigned to nobody

[2022-07-13 07:27] mallexxx commented on #1200
I made an initial effort refactoring the ContentBlockingRules to async waiting and loading as a single asset;
@bwaresiak when you have time please check and we‘ll have a chat to validate the approach

[2022-07-14 13:58] mauriciomaniglia opened #1236 "Improving BarsAnimator component"
Currently the project has a class called `BarsAnimator` that is responsible for the animations to show/hide the navigation bar when the user scroll up or down in the app. The app is working correctly but today there's no automated test to guarantee the correct behavior. I did a quick test and changed the behavior of this class to see if there are tests catching this, but apparently all the tests p

[2022-07-18 03:17] W6C opened #1239 "Clicking Email Protection results in immediate crash of the app on iPadOS 16."
Environment:
 iPadOS 16 Beta 3
 DuckDuckGo app 7.68.5.0

Bug:
When clicking the email protection button, the app will crash immediately and disappear. Meanwhile, the DuckDuckGo desktop app button works well.
I will appreciate it if it is fixed soon.

[2022-07-18 03:18] samsymons commented on #1239
Hey @W6C! Thanks for reporting this. We have a PR open that will be merged this week that resolves it: https://github.com/duckduckgo/iOS/pull/1235

I'll update that PR to link back to this issue so that you get notified when it's merged.

[2022-07-18 03:20] W6C commented on #1239
Thanks for your immediate feedback,it’s so nice of you to do it!

[2022-07-18 04:52] #1239 closed, assigned to nobody

[2022-07-19 02:49] mallexxx opened #1241 "Improving VoiceOver (Accessibility evaluation)"
Parts lacking VoiceOver coverage:

- More menu
-- When the menu is shown, navigation bar, address bar and web content are still present for VoiceOver and narrated which is wrong comparing to regular Context Menu - should only display menu background as a Close menu item
-- Displays menu items as "Text" elements, should be "Button" elements
-- Separator elements displayed as an extra unpronounceabl

[2022-07-20 04:45] mallexxx opened #1243 "JavaScript custom alert view Design Review"
Original designs
<img width="958" alt="Screenshot 2022-07-20 at 12 32 50" src="https://user-images.githubusercontent.com/365498/179897534-a4b78b2b-5f00-44d3-845a-51041a466cd3.png">

Implementation
<img width="421" alt="Screenshot 2022-07-20 at 12 34 07" src="https://user-images.githubusercontent.com/365498/179897925-149a2bcf-54e2-428b-9835-7595c98231dc.png">
<img width="418" alt="Screenshot 2022-0

[2022-07-20 04:53] mallexxx opened #1244 "JavaScript custom alert view Product Review"
Task/Issue URL: https://app.asana.com/0/715106103902962/1202323846903922/f
Background:
- A malicious website may display alerts like "You‘ve been hacked" in a loop
- Currently the displayed alert is blocking the whole browser UI leaving a user with an only option to close the app completely, that‘s why "Block alerts from this website" button was added
- Although this solves the issue of blocked UI

[2022-07-20 04:57] mallexxx opened #1245 "JavaScript custom Alerts localisation"
Design ref:
![](https://user-images.githubusercontent.com/365498/179897534-a4b78b2b-5f00-44d3-845a-51041a466cd3.png)

Added 2 copy items needing localisation:
"Close This Tab" (comment: "“Close this tab” button for JavaScript alerts", id: "webJSAlert.close.tab.button")
"A message from %@:" (comment: "Alert title explaining the mssage is shown by a website" e.g. "A message from duckduckgo.com", id:

[2022-07-20 05:03] mallexxx commented on #1236
Hey @mauriciomaniglia! Thank you for taking the time to contribute to DuckDuckGo!
Could you please add some more details on what problem are you trying to solve and how the proposed change would increase the product value?
Please refer to  [CONTRIBUTING.md](https://github.com/duckduckgo/iOS/blob/develop/CONTRIBUTING.md)  for more details

Thank you!

[2022-07-20 11:21] mallexxx opened #1246 "Crash and no deselection in Autofill Details"
- Open an Autofill item details
- Tap login/password/address cell: context menu appears
- Tap on a free space: menu disappears but the cell stays selected
- Tap an item for context menu to appear
- Tap "Edit": app crashes

[2022-07-20 11:35] Bunn commented on #1243
Design Review: https://app.asana.com/0/1129367408583813/1202636847279854/f

[2022-07-20 13:47] mauriciomaniglia commented on #1236
@mallexxx sure!

[2022-07-20 14:37] W6C opened #1249 "WebRTC leakage on iOS and iPadOS 16"
Device OS: iOS 16 & iPadOS 16
DuckDuckGo version:7.68.6.0
Problem:
1, webrtc leaks real ip over VPN on both iPhone and iPad.
2, clicking email protection causes immediate crash on iPad.

[2022-07-27 01:32] PawNzZi opened #1255 "no support ios13"
my iphone is ios13,but ddg no support ios13,ddk can support ?

[2022-07-27 02:49] samsymons commented on #1255
Hey @PawNzZi, thanks for writing in!

Unfortunately, we can no longer support iOS 13 as we rely on iOS features that are only available on iOS 14 and above. You should be fine to continue to use the latest iOS 13-compatible release, but I recommend upgrading to iOS 14 if you're able to, for the most up-to-date privacy protection.

[2022-07-27 02:49] #1255 closed, assigned to nobody

[2022-07-27 02:50] samsymons commented on #1249
Hey @W6C! Thanks for submitting this – the second issue should now be fixed in the latest release.

I'll file the first issue with the team and get back to you.

[2022-07-27 03:08] PawNzZi commented on #1255
Thank you for your reply, I expressed my regret, because my equipment is now jailbreak, and iOS15 cannot be jailbroken for the time being, so I can only choose to stay on iOS13.

[2022-07-27 03:08] PawNzZi commented on #1255
Thank you for your reply, I expressed my regret, because my equipment is now jailbreak, and iOS15 cannot be jailbroken for the time being, so I can only choose to stay on iOS13.

[2022-07-27 03:19] samsymons commented on #1222
Hey @charkour! Thanks for your patience while we got back to you here.

This is a pretty interesting one – do you have a concrete set of steps I can use to test this out? (As an aside, I got an internal bug report about PayPal checking causing a crash in the app today... likely not related, but there's enough going on here now that I'd like to dig deeper)

[2022-07-27 16:34] charkour commented on #1222
Hi, @samsymons. Thank you for getting back to me. I'll give some more context to help out!

Looking at our logs for the production ecommerce site, we have had 54 instances of `ReferenceError: Can't find variable: webkit` that are from two user sessions. This happens on iOS 15.5 and 14.8 when using the iOS DuckDuckGo browser. These errors seem to most commonly happen when PayPal elements are loaded

[2022-07-31 10:13] byaruhaf opened #1260 "minor misspelled words in the swift comments & Class name"
There are minor misspelled words in the swift comments & Class name

class example:
[code]
comments example:
[code]

[2022-07-31 10:25] rhwood commented on #524
Please re-review this decision not to provide this.

I use the DuckDuckGo Safari Extension in macOS with great effect, and find that the Firefox Focus content blocker on iOS blocks too much. The DuckDuckGo Safari Extension in macOS does not block content that Firefox Focus does. I rely on features of the Safari browser and other apps that support extensions in it too much to be able to switch to a

[2022-08-02 11:07] #1236 closed, assigned to nobody

[2022-08-02 11:40] #1246 closed, assigned to mallexxx

[2022-08-08 23:45] WillHick opened #1267 "Bottom Bar"
Bring the search bar down to the bottom like the latest safari version does allowing better reach and new design intentions

[2022-08-09 13:56] samsymons commented on #1267
Hey @WillHick! Thanks for filing this, this has come up internally a few times – I'll add your request to the list. Thanks!

[2022-08-09 13:56] #1267 closed, assigned to nobody

[2022-08-12 00:17] WillHick opened #1273 "Protections Menus"
Will the Protections Menu ever see a dark theme DDG IOS has a nice dark theme but will the Protections Menu get one?

[2022-08-12 00:21] samsymons commented on #1273
Hey @WillHick! Yes indeed – we do plan on revamping this screen, part of which will be including support for Dark Mode 🙂

We already use an updated Privacy Dashboard in our macOS browser, which supports Dark Mode as you can see below. You can expect the updated iOS Privacy Dashboard to be similar to this.

<img width="360" alt="Updated Privacy Dashboard" src="https://user-images.githubusercontent.

[2022-08-12 00:21] #1273 closed, assigned to nobody

[2022-08-12 00:23] WillHick commented on #1273
Oh awesome, looks amazing and can't wait to see it 👌🏼

[2022-08-19 21:09] ItsCryptic opened #1284 "DuckDuckGo adds a "." in front of most urls if you dont put "https://" before it"
This issue is pretty self-explanatory. This also seems to affect android in a different way, instead of putting a "." it crashes the app.
![image](https://user-images.githubusercontent.com/43621653/185707479-6e049f92-10a8-4d2f-bc13-f55e054cb4eb.png)
https://user-images.githubusercontent.com/43621653/185707539-b321daa6-1468-4bc4-ab38-78fb1f6db68b.mp4

[2022-08-19 21:18] ItsCryptic commented on #1284
To re-produce, go to any url (without adding https://) and it should put a "." in front of it, essentially not allowing the site to be reached.
Device: iPhone 13 mini
App version: 7.69.11
iOS version: 16.0

[2022-08-20 00:47] #1284 closed, assigned to nobody

[2022-08-23 06:18] mallexxx commented on #1243
Closing this due to Design Review completed

[2022-08-23 06:18] #1243 closed, assigned to Bunn

[2022-08-24 02:17] WillHick opened #1287 "Feature Request - New Tab Page"
Can we add some more life to the tab page e.g. Blocking stats, if you add a favourite site it doesn't remove the Dax logo else if looks so empty and bland, maybe some image based wallpapers for it would be awesome to do as some finishing touches?

[2022-08-24 12:00] #1202 closed, assigned to mallexxx

[2022-08-25 05:26] #1241 closed, assigned to mallexxx

[2022-08-26 06:47] #1193 closed, assigned to mallexxx

[2022-08-26 06:47] #1191 closed, assigned to mallexxx

[2022-08-26 07:04] mallexxx commented on #1244
Review passed

[2022-08-26 07:04] #1244 closed, assigned to Bunn

[2022-09-10 14:54] meotimdihia opened #1307 "Please help to debug console.log on DuckDuckGo Browser"
DuckDuckGo and BraveBrowser are getting this error on IOS.
Please use DuckDuckGo then go to this URL: https://nextjs-sentry-example-rc0pf04gv-meotimdihia.vercel.app/

I don't know how to get `console.log` error with DuckDuckgo.:

![image](https://user-images.githubusercontent.com/300961/184475369-5decaffb-8b03-435f-b529-b310edf2f196.png)

You can read more about this issue here:
https://github.com

[2022-09-10 18:44] UnfixedSun commented on #1023
@tsekityam @roop @dav @ayoy @st3fan Please assign me this. Thanks.

[2022-09-22 11:07] meotimdihia commented on #1307
DuckDuckGo 7.70.3 fixed this bug :).

[2022-09-22 11:07] #1307 closed, assigned to nobody

[2022-10-07 14:20] Pufftii opened #1334 "Ios1.1"

[2022-10-07 15:28] #1334 closed, assigned to nobody

[2022-10-13 12:28] stewx commented on #1222
Anyone figure this out?

[2022-10-18 06:37] tomeverin opened #1353 "Feature Request: Address Bar at the Bottom of the Screen"
Migrating from Safari on iOS I have become accustomed to the search/address bar being positioned down the bottom of the screen with the keyboard. It would be great if DDG browser had this as an option too.

[2022-11-09 23:43] WillHick opened #1372 "Bottom Bar"
When will a bottom bar option be available, the one reason from me migrating to the DDG browser?

[2022-11-21 17:05] tsekityam opened #1398 "Swap to go back doesn’t work when stage manger is on"
Asana: https://app.asana.com/0/414709148257752/1203416510097766/f

## what do I have
* iPad Pro (11-inch) (3rd generation)
* iPadOS 16.1.1 (20B101)
* DuckDuckGo 7.70.11.0

## what did I do
1. Turn on stage manager
2. Open DuckDuckGo app
3. Go to Apple.com
4. Click any link in the page
5. Swap from the left edge of the iPad to right.

## what did I see
Other recent app from stage manger is shown on

[2022-11-21 18:45] samsymons commented on #1398
@tsekityam Thanks for reporting this! I'll check it out and create a task to track this internally.

[2022-11-27 23:27] samsymons commented on #1398
This was fixed by @fsalata and will be in the December 5th iOS release. Thanks for reporting this @tsekityam!

[2022-11-27 23:27] #1398 closed, assigned to nobody

[2022-11-28 03:31] samsymons commented on #1372
@WillHick Thanks for suggesting this! This is a pretty popular request, and one that has come up again internally earlier this month. I can't promise any real timeline, but it's something we're looking into.

Since this is tracked internally, I'll close this issue down, but will ping you here once there's something to report.

Thanks again!

[2022-11-28 03:31] #1372 closed, assigned to nobody

[2022-11-28 03:33] samsymons commented on #1353
Hey @tomeverin! Thanks for suggesting this. This is a popular request, and is something that we're exploring internally.

Since we have this tracked internally, I'll close this issue, but you can expect to hear from me here once I have news to share.

Thanks again!

[2022-11-28 03:33] #1353 closed, assigned to nobody

[2022-11-28 03:34] samsymons commented on #1200
@mallexxx Closing this out as the original PRs have been merged, and the Asana task is complete. Of course, feel free to re-open if there's more work to do that I'm not aware of.

[2022-11-28 03:34] #1200 closed, assigned to mallexxx

[2022-11-28 03:49] samsymons commented on #1023
This will be fixed by https://github.com/duckduckgo/iOS/pull/1373 once it's merged

[2022-11-30 14:38] #1023 closed, assigned to nobody