[2013-08-21 14:29] nilnilnil opened #2 "cloud save settings on mobile app"

[2014-02-04 22:32] nilnilnil opened #9 "introduce TLS visual cue"

[2014-05-29 09:53] micpringle opened #33 "!Bang suggestions not including the associated sites' icon"
@nilnilnil

I've noticed this morning that the !bang suggestions returned by DDG don't include the sites' icon (_where available_) once you get beyond the !bang.

For instance, if I enter **!a** an image is returned in the JSON:

![screen shot 2014-05-29 at 10 43 21](https://cloud.githubusercontent.com/assets/20023/3116275/87a49448-e716-11e3-8a56-8fbee81ba1f2.png)

But if I enter **!a headphones**

[2014-06-21 17:34] nilnilnil opened #39 "app sound doesn't work through dock?"
No sound coming from the iOS app when using a 3rd party speaker dock but it works fine in iOS Safari using DDG.

[2014-07-14 03:59] chrismorast opened #44 "All text in landscape view goes to title size."
@micpringle @nilnilnil , when I turn my phone to landscape in readability view all text converts to title size. @micpringle please assign to @nilnilnil if this is not something that should be in your court. Thanks.
![photo 1_20](https://cloud.githubusercontent.com/assets/7061920/3567003/4afedf1c-0b0b-11e4-8525-0ef5d50ce2c6.PNG)

[2014-10-14 16:07] nilnilnil opened #48 "iPad Air Concerns"
I just went through ~70 issues and some of them were from users experiencing issues on the iPad Air.  It's unclear if it's just frustration with the fact it's not a universal applicaiton though.

[2014-11-03 16:27] marcpalmer opened #49 "Enhance the out-of-box experience for contributors"
Silly little things, but it would be nice to make it a no-brainer for people to clone and build.

I did this with master (1de348fd) and had the following issues building with Xcode 6.1 (not sure whether or not this is relevant, I don't think so):

1. Document the `git submodule update --init` command required to pull down the dependencies, to save numpties like me who don't use submodules (cocoapo

[2014-11-11 01:54] zekiel opened #50 "Swiping back returns to Home and not Results"
clicking a results and then swiping back returns to Home instead of the results page

[2014-12-18 22:08] jaredStef opened #51 "Reccomendation: Convert to Swift"
Last summer Apple unveiled its new programming language Swift to the world. Eventually Obj - C is going to be phased out. Due to the great new features and new syntax it makes coding iPhone apps even easier. I feel that then more people may contribute to this project if we converted to Swift. I want to help do this, but before I wrote some code I figured it should be discussed.

[2015-01-08 21:41] apbendi commented on #50
This functionality is built into the `WKWebView` class introduced in iOS 8, so if you are planning to switch from `UIWebView` this would be a [one liner](https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebView_Ref/index.html#//apple_ref/occ/instp/WKWebView/allowsBackForwardNavigationGestures).

[2015-01-11 19:48] apbendi commented on #50
Yep, agreed. But if it's on the roadmap, it might not be worth implementing a complex solution to make this worth with UIWebView either.

[2015-02-05 11:34] nilnilnil opened #53 ""Change Sources" show duplicates on initial launch of iOS DuckDuckGo app"
@tommytommytommy @micpringle @infinitekind

[2015-02-05 11:34] nilnilnil commented on #53
![image](https://cloud.githubusercontent.com/assets/347240/6059546/16eb73a0-ad01-11e4-8b98-fa30a02e69df.png)

[2015-02-05 11:35] nilnilnil commented on #53
![qwer](https://cloud.githubusercontent.com/assets/347240/6059555/3c33de7c-ad01-11e4-91df-f5cf3033a138.png)

[2015-03-17 16:00] chrismorast opened #54 "Empty gap where device status bar would be in landscape view"
The space is there but we don't show anything in it. Can we just shorten the height of the frame to accommodate only the height of the search field?
![img_4632](https://cloud.githubusercontent.com/assets/7061920/6691443/d2b4ccc0-cc83-11e4-81ec-874aa52cca12.png)

[2015-03-17 16:41] chrismorast commented on #54
@nilnilnil

[2015-08-31 12:53] thm opened #56 "Cancel tap when finger is moved"
When tapping a story (from the feed) or search (from favorites or recents), sliding, and then releasing, the item is activated regardless. We should cancel the tap once a finger is moved.

[2015-08-31 13:01] thm opened #57 "Close drop-down on scroll"
When the 3-dot menu is open and you start scrolling the feed, the menu is closed as expected. However, you have to scroll again to make the page actually scroll. I would like to remove one step so that the page scrolls immediately rather than requiring you to lift your finger off the screen to scroll again.

Current:
1. 3-dot menu is open
2. scroll feed, menu is closed
3. scroll feed again to actu

[2015-08-31 13:09] thm opened #58 "Added functionality for icons"
The tabbar icons (search, stories, favorites, recents, settings) currently open the corresponding page. However, when you tap them again, nothing happens. When you tap the icon of a page you're already on, the page should scroll to the top of the main page (same effect as when you're tapping the statusbar).

_Some apps that are doing this right are Instagram, Twitter, Facebook, etc. Scroll down yo

[2015-08-31 13:23] thm opened #59 "Remove stories from search, and missing dividers"
Recently read stories are appearing within search. We should only have recent searches appear within search. Recent stories should only appear within the recent stories tab (which is already the case).

In addition, I'm missing a lot of dividers throughout the interface, can you add them back in?

![photo-31-08-15-3-12-13-pm](https://cloud.githubusercontent.com/assets/1379822/9579586/1b2778f6-4ff4

[2015-08-31 13:29] thm opened #60 "Fix share topbar and message format"
When sharing a story the topbar looks horrible, Can you use the default color and alignment treatment here? That would be white text on a fully red topbar.

![photo-31-08-15-2-46-18-pm](https://cloud.githubusercontent.com/assets/1379822/9579967/922a20dc-4ff6-11e5-80d8-bf4dd199b70c.png)
![photo 31-08-15 2 46 29 pm](https://cloud.githubusercontent.com/assets/1379822/9579729/fc13cf68-4ff4-11e5-8be6-d

[2015-08-31 13:34] thm opened #61 "Add story title to tweet"
When sharing a story to Twitter, we currently only pre-fill the URL of the story. Can you also include the story title and the via-DDG-phrase? So, that would be: "{Title} {URL} via DuckDuckGo for iOS"

[2015-08-31 14:13] thm opened #62 "Settings page fixes"
1. Can you put the "Reset to Default" and "Suggest a Source" together in the "Options" section on the Settings > Sources page? and then please confirm the bottom of that page has proper spacing (should be the same as inbetween sections)

2. Can you make sure the search-field placeholder and icon are center-aligned correctly on the Settings > Sources page? and then when you focus the field, we can

[2015-08-31 14:29] thm commented on #62
5. Can you decrease the space left of the source titles/descriptions so that the space left and right of the source icons are equal?

[2015-08-31 14:35] thm opened #63 "Empty search field"
How to reproduce:
1. Type something in the search field
2. Tap cancel
3. Search field is empty (no placeholder, no icons)

[2015-08-31 18:22] chrismorast opened #64 "Math for screen height is off in stories and web pages"
The screen height doesn't seem to be calculated correctly.

Here are some screenshots.

1. When I click a story this is how the screen slides in. Notice the black bar at the bottom which seems to be the offset once the screen loads.
![img_5081](https://cloud.githubusercontent.com/assets/7061920/9586517/25197fde-4fd2-11e5-8086-07dcf1382b5a.png)

2. When I view the image detail pane, it gets cut sho

[2015-08-31 18:25] chrismorast commented on #64
cc @thm

[2015-08-31 18:29] thm opened #65 "Put homepage option back in settings"
If I'm right, we used to have a homepage option (like we have on Android) so that you can set your homepage to be Stories, Favorites, Recents or just Search. @sreilly, can you put this option back?

cc @chrismorast

[2015-08-31 20:10] sreilly commented on #65
Sure thing.  Although what do you think about simply returning to the last used tab?

[2015-09-01 14:02] thm commented on #65
@sreilly I'm concerned people may perceive that as an inconsistency. Ofcourse, when you only minimize the app, and then open it again, the app will just continue with what you were doing. However, the homepage is the page you see when you first open the app (currently the story feed)

[2015-09-01 15:05] sreilly commented on #62
ok, the next build includes all of these, although I'm not sure about #2 because the settings screen uses the same top bar as the rest of the tabs.  Is that supposed to be different, or was it misbehaving?

[2015-09-01 15:53] thm opened #66 "Auto-hide topbar and tabbar when scrolling in Search"
Just like Safari on iOS, can we automatically hide the option-bar at the bottom of Search when you start scrolling the page, and then bring it back once you scroll back up a bit? We can use the same transition as Safari uses

_Note: this is just for the Search tabbar (prev, next, favorite, share), not for the main tabbar_

[2015-09-01 16:00] thm opened #67 "Alignment issue in search field"
@sreilly can you make sure the margin on the right of these two icons is similar to the space above and below the icon? That means moving the icon to the left about 7px/3.5pt

![comparison](https://cloud.githubusercontent.com/assets/1379822/9609303/46f42ec2-50d3-11e5-9835-f27f41a4e362.png)

[2015-09-01 16:25] thm opened #68 "Brief blinks and visual bugs"
1. When I go back to a Stories feed (stories, favorites or recents) the story images sometimes briefly blink. I assume the page is being refreshed, but I'd prefer to do that in the background (without transitions)

2. Sometimes, above and below the search field, two white lines appear
![lines](https://cloud.githubusercontent.com/assets/1379822/9609870/6b2cc6d4-50d6-11e5-8a44-769d6c3709eb.png)

[2015-09-01 16:36] thm opened #69 "More alignment issues"
1. The distance of the 3-dot menu to the edge of the screen is 16px, while the distance of the search-field (and the segemented tabbar) to the edge of the screen is 20px/10pt. Can you decrease the margin on both sides of the latter so it matches the margin of the 3-dot menu?

2. The refresh icon in the search field should only be visible when there's actually a URL or query to refresh

3. Upon clo

[2015-09-01 18:29] thm commented on #62
Thanks!

in regards to point 2, I meant the Sources page. In the screenshot below you can see how the placeholder there is not centered correctly:
![misaligned](https://cloud.githubusercontent.com/assets/1379822/9612615/e5d18cb6-50e6-11e5-9a27-d133e72c2864.png)

...and in addition, we can hide the settings icon once you start searching, since tapping "Cancel" will take you back to settings:
![scre

[2015-09-01 18:29] thm commented on #62
number 4 is nearly spot on, the only thing is that the spacing at the bottom is slightly off (comparison below, desired height is 128px/64pt)
![comparison](https://cloud.githubusercontent.com/assets/1379822/9612697/5da28bbe-50e7-11e5-9729-199ba8822da1.png)

[2015-09-01 18:33] thm opened #70 "Keyboard doesn't popup anymore on Search tab"
The keyboard should pop up and the search-field should be focused when you tap the Search tab

[2015-09-01 18:37] thm opened #71 "Greyed out story titles"
Story titles in the story feed should only be greyed out when that story is actually in the Recents feed. Removing a story from your Recents should result in the story title getting the default/darker color again

[2015-09-01 21:38] sreilly commented on #61
this is fixed in the upcoming build

[2015-09-01 23:46] chrismorast opened #72 "Buggy behavior on 'Search' tab"
When I go to the search tab, focus the search field, and then try to click on one of the items in the list, it tries to load but nothing shows up. From there, I get different issues come up each time and I continue to click around. Sometimes it will just get stuck altogether.

[2015-09-01 23:48] chrismorast opened #73 "'Search' tab should not have recent stories in the list."
This should only display searches; recent and favorited

[2015-09-02 08:56] sreilly commented on #72
I'm not seeing this.  Can you try it after a force-quit to see if it happens when first started or if there's something happening in the middle that's causing things to be gummed up?

[2015-09-02 09:28] thm commented on #72
This is happening for me too, the screenshot below is after tapping the "dribbble" favorite. However, so far I'm unable to reproduce other issues @chrismorast
![photo 02-09-15 11 18 37 am](https://cloud.githubusercontent.com/assets/1379822/9627622/8a0464a6-5165-11e5-9519-b17003ddf171.png)

[2015-09-02 09:29] thm commented on #73
Also mentioned in #59 ;)

[2015-09-02 09:44] sreilly commented on #59
the dividers should be back now, but still have to filter out the stories

[2015-09-02 15:55] sreilly commented on #59
as of the latest commit (testflight forthcoming) the stories are no longer listed in the recent query list

[2015-09-02 21:54] chrismorast opened #74 "Clearing Recents should also clear visited story title color changes"
When I clear recents in settings it should also revert all of the story titles of the stories I've read back to default color

[2015-09-02 22:12] chrismorast commented on #72
I force quit and still have the same issues. The other issues relate to the recent story feed in the search tab. Since those shouldn't be there in the first place, maybe it's not worth looking into. But incase this relates to something bigger, here's what you can try in hopes of reproducing it;

First, try reading several stories from different sources so they populate the recent story feed.

Then

[2015-09-03 08:02] thm commented on #74
Related: #71

[2015-09-03 08:32] sreilly commented on #72
ok, I think I've found and fixed this bug.  The cause was that the autocompletion list wasn't being dismissed/hidden after a favorite item was tapped.  The browser would load, but everything would be behind the autocompletion view so it seemed like nothing at all was happening.

[2015-09-03 08:52] sreilly commented on #71
ok, this is now fixed.  For these tickets would you like me to close them when I fix them or would you do it when you confirm the fix?

[2015-09-03 08:52] sreilly commented on #73
all fixed now.  build forthcoming!

[2015-09-03 08:53] sreilly commented on #70
this is now fixed as of the testflight build this morning

[2015-09-03 09:20] thm commented on #71
@sreilly Awesome! feel free to reassign back so the creator of an issue can confirm the fix! This is not included in the latest build yet, right?

[2015-09-03 09:21] thm opened #75 "Move 'World Traveler' region to top"
In Settings, can you move the "World Traveler (none)" region option to the top of the list and rename it to "None (Default)"?

[2015-09-03 09:29] #70 closed

[2015-09-03 10:38] sreilly commented on #69
This should now be fixed (pending most recent build 596)

[2015-09-03 10:47] sreilly commented on #74
this should be fixed now (possibly in the soon-to-testflight) build 596

[2015-09-03 10:48] sreilly commented on #67
should be fixed now, but please double-check!

[2015-09-03 10:49] sreilly commented on #64
all fixed!

[2015-09-03 10:49] sreilly commented on #63
should be fixed now!

[2015-09-03 10:50] sreilly commented on #58
all set!

[2015-09-03 10:51] sreilly commented on #54
this is resolved in the 2015 preview

[2015-09-03 11:40] thm commented on #58
Awesome, feels so much smoother right away!

[2015-09-03 11:45] thm commented on #59
@sreilly I'm still seeing URLs that I've surely not typed in myself. Only search queries should be visible here and also on the Recent Searches tab.

Can you also make sure that whenever there's a long query it'll be truncated with the three dots right before the plus icon? (instead of behind the icon)
![photo 03-09-15 1 41 16 pm](https://cloud.githubusercontent.com/assets/1379822/9657480/c0395f68

[2015-09-03 11:50] thm commented on #61
The new popup window is a good idea! Can we change the color of the Cancel and Post links? if so, can you make that #de5833 or rgba(222,88,51,1)

In addition, it looks like the new tweet text format has only been updated in the share option in the drop-down menu in a feed, but not yet in the sharing options from the browser option-bar (prev, next, favorite, _share_)

[2015-09-03 11:51] #63 closed

[2015-09-03 11:53] #64 closed

[2015-09-03 11:54] thm commented on #67
Yup, looks good!

[2015-09-03 11:54] #67 closed

[2015-09-03 11:58] thm opened #76 "Remove "..." from search field"
Can you remove the 3 dots that get added to the search-field's placeholder once you tap it?

How to reproduce:
1. Tap the search field
2. Placeholder changes from "Search DuckDuckGo" to "Search DuckDuckGo..."

[2015-09-03 12:02] thm commented on #69
@sreilly 1 looks good, but I'm still spotting 2 and 3

How to reproduce 2:
1. Tap search field
2. Tap recent search and quickly tap home icon before the page loads
3. You're taken back to Favorites/Recents but the refresh icon remains

[2015-09-03 12:03] thm commented on #71
Thanks!

[2015-09-03 12:03] #71 closed

[2015-09-03 12:04] thm commented on #74
Thanks!

[2015-09-03 12:04] #74 closed

[2015-09-03 12:44] sreilly commented on #59
Hi @thm, that is strange.  Could you clear your history in order to make sure that some story items aren't appearing in there?  Or maybe you did clear your history and that's what caused the item to be disassociated with a story?

The ... truncation has been fixed for the next update.

[2015-09-03 13:09] thm commented on #59
@sreilly it looks like this happens when you open a story from the feed, focus the search-field and then hit search. So I guess that makes sense, but maybe it's not ideal to have full URLs pop up on recents. We don't do this in the Android app either. Can you exclude those refresh-searches from recents?

How to reproduce:
1. Open a story
2. Tap search-field
3. Tap "Search"
4. Story URL appears in

[2015-09-03 14:39] #76 closed

[2015-09-03 15:07] sreilly commented on #69
ok, both of these should now be fixed (really)

[2015-09-03 15:39] #69 closed

[2015-09-03 15:57] thm opened #77 "Preload screen assets"
@sreilly here are the updated assets for the preload screen: [Download ZIP](http://cl.ly/070t1y112b1h/Archive%202015-09-03%20at%205.55.03%20PM.zip)

When implementing can you make sure the logo is centered based on the entire screen (including the statusbar), and that the background-color is set to #e37151 / rgba(227,113,81,1)

Here's the design:
![0_preload](https://cloud.githubusercontent.com/as

[2015-09-03 16:06] chrismorast opened #78 "iPad version is locked in landscape mode"
It does not rotate to portrait mode.

[2015-09-03 16:06] thm opened #79 "Empty states"
1. Can you increase the line-height of the description by 6px/3pt pixels? ("Add stories to your fav...")
2. Can you move the description up about 20px/10pt?
3. Can you make sure the background is #eee like everywhere else in the app
4. Can you increase the font-size of the title by 4px/2pt to 44px/22pt ("No Favorites", "No Recents")

Left: current, right: as designed
![comparison](https://cloud.gi

[2015-09-03 16:35] thm commented on #78
@chrismorast works fine here, did you forget to unlock screen-rotation from the settings panel (swipe up from bottom)? did you try restarting the app?

[2015-09-03 16:41] thm opened #80 "Consistent font sizes"
The font-size of the list items on the Settings page are perfect, can you decrease the font-size of the list items on the Favorites and Recents pages so they match those of the Settings page? Same goes for Search and autocomplete!

[2015-09-03 18:13] thm opened #81 "Optimized story cover aspect ratio for iPad"
On iPad, cover images for smaller stories are really short compared to those of larger stories. For iPhone we've aimed for the following:
360px tall / 750px wide = 0.48 = 48% aspect ratio

I think for iPad, for the larger images we can slightly increase the height (from ~485 to 550):
550px tall / 1010px wide = 0.5445544554 = 54.45%

and then make smaller images fit the larger one:
207px tall / 505

[2015-09-04 14:52] thm opened #82 "Refresh icon is in front of feed"
@sreilly can you make sure the refresh/loading icon is behind the feed so that it doesn't cover stories in the feed?

[2015-09-04 15:15] sreilly commented on #82
this may be a tricky one.  I don't see any API for controlling the position or size of the refresh indicator, but will check into it once the bugs are resolved

[2015-09-04 21:43] chrismorast commented on #78
I rechecked this and it occasionally rotated but stopped. Attaching screenshot. As you can see, the device status bar is rotated but the app is not.

![img_0386](https://cloud.githubusercontent.com/assets/7061920/9695082/449a5a38-5313-11e5-8f25-53be5baf5e1b.PNG)
![img_0387](https://cloud.githubusercontent.com/assets/7061920/9695084/4a68157c-5313-11e5-81f7-2fe5ae73c6b7.PNG)

[2015-09-04 22:11] chrismorast opened #83 "Story grid in masonry view is not complete"
This is on iPad as well as iPhone 6 landscape view.
![img_0388](https://cloud.githubusercontent.com/assets/7061920/9695497/36ddbd6e-5317-11e5-80d5-a1f9714f9b6d.PNG)

[2015-09-04 22:17] sreilly commented on #83
Hi Chris,
Can you clarify what the problem is? Should we leave off the remaindered stories or use an alternate layout for the last row?

[2015-09-04 22:43] chrismorast commented on #83
Any way we can fill that last spot on the bottom right with a story or is this something that we're limiting in our feed?

[2015-09-04 22:49] chrismorast commented on #72
Thanks Sean, seems to be corrected now.

[2015-09-04 22:50] chrismorast commented on #73
LGTM!

[2015-09-05 11:00] thm commented on #83
@chrismorast if it's a limitation, then we could solve it by design too:

![end-of-feed](https://cloud.githubusercontent.com/assets/1379822/9698942/0977607a-53ce-11e5-88c7-8bd01ef2d5ae.jpg)
![end-of-feed-2](https://cloud.githubusercontent.com/assets/1379822/9698944/0bccfac4-53ce-11e5-8b8c-f8ce37703b5c.jpg)

[2015-09-05 11:02] thm commented on #73
Closing this issue, but leaving #59 open for the URLs that are still appearing!

[2015-09-05 11:02] #73 closed

[2015-09-05 11:03] #72 closed

[2015-09-05 11:05] thm commented on #82
:+1:

[2015-09-05 21:14] sreilly commented on #59
ok, this should be fixed in the just-pushed build.  If you have some of these items left they may still appear in your recents list but not the search view.  Anytime you manually enter a URL or follow your steps above, those raw URLs won't be entered into your history.

[2015-09-05 21:15] sreilly commented on #56
This is now fixed in the just-pushed build.  I agree, it seems more natural for tapping outside of the popover to cancel it but still interact with the backing view.

[2015-09-06 00:53] chrismorast commented on #83
Perhaps this would be a good opportunity to call out the sources setting. It could be simply adding another sentence stating, "Want more? You can add sources in Settings" (or something along those lines).

[2015-09-06 09:48] #59 closed

[2015-09-06 09:58] thm commented on #56
I think you meant #57 there, this one isn't actually fixed. However, upon closer look I'm marking this issue complete too, since it seems to be default behaviour. So, we might not want to change that!

[2015-09-06 09:58] #56 closed

[2015-09-06 10:02] thm commented on #57
@sreilly This works much better, thanks! One small thing I noticed is that when you're quick enough with scrolling, you can make the drop-down not hide and just stick with the page until you release the screen again:

![photo 06-09-15 12 00 28 pm](https://cloud.githubusercontent.com/assets/1379822/9703804/f659ffa4-548e-11e5-94b6-11abcc6565d8.png)

[2015-09-06 10:15] thm commented on #83
@chrismorast awesome idea :+1:

[2015-09-06 23:05] sreilly commented on #60
This has been fixed for build 600

[2015-09-06 23:11] sreilly commented on #61
ok, changed the top bar background color and text button colors, but we don't have control over each individual button's colors.  I've also changed the sharing text and URL to be embedded in a slightly cleaner way.  Basically before we were providing two things to every available share outlet: 1) the sharing text with URL embedded in it, and 2) the raw URL.  Both items (text and URL) are necessary

[2015-09-07 11:13] sreilly commented on #62
this should be set in the latest testflight build!

[2015-09-07 11:26] thm commented on #62
#2 is not fixed yet. the search placeholder on the Sources page is not center-aligned correctly, and the settings icon is still there when you focus the search-field. The rest looks good!

[2015-09-07 11:30] thm commented on #58
@sreilly Looks like we forgot to apply this to the Settings tab. Can you also make sure that when you're on a sub-page (eg. Sources, Readability, Region) you go back up the to the main page (Settings)?

[2015-09-07 11:47] sreilly commented on #62
The placeholder alignment is centered on the entire top bar rather than the field itself.  This prevents it from jumping around when the buttons animate in/out from either side.  But if we remove the left button icon whenever the search field is active, that would resolve the problem, wouldn't it?  Now, removing that left button when the search field is active would also apply to all of the other

[2015-09-07 12:13] thm commented on #60
Some points of feedback:

![feedback](https://cloud.githubusercontent.com/assets/1379822/9716504/a494099e-556a-11e5-9cce-06c7997b2c0d.png)

[2015-09-07 14:25] thm commented on #62
I don't think that would work. When you're in the browser or in `Settings > Sources` for example, we're showing the house-icon or settings-icon. Both serve a different purpose than the "Cancel" button does. Here's a quick prototype of what I initially envisioned the transitions to be: http://cl.ly/2D1C2b3V1Y1T/prototype-3.mov

[2015-09-07 14:29] thm commented on #62
Another bug I'm experiencing there is:
1. Tap Settings tab, then go to Sources
2. Focus search-field
3. Tap Settings icon on upper left
4. Result: bang icon remains visible

Then, right-after, another bug:
1. Focus search-field
2. Result: Cancel button doesn't appear (so, there's no way of getting out)

[2015-09-08 15:55] sreilly commented on #80
The next build (603) makes the font size consistent for all of these items (Proxima Nova 17pt).

[2015-09-08 15:57] sreilly commented on #68
@thm I think the problem was that the stories view was being refreshed even if there were no stories added or removed.  I've removed the call to refresh the view in those cases and it seems to solve the problem.  I haven't encountered the double-lines, but can you try and see under what situations they appear?  Is it maybe associated with rotation?

[2015-09-08 16:43] chrismorast opened #84 "Some story images not displaying until scroll"
Sometimes I click on the story icon to go back-to-top of the story feed, there are some new stories with images that don't load. Then when I go to scroll they suddenly appear.

[2015-09-08 18:41] thm commented on #68
No need to reassign if an issue isn't fixed yet :). It's not associated with rotation. It seems to happen most often when I enter the app from the app-switcher, or when I enter the app-switcher

[2015-09-08 20:37] sreilly commented on #50
We could do this pretty easily now if we were OK with dropping support for iOS7.  What do you all think?  @thm @nilnilnil @chrismorast

[2015-09-08 20:44] sreilly commented on #48
Where were these issues?  App store reviews, or submissions via the ios@duckduckgo.com address?

[2015-09-09 10:25] thm commented on #60
If it turns out to be impossible to use Proxima Nova here and a white statusbar, then perhaps it would be better to simply go with the default iOS treatment (blue Helvetica links on white background) rather than putting a lot of hours into figuring out a workaround. All I'm interested in is consistency, whether it's within iOS or within our own branding

[2015-09-09 10:30] thm opened #85 "Crash when removing recent searches"
When I remove several recent searches separately the app crashes and closes. Looks like if I wait a couple seconds inbetween removing items it works though.

[2015-09-09 10:33] thm commented on #81
Forget this, my bad, looks like the story view for iPad hasn't been implemented yet apart from the mosaic view. I'll create a new issue at #86

[2015-09-09 10:33] #81 closed

[2015-09-09 10:39] thm opened #86 "Optimized mosaic view for iPad"
The story titles of large stories are twice the height of those of small stories so that all cover images on the page can have the same aspect ratio. The font-size of large titles is 52px/26pt

![2_stories_a](https://cloud.githubusercontent.com/assets/1379822/9759729/900bbfa4-56ef-11e5-9811-f3bd4614cded.jpg)

[2015-09-09 10:45] thm opened #87 "Optimized topbar for iPad"
@sreilly can you make sure that on iPad the search-field and segmented tabs have a maximum width of 710px/355pt. The dropdown is slightly wider at 750px/375pt (same width as an iPhone 6 screen). In terms of measurements we're trying to mimic the measurements on iPhone here, so the home/settings icon would appear in the same place. This means that the search-field gets slightly less wide to make pl

[2015-09-09 11:05] sreilly commented on #86
If you like we can adjust the relative widths of the images so that they have the same aspect ratio and still keep the title bars the same size.  Would that be preferable?

[2015-09-09 11:19] sreilly commented on #85
I think I've fixed this for build 605, but am not completely sure because I couldn't reproduce the problem.

[2015-09-09 11:21] sreilly commented on #78
@chrismorast can you reliably reproduce this?  I haven't been able to get it to occur on an iPad mini running iOS 8.4.1.  Are you running the iOS 9 beta or maybe an older version of iOS8?

[2015-09-09 11:22] thm commented on #86
No, I like it with the larger titles, it's just a heads up after seeing the current implementation!

[2015-09-09 11:26] thm commented on #85
Thanks, it only seems to happen when I remove items quickly after one another. Almost as if it can't handle the removal of more than one item at a time

[2015-09-09 11:33] thm commented on #80
Thanks, this looks so much better. Can you also make sure we're consistently using the same color for text? The text on all pages but the Settings page seems to be too dark, can you confirm all text including the Settings page is #222 / rgba(34,34,34,1)

[2015-09-09 11:38] thm commented on #58
I noticed tapping the Settings icon makes the page go up a level to the main Settings page now, awesome! Feel free to mark this task complete once the icon also makes the Settings page scroll to the top!

[2015-09-09 13:50] sreilly commented on #60
I've just pushed an update (build 606) which reverts to the light background in the navigation and status bars.  It does use the "duck red" for the button title foreground colour though, to retain a bit of the DDG branding, fit with iOS, and also... work.

As for the URL position, please see my message above which explains a bit about why embedding the URL in the text doesn't work for several of t

[2015-09-09 14:50] thm commented on #57
Marking this issue complete as I'm unable to reproduce this again, assuming you already fixed this!

[2015-09-09 14:50] #57 closed

[2015-09-09 15:26] thm commented on #60
@sreilly can you please make the links blue and the title dark again like the defaults within iOS are? I'd like to either go DDG or default, something in between just doesn't really feel consistent with anything to me.

The fact that we can't embed the URL in the message seems tolerable then. However, is there any way we can prevent the double-URL-situation?

[2015-09-09 15:30] thm commented on #61
@sreilly Ah, here's that explanation about the URLs! Is this the one you referred to in #60?

With the links-color change above I meant the Twitter popup, but I think we shouldn't change that after all as described in #60. I'll close this and we can continue the discussion on the URL-issue in #60

[2015-09-09 15:30] #61 closed

[2015-09-09 16:00] sreilly commented on #60
@thm Yes, the double-URL situation should already be resolved in recent testflight builds.  I've just pushed another update (that'll be on testflight soonish) that reverts to the default sharing header colours.

[2015-09-09 16:42] chrismorast commented on #78
Yes, I can reproduce every time. I'm running 8.1.1

[2015-09-09 17:23] sreilly commented on #78
Can you update to 8.4 and see if it occurs there? I'm not 100% sure but I believe every iPad that runs 8.1 should also handle 8.4.

On 9 September 2015 17:42:42 BST, chrismorast <notifications@github.com> wrote:Yes, I can reproduce every time. I'm running 8.1.1  —Reply to this email directly or view it on GitHub.

[2015-09-09 17:50] nilnilnil commented on #78
Do we have an idea of what our installed iOS base looks like? Is requiring 8.4 a mistake?

[2015-09-09 18:35] sreilly commented on #78
You can get some info about installs for each version of iOS in the new iTunes app analytics, but I don't have access to that.

However, I wouldn't recommend requiring iOS 8.4.  I just suspect that this may be an iOS bug that was fixed between 8.1 and 8.4.

[2015-09-09 23:01] nilnilnil commented on #78
Agreed! I was more speaking to the upgrade to 8.4 being the solution. Maybe I'm confused.

[2015-09-10 12:55] sreilly commented on #80
ok, all text should now be #222222.  The settings text was actually a different value before, but it should all now be consistent.  The secondary text for any list items now uses the same value as the old settings row detail text: red:137.0f/255.0f green:137.0f/255.0f blue:137.0f/255.0f (aka #898989).

[2015-09-10 12:55] sreilly commented on #85
I believe this is fixed.  Can you try the latest build and let me know if it still occurs?

[2015-09-10 12:57] sreilly commented on #68
@thm I haven't been able to reproduce this at all.  Are you on an iPhone6?  Can you tell me which version of iOS?  Just to confirm: the blinking problem should be resolved, and we're working on just the white lines problem?

[2015-09-10 13:41] thm commented on #60
:+1:

[2015-09-10 13:41] #60 closed

[2015-09-10 13:59] thm commented on #85
It's still crashing for me (iPhone 6, iOS 8.4.1, app v607). It's difficult to isolate the issue, it doesn't happen all the time, but very often. Here's a quick video: http://cl.ly/1g0D3N3x3i40/crash.mp4

[2015-09-10 14:00] thm commented on #68
Yes, iPhone 6 (iOS 8.4.1, app v607), and just for the white lines. The blinking seems to be fixed!

[2015-09-10 14:51] sreilly commented on #84
@chrismorast I believe this is now fixed for build 608.  Can you check once it pops through in testflight?

[2015-09-10 15:24] sreilly commented on #75
This one is finished as of the next build to appear on testflight (609 or higher)

[2015-09-10 15:24] sreilly commented on #65
completed as of this morning's testflight build!

[2015-09-10 15:25] sreilly commented on #48
@nilnilnil do you think this is still an issue?

[2015-09-10 15:32] sreilly commented on #77
great!  This is finished and will be in build 610, available shortly

[2015-09-10 16:53] #75 closed

[2015-09-10 16:53] #77 closed

[2015-09-10 16:54] #80 closed

[2015-09-10 17:01] thm commented on #65
Thanks, can you make the structure more like what we have on Android?:
1. Rename the section from "Home" to "General"
2. Make the Homepage option a separate menu (like the Sources and Region options)
3. Rename the search option from "Search Only" to "Search"
4. Rename "Stories" to "Stories (Default)"
5. Make sure that the currently selected option shows on the right (similar to Region option)
—
6.

[2015-09-10 17:49] thm commented on #62
@sreilly I noticed you removed the settings icon when on the `Settings > Sources` page and searching. I actually quite like it, feels a lot simpler. Let's keep it this way!

Although, searching doesn't work yet. After entering a query and hitting "Search" I'm taken to this page with a blank search-field:
![photo 10-09-15 7 07 27 pm](https://cloud.githubusercontent.com/assets/1379822/9795266/e51391

[2015-09-10 17:51] #58 closed

[2015-09-10 18:12] thm opened #88 "More alignment issues"
1. The search-placeholder and the list items aren't aligned, and neither have the correct distance from the left edge of the screen

2. The padding left and right of the "Cancel" button is inconsistent.

![measurements](https://cloud.githubusercontent.com/assets/1379822/9796744/fe7f63ba-57f7-11e5-8595-b3abd820b428.png)

[2015-09-10 22:55] chrismorast commented on #78
But the issue is that anyone running 8.1 will see what I'm seeing. That's what I'd like to avoid.

[2015-09-10 23:18] sreilly commented on #78
@chrismorast Yes, but if the bug is in iOS 8.1 then it's possible that there's nothing we can do about it.  However, I've just pushed a change (build 612) which *might* fix it, but I don't have an 8.1 device to test on.  Could you give it a whirl and let me know if it's any better?

[2015-09-11 03:00] chrismorast commented on #78
Nice work @sreilly ! It is corrected in build 612

[2015-09-11 09:10] #78 closed

[2015-09-11 09:36] sreilly commented on #87
@thm question: where should the cancel button go when the field has the focus?  If it should be next to the field, should it animate in all the way from the side of the screen?

Also, what about the home button when the user is more than one level deep: where should that go, and how should the animation go?

[2015-09-11 10:42] thm commented on #87
@sreilly Can you make it fade in while it slides in with the changing width of the search field?

Quick demo here: http://cl.ly/0v3J3r0N3o0M/iPad.mov

[2015-09-11 10:44] sreilly commented on #87
will do!

[2015-09-12 19:16] #62 closed

[2015-09-12 19:36] sreilly commented on #87
@thm the latest build includes the search field that works closer to what you describe here, aside from the popover.  One problem is that on the iPhone 6+ 355 pts isn't wide enough to fill the top nav bar, so I set it to a maximum of 414pts.  Is that ok?

Also, for the popover, would you like to have the default iOS behaviour of taps outside of the popover dismissing it, or should it stay visible

[2015-09-12 20:57] sreilly commented on #65
All set.  The requested changes are in build 614!

[2015-09-12 22:15] sreilly commented on #79
These changes are applied in build 615!

[2015-09-12 22:40] sreilly commented on #88
Nice catches!  Fixed in build 616.

[2015-09-13 09:05] #79 closed

[2015-09-13 09:06] #88 closed

[2015-09-13 09:11] thm commented on #65
Don't forget about number 6! Also, the "Stories" option appears as "Stories" instead of "Stories (Default)" on the Settings page

[2015-09-13 09:20] thm commented on #87
Yup, a tap outside should dismiss the popover, so the same result as the Cancel button I think! Also make sure the popover overlays the current page. So, when you search on the Stories page for example, you'll be able to see the stories behind the popover. For the overlay let's try ~35% black for now

I'll check the 415pt search-field later today on an iPad, curious how it looks there. But it'll p

[2015-09-14 08:15] sreilly commented on #87
@thm when in the search tab, should that still have a popover or just use the search field contents to filter the contents of the main view (as it does on the iPhone)?

[2015-09-14 09:33] thm commented on #87
@sreilly Good question! I think we should put everything in the popover on the Search page, for consistency. So that would look exactly like the screenshot posted above, until you start typing and auto-complete takes over

[2015-09-14 09:35] thm commented on #84
Marking complete as this seems to be fixed! cc @chrismorast

[2015-09-14 09:35] #84 closed

[2015-09-14 09:40] sreilly commented on #65
Oops, I read number 6 wrong.  Also changed the detail label for the selected home page option. All set now! (as of the next auto-build)

[2015-09-14 09:41] thm opened #89 "Left and right-edge swipe navigation in Search"
@sreilly When viewing an image that's zoomed in (so that the horizontal scrollbar appears), a swipe from the left-edge of the screen to go back doesn't work. Can we force this so that it always works regardless of the page's contents?

[2015-09-14 09:42] thm commented on #65
@sreilly awesome, thanks!

[2015-09-14 10:01] sreilly commented on #89
I think the left-edge swipe doesn't work in this case because the tap-and-move gesture is being absorbed by the web page itself to pan around and zoom the photo.  If you use two fingers to zoom out you can then use the swipe-from-edge gesture to navigate back up a level.  I'll see if there's a flag that we can set to override that behaviour.

[2015-09-14 13:18] sreilly commented on #89
@thm Yeah, I think this one's going to have to be left alone, at least until we get more time to use a more modern API for the web viewer.  I wouldn't consider this a bug for now because it's the intended behaviour of the UIWebView implementation.

[2015-09-14 13:42] thm commented on #87
I also noticed the Cancel button and home icon don't fade in yet, they do slide in, but ultimately they should start at 0% opacity and go to 100% opacity during the sliding animation

[2015-09-14 15:27] thm opened #90 "Progress bar visuals"
@sreilly can you update the progress bar so that it matches the one we have for Android? #98c5e7 / rgba(152,197,231,1) for the background and #4495d4 / rgba(68,149,212,1) for the foreground:

![progress-bar](https://cloud.githubusercontent.com/assets/1379822/9853787/bf687e8a-5b05-11e5-9e25-f8a27a0925c5.png)

[2015-09-14 15:39] thm commented on #82
In addition, can you also change the loader's color from #575f6c to #aaa / rgba(170,170,170,1)?

[2015-09-14 19:18] thm commented on #85
I'm unable to reproduce this in the latest build (616), so I'm marking this complete

[2015-09-14 19:18] #65 closed

[2015-09-14 19:32] #68 closed

[2015-09-14 19:44] sreilly opened #91 "localisation"
Localise all text strings and UI.  First step is to ensure that all text that is set programmatically uses the NSLocalizableString function.  Then we'll need to call for volunteers to translate the strings file.

[2015-09-14 20:12] thm opened #92 "Update readability-view"

[2015-09-15 23:26] chrismorast commented on #84
lgtm!

[2015-09-15 23:39] chrismorast opened #93 "No zoom-out available when viewing images from story feed"
I use to be able to zoom out and view the entire image (fit to width of screen) but now I can't zoom-out beyond 100% of the image size it seems.

[2015-09-16 07:46] thm commented on #89
I'm renaming this issue so we can start working on the left-edge and right-edge swiping to go back and forward in the web view on iOS 8+

[2015-09-16 07:56] thm opened #94 "Increased tap-area for story-options"
@sreilly can you increase the tap-area of the story options so we can decrease the amount of misses there?

![comparison](https://cloud.githubusercontent.com/assets/1379822/9899238/d55666b8-5c58-11e5-8687-96e757c57458.png)

[2015-09-16 08:03] thm opened #95 "URL Keyboard"
I believe that for search we could use the URL-keyboard, so that the 'dot' appears in the keyboard. Would be a nice addition for typing URLs!

![that-one](https://cloud.githubusercontent.com/assets/1379822/9899379/a8a08c10-5c59-11e5-9510-f08d524cf18e.png)

[2015-09-16 08:11] thm commented on #87
I also noticed that when switching pages on the iPad the blue progress bar is briefly visible on the upper-right

[2015-09-16 08:21] thm commented on #90
On both iPad and iPhone the topbar now extends below the progress bar during search. I'm reopening this issue as I assume it may be related (click image for full view):

![extended-topbar](https://cloud.githubusercontent.com/assets/1379822/9899818/a7ded2fc-5c5c-11e5-91fd-4997bd3d373f.png)

[2015-09-16 10:30] sreilly commented on #90
@thm This actually isn't a bug... that red line comes from the top of the DDG search page html.  Maybe we should consider moving the progress bar to a different location so that it won't be confused with a misalignment when loading the search results page?

[2015-09-16 10:42] thm commented on #90
@sreilly Oh I see! I'll check if we can potentially hide it in the front-end. In the meantime can you add a slight 1px/0.5pt shadow on the topbar? 15% #000 / rgba(0,0,0,1) so that it pops out a bit. I would prefer not to move the progress bar away from the current location

[2015-09-16 10:45] thm commented on #90
One thing to note: I noticed the x-percentage shadow on the tabbar isn't actually translucent. I assume a 15% #000 color in iOS coding language translates to a shade of grey rather than a translucent black line?

[2015-09-16 11:02] thm opened #96 "Search tabbar issues"
1. The Search tabbar still has a 2px/1pt shadow, rather than the 1px/0.5pt shadow it should have. Can you make sure both the Search tabbar and the main one have the same visual treatment? In addition, please make sure the shadow is actually a translucent color rather than a shade of grey (again, for both of the tabbars):
![comparison](https://cloud.githubusercontent.com/assets/1379822/9902979/d01c

[2015-09-17 17:28] chrismorast opened #97 "Recent and Favorited story feeds don't scroll all the way to the bottom"
The tab bar covers part of the title of the last story in each feed. We need to add the same padding below the final story that we did for the Main story feed.

[2015-09-18 14:01] sreilly commented on #87
@thm ok, I'm just about to push an update that implements all of this.  The cancel and home button animation is in there, but it's a quick one (I believe it's 0.25 seconds).

[2015-09-18 14:03] sreilly commented on #90
@thm We could add a shadow to the top bar, but it will need to be added independently to each of the views in the content area (web view, stories, favourites, recents, settings, etc).  Would you like it just in the web viewer or in all of the content views?

[2015-09-18 14:05] sreilly commented on #82
done, thanks! (build coming shortly)

[2015-09-18 14:12] sreilly commented on #66
@thm to clarify, that toolbar is also used when you navigate into search results.  So it should auto-hide even when viewing normal web pages?

[2015-09-18 14:56] thm commented on #90
@sreilly preferably everywhere

[2015-09-18 15:02] thm commented on #66
Yes, it should auto-hide when you start scrolling everywhere within Search. Whenever you open a new page (so, navigating the web) it should pop back up until you start scrolling again. Take a look at Safari for the desired effect.

[2015-09-18 15:09] thm opened #98 "Settings topbar features wrong icon"
The settings-icon in the topbar on `Settings > Sources` is the old icon. I don't think there are white assets yet so I'll generate those

[2015-09-18 15:17] thm opened #99 "Remove notification popups"
@sreilly can you remove these popups? I would like the story-menu to remain visible so that you can see the "Add to Favorites" label change to "Unfavorite". Same goes for the Favorites page.

![photo 18-09-15 5 09 47 pm](https://cloud.githubusercontent.com/assets/1379822/9962951/c4c66074-5e28-11e5-912d-002f1fdacde0.png)

[2015-09-18 15:54] sreilly commented on #99
We can remove the popups, but then in the favourite stories list, the story will immediately be removed from the list, which means the menu can't remain visible.  Might that be confusing?

[2015-09-20 09:29] thm commented on #99
@sreilly I don't think that will be a problem, that would be a perfect clue that the item is removed. Ultimately we should properly transition the story out of the screen, but we can revise that later

[2015-09-20 09:32] thm commented on #95
@sreilly thanks for adding this!

[2015-09-20 09:32] #95 closed

[2015-09-20 09:34] thm commented on #82
@sreilly This doesn't seem to be fixed in the latest build yet(?)

[2015-09-21 13:23] sreilly commented on #99
Ok, all fixed for the next TestFlight build!

[2015-09-21 15:34] thm commented on #99
@sreilly :+1: Can you also make sure the stories don't blink when you favorite or unfavorite a story?

[2015-09-21 20:27] chrismorast opened #100 "Story URL text overlays 'Search DuckDuckGo' text for a second when you click on a story"
Right as the story loads and the URL animates in, it overlaps the 'Search DuckDuckGo' text. Sometimes it is more apparent than others.

[2015-09-21 21:04] sreilly commented on #97
Recent builds should no longer have this problem.  @thm it seems that this issue, and possibly some others, have both milestones assigned.  Is that intentional?

[2015-09-21 21:14] thm commented on #97
@sreilly I don't think that's even really possible, I initially added some issues in the "iteration 1" milestone, and then moved them back to the main milestone, maybe that's causing some confusion? it's not intentional

[2015-09-21 21:14] #97 closed

[2015-09-21 22:46] mark5422 opened #101 "Tapping the bang button dismisses the popover showing search suggestions on the iPad"
After tapping to search on the iPad, tapping the bang button dismisses the search suggestion list that changes as you type (the one in the attached image).

![screen shot 2015-09-21 at 23 43 59](https://cloud.githubusercontent.com/assets/641358/10007166/0382b63e-60bb-11e5-93b1-3683f76981b9.png)

[2015-09-22 11:08] thm commented on #99
@sreilly the blinking isn't solved in the latest build yet(?)

[2015-09-22 11:08] #90 closed

[2015-09-22 11:08] sreilly commented on #99
@thm almost there... I think

[2015-09-22 11:32] thm commented on #87
1. The cancel button still doesn't fade in. Again, it slides in, but it doesn't go from 0 opacity to 100 over the course of the sliding animation. It pops into view, and then slides to the left. Here's a slowed-down demo: http://cl.ly/1d3I3r3T2K2h/comparison.mov

2. You forgot to add the overlay behind the popover. Can you add an overlay of 35% black so that the popover doesn't blend in as much wi

[2015-09-22 11:37] thm opened #102 "Remove !bang notification"
@sreilly we can remove this notification that appears after tapping the !bang-icon:
![photo 22-09-15 12 23 42 pm](https://cloud.githubusercontent.com/assets/1379822/10017469/c3705604-612e-11e5-83af-4a73e3e90401.png)

[2015-09-22 12:58] sreilly commented on #99
ok, done.  any stories that are removed from the current view will also now animate out nicely

[2015-09-22 14:12] sreilly commented on #102
all fixed.  testflight build coming soon!

[2015-09-22 15:28] thm opened #103 "Wrong title in empty-state"
@sreilly The empty-state on the __Favorite Stories__ page says "__No Recents__", can you please confirm for all empty states that we're using the correct title and description?

[2015-09-22 15:31] thm commented on #103
@sreilly Also, for the empty-state on the "Recent Stories" page we're showing a heart-icon rather than the clock-icon (it's correct on the "Recent Searches" page). In addition, the line-height for descriptions doesn't seem to be consistent. Switch between the Recents pages and you'll notice it immediately

[2015-09-22 15:35] thm opened #104 "More popups to be removed"
1. When clearing recents from Settings
2. When you favorite a search from the search tabbar

@sreilly please remove all black popups completely, everywhere

[2015-09-22 15:53] thm commented on #83
@sreilly

1. for each story-slot that isn't filled on a page, can you insert a #e0e0e0 background-color like pictured in the screenshot below?
![IMG1](https://cloud.githubusercontent.com/assets/1379822/10023405/492c0c98-6152-11e5-9388-55e48a427cb9.jpg)

2. For the last row — that likely won't fit perfectly well — can you make sure that we don't allow the user to scroll to it and stay there, but ra

[2015-09-22 15:56] thm opened #105 "Remove introduction screen"
@sreilly can you remove this introduction screen that appears after first installing the app?

![photo 22-09-15 5 54 43 pm](https://cloud.githubusercontent.com/assets/1379822/10023599/38f3b4ba-6153-11e5-8e8c-29551f5c07af.png)

[2015-09-22 15:58] thm opened #106 "Added functionality for back button"
In the Search view, when you're on the first page, the left-pointing arrow in the tabbar has no functionality. Can you give it the same functionality as the home icon at the top-left? So, when on the first page in Search make the previous-arrow return to Stories like the home-button does.

[2015-09-22 16:01] thm opened #107 "Tapping outside story-menu should dismiss it"
@sreilly When tapping outside of the story-menu (the three-dot menu) can you make sure it only dismisses the menu rather than dismissing it and going to the story you just clicked? All other functionality should remain. So, scrolling while the menu is open should dismiss it and initiate a scroll as expected.

[2015-09-22 16:04] thm opened #108 "Story feed resets after sharing"
@sreilly here's how to reproduce the issue:
1. Scroll down several articles so that the view is decently far from the top article
2. Tap three-dot button and “Share”
3. Tap email and then I tap “cancel” to close the email and delete the draft
4. RESULT: The scroll position is now all the way back to the top and the feed is refreshed

[2015-09-22 16:15] thm opened #109 "Inconsistent story tags and related bugs"
Font-sizes are inconsistent between large and small stories on iPad. Pictured below are tags that are displayed weirdly. @sreilly can you make sure we use a flexible width for tags, and that the padding on the left and right remain the same regardless of the contents?

iPhone:
![example-1](https://cloud.githubusercontent.com/assets/1379822/10024043/84fb6ebe-6155-11e5-9203-d5606104092e.jpg)

iPad:

[2015-09-22 22:17] sreilly commented on #109
Yes, I believe this one is already fixed.  Testflight is gummed up and not processing any of our uploads since this morning, so it's not yet apparent.

[2015-09-23 02:51] jrk opened #110 "Switch to SafariViewController"
I'm interested in this as an alternative to Google.app on iOS 9. I suspect I'm not the only one who'd love to see content blocker and cookie integration by switching to a SafariViewController.

[2015-09-23 09:27] sreilly commented on #110
:+1:

[2015-09-23 14:19] sreilly commented on #106
fixed in git!  waiting for testflight to catch up (it's over 24 hours behind now... so I'm on the phone with Apple)

[2015-09-23 18:02] thm opened #111 "Make input field wider in landscape mode on iPad"
@sreilly can you make the search-field about 200px wider when in landscape mode on iPad?

cc @chrismorast

[2015-09-23 19:29] chrismorast opened #112 "Orange border at top of SERP is still being displayed"
Hey @sreilly ,

We should have a string that gets sent with the queries from within our app that allows our code to detect it came from the app so we can turn off visibility of the orange border at the top of out SERP.

It should look something like this:

if ($data->{user_agent} =~ /^DDG/i) {                 $header_class .= ' is-app';             }

so what that means is if the user_agent string

[2015-09-23 19:56] sreilly commented on #112
is the user-agent being evaluated on the server side or in the javascript?  I remember that we have been setting the user agent in HTTP requests to "DDG-iOS-<version>" but I doubt that would be set in the javascript in-page code.

[2015-09-23 19:56] sreilly commented on #112
@chrismorast is the user-agent being evaluated on the server side or in the javascript? I remember that we have been setting the user agent in HTTP requests to "DDG-iOS-" but I doubt that would be set in the javascript in-page code

[2015-09-23 21:05] sreilly commented on #105
done!

[2015-09-23 21:10] thm opened #113 "Added functionality for search sharing"
1. A long-press on an image should initiate the bottom-sheet with sharing options (similar to Safari)
2. In the sharing options, when sharing an image, can you add the option to save the image to the device?

cc @chrismorast

[2015-09-23 21:14] thm opened #114 "Reset to default sources"
The "Reset to Default" option in `Settings > Sources` is not working. Can you make this reset the sources to the pre-selected range of sources again?

[2015-09-23 22:37] sreilly commented on #104
This is done and committed but waiting for testflight

[2015-09-23 22:44] sreilly commented on #101
fixed in code; waiting on testflight.

[2015-09-24 13:31] sreilly commented on #87
This should be all fixed as of the next build!

[2015-09-24 13:41] sreilly commented on #111
all finished for the next build!

[2015-09-24 13:43] sreilly commented on #96
@thm I've added a transition to switch the toolbars when a content view changes, but it doesn't (yet) slide in sync with the search/web views.  That would be a bit trickier.  Please let me know if the new behaviour isn't good enough for this milestone!

[2015-09-24 13:44] sreilly commented on #66
Cool.  Just implemented this and it should be on hockey now, and hopefully testflight soon!

[2015-09-24 14:56] thm commented on #66
Can you make the tabbar appear again after tapping the general area of where the tabbar would be? (similar to Safari)

[2015-09-24 14:58] thm commented on #111
Thanks, good work on not making it jump around too, looks smooth!

[2015-09-24 14:58] #111 closed

[2015-09-24 14:59] thm commented on #109
Looks much better, the only thing you forgot to iron out is the differences in font-sizes

[2015-09-24 15:00] #106 closed

[2015-09-24 15:01] thm opened #115 "Status bar doesn't scroll to top anymore"
Tapping on the status-bar used to make the page scroll to the top. In the latest build this is not working anymore

[2015-09-24 15:02] #105 closed

[2015-09-24 15:05] thm commented on #104
Small detail, can you make the "Clear Recents" option on the Settings page grey out when there are no recents left to clear? After clearing the recents this would be a nice confirmation. The grey color to be used would be the same as the list item's secondary titles (ie. "Stories (Default)" for the homepage setting)

[2015-09-24 15:10] #102 closed

[2015-09-24 15:12] thm commented on #101
Marking complete as this looks fixed to me!

[2015-09-24 15:12] #101 closed

[2015-09-24 15:17] thm opened #116 "Bangs-related text appears at bottom of screen"
How to reproduce:
1. Tap search-field
2. Tap bangs icon, then tap "Cancel"
3. RESULT: text appears at bottom of screen

![photo 24-09-15 5 13 43 pm](https://cloud.githubusercontent.com/assets/1379822/10077238/ce89cdc4-62df-11e5-8194-2590abb661e1.png)

[2015-09-24 15:18] thm commented on #99
@sreilly This is really great!

[2015-09-24 15:18] #99 closed

[2015-09-24 15:24] thm commented on #96
@sreilly I think the animation makes it feel unnecessarily slow. I guess we can keep it this way for now, but I would ultimately like to have both the tabbars grouped with their corresponding segments within the app. I'm moving this to the "iteration 1" milestone. However, feel free to move it back if you think it's doable in a short term!

[2015-09-24 15:27] thm opened #117 "Bangs-icon appears and fades out after cold start"
When I start the app (cold start) I see the bangs icon in the search-field, after which it slowly fades out

[2015-09-24 15:48] thm commented on #87
1. :+1:

2. Can you make tapping the overlay dismiss the popover? So, same functionality as the "Cancel" button. Right now when you tap the overlay, it activates the story underneath

3. Do you think a better solution for the popover's arrow would be adding the same 50px margin at the top of the list as we have for iPhone?
Current (when scrolling the list down, the white background becomes apparen

[2015-09-24 15:57] thm commented on #98
@sreilly the assets for the white settings-icon are added on BTS (`iOS > assets > tabbar-settings-active-dark.png`). A comparison of the current and the new icon is below:
![comparison](https://cloud.githubusercontent.com/assets/1379822/10078493/4705ed64-62e5-11e5-8040-c5f9a69de745.png)

[2015-09-24 17:26] sreilly commented on #98
Cool.  icon updated, with a build coming soon

[2015-09-24 17:27] sreilly commented on #116
fixed!

[2015-09-24 17:27] sreilly commented on #115
fixed!

[2015-09-24 18:26] thm opened #118 "New search-field issues"
1. After searching, the query that replaces the placeholder often overlays the placeholder and animates in from the top left of the search-field. It makes it look really buggy. It seems to happen once, after a cold start.

2. After a search, the search-field really slowly animates when taking up the space of the "Cancel" button

[2015-09-25 03:12] chrismorast opened #119 "Hiding toolbar on SERP shows orange background when sliding back in"
This only happens on the SERP, not the stories pages. If you search something and go to the results, scroll down so that the tool bar hides itself. When you go to scroll back up, the toolbar slides back into view but as it does a large orange background shows up in the space it's sliding into.

[2015-09-25 11:36] bsstoner commented on #112
Hi @sreilly! I think the user agent is being sent to the server with `DDG-iOS-`, but for some reason it's not getting passed through to the UIWebView? We parse the UA string (from navigator.userAgent) in the JS and assign a `.is-app` class to the top level html element. That logic *should* hide the red bar.

[2015-09-25 12:06] sreilly commented on #112
Hi @bsstoner, Ah I see.  I've just pushed an update that will make sure the web viewer also sets the navigator.userAgent string.  When I tried it just now I confirmed that the value was being set but was still seeing the orange line, but maybe the js code isn't in place yet?

[2015-09-25 12:09] sreilly commented on #119
@chrismorast is it possible to get a screenshot of this?  I'm fixing a bug related causing the toolbar to not resize into the right location after rotating, but I wonder if this is a separate issue.

[2015-09-25 12:58] bsstoner commented on #112
@sreilly nice, thank you! We separately had to make a change to the CSS to update how the red bar hides. If you are able to point to bttf.duckduckgo.com (our internal integration server) you should see the red bar go away (assuming we did everything correctly).

[2015-09-25 14:24] sdougbrown commented on #112
I thought that I replied to this yesterday, but I just found my comment still sitting here.  (Not necessary now - @bsstoner explained the issue very well.) Sorry about the delayed response, guys.

[2015-09-25 16:02] sreilly commented on #117
fixed for the next build!

[2015-09-25 19:50] #117 closed

[2015-09-25 19:50] #116 closed

[2015-09-25 19:51] #115 closed

[2015-09-25 19:51] #98 closed

[2015-09-25 19:52] sreilly commented on #118
This should be fixed in the current testflight build (652)

[2015-09-25 19:53] sreilly commented on #112
@bsstoner can you try the current build (652) from testflight?  I've confirmed that the navigator.userAgent string is set to the DDG-iOS-<version> test.  Thanks!

[2015-09-25 19:54] thm commented on #103
@sreilly In the changelog you mentioned this was fixed. However, I'm unable to confirm this as the "Clear Recents" option crashes the app

[2015-09-25 19:55] thm commented on #118
I'm still seeing the first issue mentioned above, the second one is fixed thanks

[2015-09-25 19:58] thm commented on #112
@sreilly Reassigning to myself to confirm this once bttf is synced to production, as the red bar still seems to appear. Thanks @bsstoner!

[2015-09-25 20:12] sreilly commented on #109
@thm Yes, they are currently different sizes:

story title (normal size): 16pt
story title (small size): 14pt
category button (normal size): 13pt
category button (small size): 11pt

What should they be?

[2015-09-25 20:18] sreilly commented on #87
@thm Personally I prefer to omit the empty grey margin at the top as it's just wasted space.  I think the current solution where the line disappears as it touches the triangle looks pretty good.

I do think that tapping to dismiss having the same effect as the cancel button (ie resetting and taking the focus away from the search field) might be a bit frustrating.  I can imagine people accidentally

[2015-09-25 20:18] thm commented on #109
Everything should be the same as on iPhone (11pt category tags), with the exception for large story-titles (24pt), for which there's more info at #86

[2015-09-25 21:00] sreilly commented on #112
it should be possible to type the bttf query URL into the search field to test it.  I don't think the app does anything special with the built-in queries that can't be reproduced by entering the URL manually.

[2015-09-25 21:02] sreilly commented on #103
@thm Yes, that should be another bug ticket... I'll try and knock that one out tomorrow!

[2015-09-26 21:29] sreilly commented on #118
@thm the first issue is now fixed and will be in the next build!

[2015-09-26 22:02] sreilly commented on #86
@thm I'm a bit confused about what's happening here.  In the mockup the large and small images don't have the same aspect ratio.  The large ones are 2:1 and the small ones are about 2.064516129:1.  The large title bars are also not twice the height of the small ones.  Maybe I'm mis-measuring?  I can make them have the aspect ratio if you like - it actually makes it easier to implement.  For the ti

[2015-09-26 22:03] sreilly commented on #109
@thm doesn't #86 specify that the large titles are supposed to be 26pt?

[2015-09-26 23:15] sreilly commented on #66
Sure!  It should now show the toolbar (and reject other effects of the tap) if it detects a tap in the toolbar-area.

[2015-09-26 23:24] sreilly commented on #103
@thm the clear-recents bug is now fixed in the current hockey build.  Can you try it out and see if we can close this one?

[2015-09-27 09:17] #103 closed

[2015-09-27 09:19] thm commented on #109
@sreilly sorry, yes, that will do

[2015-09-27 20:27] thm commented on #66
@sreilly tapping in that area makes the tabbar appear now, but it still activates the element behind. In addition, horizontal scrollbars seem to appear in the middle of the screen now, can you move those down?
![photo 27-09-15 2 49 32 pm](https://cloud.githubusercontent.com/assets/1379822/10125044/e2078d8a-6566-11e5-8b1c-3d7387d27b13.png)

[2015-09-27 20:33] thm opened #120 "Shifting scroll-position in main feed"
1. So, far I've been unable to reliably reproduce, but you may be able to find what's causing the current web view to peek through:
![photo 25-09-15 11 05 11 pm](https://cloud.githubusercontent.com/assets/1379822/10125052/24f8d7a2-6567-11e5-9e19-c4d3e1b83a5a.png)

2. While trying to reproduce the issue in the screenshot above, I found another one. After searching for a certain query, when you sele

[2015-09-28 15:06] sreilly commented on #114
@thm All fixed, thanks!  Build coming to Hockey soon

[2015-09-28 15:52] sreilly commented on #86
@thm ok I've just pushed a build which I believe addresses all of these issues.  It has the larger titles, a slight translucent white edge along the bottom of the story images, and uses a 2:1 aspect ratio for all of the images in "mosaic mode".  The title bar height for the large stories is fixed at 118pt, and the smaller title heights will fill the remaining space after those images are sized at

[2015-09-28 15:54] sreilly commented on #119
@chrismorast @thm I've found and worked around this issue.  There will be a build on hockey in a few minutes with the fix.  It changes how the content views underlap the bottom bar, so if you see any more scrollable content that gets stuck under the bottom tab bar, or content that seems to get stuck about 50pts above it, please let me know! I'll of course continue checking for layout problems like

[2015-09-28 15:55] sreilly commented on #109
@thm This one should also be all fixed with the update that is brewing now!

[2015-09-28 16:00] sreilly commented on #66
@thm the scrollbar thing is now fixed, but the tap interception is a bit of a problem.  I'll take a different approach and this will be done a bit later tonight.

[2015-09-28 19:29] thm commented on #86
@sreilly I'm sorry, looks like I haven't been notified about your previous comment! Using the same aspect-ratio for all images is what I was after, yes! I think this is near-perfect. Here are some small points of feedback:

1. Can you _decrease_ the font-size of large titles from 26pt to 24pt? I think it's slightly too large after having been able to review it live

2. In addition, can you slightl

[2015-09-28 19:32] thm commented on #118
From a cold start, the search-field's placeholder is now aligned to the left without the search-icon. (rather than being centered, with the search-icon). Other than that, the issues above seem to be solved!

[2015-09-28 19:37] thm commented on #119
@sreilly marking this complete as I'm unable to reproduce the issue again. @chrismorast feel free to reopen if you still see it!

[2015-09-28 19:37] #119 closed

[2015-09-28 19:37] thm commented on #114
Thanks, looks good

[2015-09-28 19:37] #114 closed

[2015-09-28 19:38] thm commented on #109
@sreilly I'd like to make some small changes after seeing the new font-sizes, but I'll mark this issue complete so we can continue in #86. Thanks!

[2015-09-28 19:38] #109 closed

[2015-09-28 20:19] thm opened #121 "Bangs autocomplete issues"
1. From a cold start, the bangs autocomplete list doesn't scroll all the way, so the bottom few results are covered by the keyboard

2. Bangs in the autocomplete list flicker and often jump around when tapping the bangs-icon

[2015-09-28 20:30] thm opened #122 "Tabbar tweaks"
1. Can you move the icons a bit more closer together so that they appear less disconnected? The difference for the two outer icons in a 5-icon tabbar is 120px/60pt each. I would strive for the same distance inbetween icons on the 4-icon tabbar we have for Search

2. It could be the color-profile of the screenshot, but it seems icons appear darker than designed(?)

top = current, bottom = new
![com

[2015-09-28 20:37] sreilly commented on #122
@thm Yes, this is pretty odd.  Most of the colours are actually appearing darker than in the mockups, despite using the hex codes provided.  The refresh/reload control is the same way.  I'll take care of it.

[2015-09-28 20:48] thm commented on #87
I don't really like the white arrow tip, in the list's resting state I like the way it looks, but when scrolling it just looks awkward. The argument for it being wasted space is less of a concern to me than it looking slightly akward with the grey space inbetween. So, below is the solution I've come up with:
![screen shot 2015-09-25 at 10 48 20 pm](https://cloud.githubusercontent.com/assets/137982

[2015-09-28 20:49] thm commented on #87
In addition, I think tapping the overlay should dismiss the popover. It's default/expected behavior in iOS

[2015-09-28 20:57] thm commented on #66
@sreilly In addition, can you make the tabbar re-appear after scrolling up about 50px rather than immediately? That should stop it from jumping up and down when scrolling very small distances. I think having the tabbar disappear when scrolling _down_ could be immediate like it is now, but I would be curious to see the above change live to make the final call on that. Thanks!

[2015-09-29 09:41] thm opened #123 "Story-icon placeholder"
@sreilly can you give the story icons a #ddd background, so that when they don't load at least the text looks properly aligned?

![comparison](https://cloud.githubusercontent.com/assets/1379822/10160611/f0361640-669e-11e5-9fcb-1dda2ae6433a.jpg)

[2015-09-29 17:15] chrismorast commented on #119
looks like this has been addressed!

[2015-09-30 12:36] sreilly commented on #123
@thm done; build available on hockey now

[2015-09-30 12:40] sreilly commented on #118
@thm I'm not sure I understand, although I've rewritten the placeholder code in order to avoid all of the weirdness that was coming from the built-in text field placeholder.  The placeholder behaviour is now completely under our control so any misbehaving should be easily resolvable.  Can you check out the current hockey build and let me know if it doesn't address this?

[2015-09-30 15:11] sreilly commented on #87
@thm This should be done now, and the resulting build on hockey.  I think the result is a tiny bit weird because touches on the dimmed view dismiss the popover (and aren't passed through), but taps above the dimmed view don't.

Tapping the dimmed view performs the same action as the Cancel button, but do we want to clear the contents of the search field upon tapping outside the popover?

[2015-09-30 15:25] sreilly commented on #86
@thm just fixed all of the above.  Should be a build on hockey in a minute or two!

[2015-09-30 23:00] sreilly commented on #104
@thm done in the current hockey build

[2015-10-01 09:15] sreilly commented on #82
Hi @thm we are setting the specified tint colour on the refresh control but it seems to be more of a hint than a setting of the exact colour.  I'll continue to look for a way to get the exact colour we specify to stick, but I think our options are currently to either a) accept the (darkening) adjustment that is being applied by the system, b) lighten our colour setting to compensate for the darken

[2015-10-01 10:45] thm commented on #104
@sreilly perfect

[2015-10-01 10:45] #104 closed

[2015-10-01 10:46] thm commented on #123
@sreilly can't reliably test this as my internet is too fast, I'll trust you on this one :)

[2015-10-01 10:46] #123 closed

[2015-10-01 10:49] thm commented on #118
@sreilly yes, this issue is solved now! A new issue I'm seeing is that from a cold start the placeholder moves from the right to the left when switching between tabs (maybe only 10-20 pixels), and then after that it works fine for each tab.

[2015-10-01 12:04] sreilly commented on #66
@thm done!

[2015-10-01 13:16] sreilly commented on #118
@thm are you still seeing this?  I can't detect any movement in the placeholder when switching tabs.  If you are still seeing it, could you post a video of it happening?

[2015-10-01 13:18] thm commented on #66
@sreilly is a build brewing? because in the latest build links are still activated behind the tabbar

[2015-10-01 13:20] sreilly commented on #120
@thm I haven't been able to reproduce either of these. I did recently fix some other problems in areas around the search bar and autocompletion.  Can you confirm whether you still see either of these issues anymore?

[2015-10-01 13:23] sreilly commented on #66
no new builds are brewing yet.  It was a hack to implement though, so I wonder if it's simply not working properly.  Do you know if the links you've clicked invoke javascript or if they are "normal" links?

[2015-10-01 13:35] thm commented on #118
@sreilly sure, [here's a demo](http://cl.ly/0d002H3y2w0k/demo.mp4). Look at the search-field when switching pages. Then when going back, visiting each page a second time shows the placeholder remaining still, as expected.

Another bug you can see here is the shifted Stories feed. At first you see the 'Jessica Simpson' story, and then later when visiting the Stories page for a second time it's 'Har

[2015-10-01 13:38] thm commented on #120
@sreilly I still see the second issue. On iPhone it's every time I tap "Cancel", on iPad it seem to only happen after the second time(?)

[2015-10-01 13:40] thm commented on #66
@sreilly just normal links as far as I know. I've tested it on a DDG search-results page, and on a Wikipedia article so far.

[2015-10-01 13:43] thm commented on #86
@sreilly nice, looks good

[2015-10-01 13:43] #86 closed

[2015-10-01 14:06] sreilly commented on #66
ok, I've got a much better fix now.  Will try to tweak the long-press-on-an-image handler a bit more and then push another update

[2015-10-01 16:00] sreilly commented on #121
@thm The first issue should now be resolved in the build on hockey.  Are you still experiencing the second?  I can't seem to reproduce it on iPhone or iPad.

[2015-10-01 16:58] thm commented on #121
@sreilly yeah, I still see it and can reproduce on both iPhone and iPad. Immediately after I tap the bangs-icon autocomplete will show a short list of available bangs. Rather than them showing up instantly, they sort of appear with the active/touched state on and then transition (read: flicker and jump) for a second back to normal. Then it's all good.

[2015-10-01 17:00] thm commented on #82
@sreilly option B sounds good to me then. My only problem with the current loader is that it's so prominent (in terms of color), in addition to it appearing in front of the first story at times.

[2015-10-01 17:27] sreilly commented on #118
@thm cool.  The latest push should fix them both. Thanks!

[2015-10-01 17:35] #118 closed

[2015-10-01 17:42] thm commented on #66
@sreilly This looks fixed in the latest build, thanks! I take it you're changing the web view's height when transitioning in the tabbar? is there any way we can give the web view a transition too? If a website has an element fixed to the bottom of the page it currently jumps 80px up to make way for the tabbar, but it would be nice to have that go smoothly. Not mandatory, but if it's an easy fix(?)

[2015-10-01 18:40] thm commented on #87
@sreilly we should never clear the search-field, unless the user taps the clear-icon. In any other case (ie. tapping "Cancel" or tapping the overlay) we should only _pause_ the search. So, the current query remains, whether it's typed out completely or not, and whether the user has actually hit "Search" or not.

Also, I'm sorry for the extra work this has brought you, but can you please remove the

[2015-10-01 18:41] thm commented on #87
Also found this on the Favorites and Recents pages. The overlay isn't stretched to the top.
![photo 01-10-15 3 47 07 pm](https://cloud.githubusercontent.com/assets/1379822/10230318/b9e7d508-687c-11e5-9979-bd1ff0bf2127.png)

[2015-10-01 18:59] thm commented on #120
@sreilly another small thing, rather than showing a bunch of options can we simply select the query/URL and leave it at that? (like Safari is doing)

![safari-ddg-comparison](https://cloud.githubusercontent.com/assets/1379822/10230739/0b36d9ac-687f-11e5-9430-c74dd6281288.png)

[2015-10-01 19:08] thm commented on #121
@sreilly It seems to be the most apparent after a cold start. After the first time it's less apparent but still visible. Here's a demo right after tapping the bangs-icon: http://cl.ly/1Y2E2C0K2X1w/demo.mp4

[2015-10-01 19:13] sreilly commented on #120
@thm got it!  the upcoming build will select the text but not show the menu.  For some reason it still shows the grabbers on either side, unlike safari, but the menu will not show now.

[2015-10-01 19:13] thm opened #124 "Inconsistent width on segmented tabbar"
I'm posting this here again, as this doesn't seem to be fixed yet:

![img_5244](https://cloud.githubusercontent.com/assets/1379822/10231066/0309e204-6881-11e5-84ad-d432d55f207e.PNG)

cc @chrismorast

[2015-10-01 19:23] chrismorast commented on #124
It looks like when the screen is rotated to landscape, the narrow version of the tabbed remains but when the user rotates back to portrait, the wide version (meant for landscape view) is then displayed.

[2015-10-01 19:23] thm opened #125 "Padding issue on iPad settings"
![photo 01-10-15 9 22 05 pm](https://cloud.githubusercontent.com/assets/1379822/10231363/917f36aa-6882-11e5-9be2-04e08e41dd13.png)

[2015-10-01 19:47] sreilly commented on #124
@chrismorast which build do you have?

[2015-10-01 19:47] sreilly commented on #124
@chrismorast Ah, I can tell from the mosaic mode title heights that this is an old version.  If you get the latest from hockey this is fixed.

[2015-10-01 19:48] sreilly commented on #124
@chrismorast  oops, nevermind those last two comments.  Looks like theres also a bug in the title bar heights.

[2015-10-01 20:17] thm commented on #124
@sreilly please read the title again, this is about the segmented tabbar below the search-field. Its width changes wrongly when rotating the screen. They're old screenshots, but the issue still occurs. I'm on the latest build. Don't make me post another demo video :)

[2015-10-01 20:47] sreilly commented on #124
@thm @chrismorast Ah, got it.  Should now be fixed in build 675, coming soon to a hockey near you :)

[2015-10-02 11:04] #112 closed

[2015-10-02 11:05] sreilly commented on #120
@thm I'm sorry to have to ask this, but would you be able to make a video of the cancel button thing happening?

[2015-10-02 11:19] thm commented on #124
@sreilly thanks, the only thing left to do now is fixing all the margin and alignment issues:
![inconsistent-margins](https://cloud.githubusercontent.com/assets/1379822/10245461/fe6614e8-6907-11e5-9e9b-b2d0da85d1e0.jpg)

[2015-10-02 12:57] thm commented on #120
@sreilly [demo](http://cl.ly/0C3t3g1i451g/demo.mp4), when canceling the search the field is cleared and showing the placeholder, while still on the page of the active query

[2015-10-02 12:59] thm commented on #120
@sreilly in addition, you can again see the issue here where the Stories feed shifts to a different scroll position. This time we start with a food story, and when returning we get a baby story.

[2015-10-02 13:18] thm opened #126 "Rephrase "clear recents" confirmation"
**Description**: "Are you sure you want to clear your recents? This can not be undone."
**Button**: "Clear Recents" (with an "s")

![screenshot](https://cloud.githubusercontent.com/assets/1379822/10247220/e9bd330e-6917-11e5-9e02-e5759cf1cde5.png)

[2015-10-02 13:23] sreilly commented on #126
@thm done, thanks!

[2015-10-02 13:25] sreilly commented on #120
@thm the cancel issue is fixed in the next build.

as for the stories feed shifting, is there any pattern to the shifting?  Does only the main stories view shift?  If you go to the favorites or recents stories tab and then back to the main stories, does it show the same story at the top of the main list that it was showing at the top of the favs/recents list?

[2015-10-02 13:28] sreilly commented on #124
@thm I see the misalignment in the segment bar (fixed, pushed) but the spacing on the sides of the address bar matches your designs in my measurements.

Now I see in the Measurements pngs you provided that the 1_search.png shows 20px/10pts between the screen edge and the search field.  The 2_stories.png file shows 15px (which I've had to round to 8pts) but the search field is inactive.  Which meas

[2015-10-02 13:38] #126 closed

[2015-10-02 13:42] thm commented on #124
@sreilly I've noticed that, sorry about that. As far as I know it should be 16px/8pt all around the search-field and the segmented tabbar, all the time.

[2015-10-02 13:52] thm commented on #120
@sreilly

— Yes, it's only the main stories feed that shifts, and it happens when visiting from any other page (ie. search, favorites, recents, etc).

— When I go to the favorites or recents pages, and then back to the main stories feed, then there's no correspondence between the stories shown, it's completely random. Clearing both favorites and recents doesn't change anything.

— If I _scroll up_

[2015-10-02 13:58] thm opened #127 "Landscape empty states outside viewport"
In landscape, empty states seem to fall outside the viewport, with no way to scroll the last line into view.
![screenshot](https://cloud.githubusercontent.com/assets/1379822/10247364/dfc77b06-6918-11e5-9a20-a72a72775e9c.png)

Can you change the margins slightly based on the comparison below, with one addition for landscape mode: in landscape mode, the entire block should be moved up an extra 40px/

[2015-10-02 14:39] sreilly commented on #124
@thm pushed it to 8pts all around.  build should be there now!

[2015-10-03 10:14] thm commented on #124
@sreilly in the latest build available (678) the segmented tabbar still has 20px/10pt on either side, rather than 16px/8pt. Other than that, looks good!

[2015-10-03 21:47] sreilly commented on #127
@thm this should be all set now

[2015-10-03 22:20] sreilly commented on #87
@thm cool... can you give the latest (in about 3 minutes) build to see how it feels?

[2015-10-03 22:22] sreilly commented on #125
@thm Is the issue here that the indentation (on both sides) is too large, and should be an absolute value rather than relative to the overall width?

[2015-10-04 11:12] thm commented on #125
@sreilly yes

[2015-10-04 11:48] thm commented on #87
1. We seem to only show the 5 most recent recents and favorites in the popover. That should be the 5 most recent recents and _all_ favorites.

2. The icons' measurements are off again:
![icons](https://cloud.githubusercontent.com/assets/1379822/10267597/9c68b306-6a9a-11e5-92cb-c0b91d28e031.png)

3. Can you make the margin inbetween the topbar and the popover 16px/8pt again? It's currently ~3px

[2015-10-04 11:54] thm commented on #127
@sreilly rather than moving the icon, title and description closer together as described above they seem to have moved even further apart. Instead of **adding** 10px/5pt above and below the title can you **subtract** that amount above and below the title so these elements get closer together?

[2015-10-04 11:55] thm commented on #124
@sreilly looks fixed, thanks!

[2015-10-04 11:55] #124 closed

[2015-10-04 22:06] sreilly commented on #87
@thm all set, thanks!  Changes made and pushed.

[2015-10-04 22:08] sreilly commented on #127
@thm oops... I'm not sure how that happened.  I've tweaked it to match the design above, with the exception of the icon + title + subtitle being vertically centered in the view.  I did that to be consistent depending upon orientation, however it can definitely be tweaked.  Anyway, fixes have been pushed :)

[2015-10-05 09:03] thm commented on #127
@sreilly thanks, this works for now

[2015-10-05 09:03] #127 closed

[2015-10-05 09:19] thm commented on #87
@sreilly perfect, thanks! on just the Favorites and Recents pages can you make sure the distance between the popover and the search-field is 16px/8pt instead of 32px/16pt? That would make it properly cover the segmented tabbar. Though please note, only on the Favorites and the Recents pages.

_Feel free to move this to the "iteration 1" milestone if it takes up too much time!_

[2015-10-05 09:26] #113 closed

[2015-10-05 09:37] sreilly commented on #87
@thm piece of cake!  this change is baking now

[2015-10-05 09:50] thm commented on #87
@sreilly Thanks a lot!

[2015-10-05 09:50] #87 closed

[2015-10-05 16:03] sreilly commented on #125
@thm sorry for the lack of progress on this one.  I've been trying different approaches for nearly the entire day.  This is a built-in behaviour of the UITableViewCell that has turned out to be very difficult to override.  We can replace all of the cells/rows with our own views but that will take a little while to implement, and likely not look great the next time Apple updates their overall look.

[2015-10-05 18:16] thm commented on #125
@sreilly I didn't know that, I thought it looked alright before. Would it be an easier alternative to use a proper split-view here?:

![quick-mockup](https://cloud.githubusercontent.com/assets/1379822/10289299/eefb0728-6b9d-11e5-981f-1c24c8974632.png)

[2015-10-05 18:20] sreilly commented on #125
That's a fantastic idea. On it!

[2015-10-06 10:05] sreilly commented on #125
@thm yet again this ends up not being as straightforward as I had hoped.  The iOS master-detail view won't work with the push-stack controls like with the rest of the app.  Basically, the split view needs to work at the root level, so it effectively refuses to be used with the search bar at the top and tab bar at the bottom. I'll see what else I can try, including using a third-party split view co

[2015-10-07 21:27] sreilly commented on #125
@thm ok, the latest build includes a custom split view adapted from the open source MGSplitViewController.  Can you give it a go on an iPad and let me know how it feels and if you'd like any tweaks to it?

[2015-10-09 17:54] thm opened #128 "No play icons on iPad anymore"
On iPad .gifv files don't seem to get the play-icon anymore. So, .gifv files can't be played. In native Safari it seems to be fine.

[2015-10-09 18:35] thm opened #129 "Revert back to small titles on mosaic view"
@sreilly we would like to revert the mosaic view back to using small titles for the large stories. So, essentially making the large story's images slightly taller to line up the title box with that of small stories. Would this be an easy fix or do you think we should push this off to the 'iteration 1' milestone?

cc @chrismorast

(left: current, right: next)
![comparison](https://cloud.githubuserc

[2015-10-09 18:39] thm commented on #125
Thanks, the only thing left to be fixed is the weird shifted dividers inbetween elements. On the `Favorites > Searches` page the dividers are aligned with the icons correctly, but on the `Recents > Searches` page they're way off. Same goes for the `Settings > Sources` page. Moving to the 'iteration 1' milestone though...

[2015-10-12 08:36] thm opened #130 "Settings not stored"
@sreilly Any settings set in duckduckgo.com/settings aren't stored after restarting the app. Settings are active in the current session but after a cold start all preferences are reset to default.

[2015-10-12 08:37] thm commented on #130
In Safari, everything works as expected

[2015-10-12 10:15] sreilly commented on #130
When the app is stopped (not just sent to the background, but terminated) the cookies and any local storage are intentionally cleared.  Would you like to change that, or make it an option?

[2015-10-12 10:16] sreilly commented on #130
@thm  When the app is stopped (not just sent to the background, but terminated) the cookies and any local storage are intentionally cleared. Would you like to change that, or make it an option?

[2015-10-12 10:16] sreilly commented on #129
should be a piece of cake!

[2015-10-12 13:08] sreilly commented on #128
@thm This is caused by our setting of the client-side navigator.userAgent setting to "DDG-iOS-<appversion>". That's the same version that is in the http request headers.  We added this setting to help the search results page could suppress the red line at the top, and possibly other effects.  Could we work with the web peeps to come up with a client-side user agent that looks more like a standard

[2015-10-12 14:48] sreilly commented on #129
@thm just to confirm, this was done earlier today and pushed to hockey.

[2015-10-12 15:08] #129 closed

[2015-10-12 15:09] thm commented on #129
Thanks, noticed it!

[2015-10-12 18:50] chrismorast opened #131 "Recent Stories view breaks sometimes in portrait/list view"
When I go to my recent stories view I occasionally get this:

![img_5359](https://cloud.githubusercontent.com/assets/7061920/10435845/6f135ab2-70d7-11e5-8c68-6d405a49e50d.png)

When I close the app and restart it it corrects itself.

[2015-10-12 18:56] thm opened #132 "Tabbar icons don't all scroll page to top anymore"
Tapping the Favorites and Recents pages' icons in the tabbar don't make the page scroll to the top anymore. The Stories and Settings icons work as expected.

[2015-10-13 19:20] nilnilnil opened #133 "Refresh stories spinner should be behind stories, not in front."

[2015-10-13 20:08] thm commented on #133
@nilnilnil Thanks, but this is a duplicate of #82. I've mentioned this issue a while ago but moved it to the 'iteration 1' milestone

[2015-10-13 20:08] #133 closed

[2015-10-13 20:09] nilnilnil commented on #133
@thm cool thanks. I didn't look through them all, sorry!

[2015-10-15 12:07] thm opened #134 "Empty state for Stories"
Note to self: Probably should mention in the empty-state description that you can activate more sources or deactivate the option to only show readability-mode stories

[2015-10-15 12:29] thm opened #135 "Make subtitles smaller"
Left = current DDG, right = default in iOS:
![comparison](https://cloud.githubusercontent.com/assets/1379822/10513603/11512d22-7349-11e5-959c-ca90a567bc06.png)

cc @chrismorast

[2015-10-15 17:29] thm opened #136 "When refreshing a readability story the page turns red"
![photo 15-10-15 7 22 58 pm](https://cloud.githubusercontent.com/assets/1379822/10521970/ea4e21d8-7372-11e5-9e9d-2ce3779c1da6.png)

cc @nilnilnil

[2015-10-15 17:32] thm commented on #130
@sreilly no, it turns out that's intentional. It's a false alarm.

[2015-10-15 17:32] #130 closed

[2015-10-15 17:42] thm commented on #136
How to reproduce (image courtesy of @chrismorast). Again, only applies to readability stories:

![red-screen](https://cloud.githubusercontent.com/assets/1379822/10522284/a84c59c4-7374-11e5-9f84-466ccbb3db8a.jpg)

[2015-10-15 18:02] thm commented on #128
cc @nilnilnil @bsstoner

[2015-10-15 18:49] nilnilnil commented on #128
@sreilly interesting, how did you confirm?

[2015-10-15 19:53] sreilly commented on #128
@nilnilnil I just tried loading one of the .gifv story links with the setting on and then again with it off.  You can try it by changing the property name on Line 56 of DDGSettingsViewController.m:

        @"UserAgent": [DDGUtility agentDDG],

This also sets the HTTP header, but the header is also set in another location too, so this setting only ends up affecting the client-side user agent that

[2015-10-15 20:44] sreilly commented on #132
@thm All fixed with the upcoming build. Thanks!

[2015-10-15 20:44] sreilly commented on #136
@thm all fixed, thanks!

[2015-10-16 12:50] #136 closed

[2015-10-16 12:52] #132 closed

[2015-10-16 15:17] chrismorast opened #137 "Address link does not open native maps app"
My guess is there's still an issue with setting the mobile parameter. When I click on an address link from within the app, it opens up bing maps when it should open up apple maps

cc @nilnilnil @sdougbrown @bsstoner

[2015-10-19 21:19] sreilly commented on #137
@chrismorast when tapping on an address the app is getting the following URL load requests:
https://duckduckgo.com/l/?kh=-1&uddg=https%3A%2F%2Fbing.com%2Fmaps%2F%3Fobox%3D1%26q%3D135%2520George%2520Street%252C%2520Edinburgh%2520EH2%25204JH%252C%2520UK

https://bing.com/maps/?obox=1&q=135%20George%20Street%2C%20Edinburgh%20EH2%204JH%2C%20UK

https://www.bing.com/maps/?obox=1&q=135%20George%20Street

[2015-10-21 02:39] chrismorast commented on #137
Going to have to let @nilnilnil or @bsstoner make that call

[2015-10-21 09:46] bsstoner commented on #137
No need to change user agent, we can fix this internally in the JS.

[2015-10-21 14:20] nilnilnil commented on #137
This conflicts directly with #128 from my understanding.

[2015-10-21 14:28] sreilly commented on #137
@bsstoner: @nilnilnil makes a great point there.  I think both tickets would be resolved if we simply append the DDG-iOS-version tag to the default (mobile safari) user agent.  Then servers/javascript that we don't control such as the imggur gifv stuff would treat us like mobile safari (which would be correct) and the DDG JS could still tell if it was running with the app as opposed to a normal br

[2015-10-21 14:42] bsstoner commented on #137
Okay, we can do that. @nilnilnil Does that mean you're cool with changing the user agent? I wasn't sure what other implications there were aside from the device detection on the front-end.

[2015-10-21 14:55] nilnilnil commented on #137
There are web server changes we'll need to make. I expect the best thing to do in #128 is to use the DDG UA for DDG requests and The default for everything else.

[2015-10-21 15:07] sreilly commented on #137
@nilnilnil ok.  Although on the app's side we can set the UA at a fine-grained level for http(s) requests, but for the navigator.userAgent setting that is accessed in javascript we can't choose which string that returns for individual pages or hosts.

[2015-10-22 15:28] chrismorast commented on #131
Hey Sean, have you looked into this at all?

[2015-10-22 15:29] nilnilnil commented on #128
The short answer here is to use the DDG UA for DDG requests and the default UA for everything else.

[2015-10-22 15:31] sreilly commented on #131
@chrismorast yes, but not found a solution (nor a reliable way to reproduce it) yet.  Was out of commission for the first part of this week but will get this fixed up now.

[2015-10-22 15:48] sreilly commented on #128
@nilnilnil That is what we're doing for the http requests, but the UA setting that client-side javascript looks at can't be set on a site-by-site basis.  Basically, the javascript agent setting is an all-or-nothing thing.  We either have to let iOS set the value for all sites (making the play button, and various other JS stuff "just work") or we set our own value that applies to all sites.

[2015-10-22 16:02] nilnilnil commented on #128
Woah, that seems a bit intense. What docs are you looking at?

[2015-10-22 23:04] sreilly commented on #128
I haven't found any official documentation on the client side navigator.userAgent setting, but there are a lot of posts on stackoverflow that describe how it works.  Basically it's a setting that goes into the app-wide settings mechanism called NSUserDefaults.  Because it's app-wide, it wouldn't be reliable to adjust it just before and after page loads in order to make it behave in a site-specific

[2015-10-22 23:05] sreilly commented on #137
@thm This should now be fixed with the latest build!

[2015-10-22 23:29] bsstoner commented on #128
Cool! Just a heads up, the detection internally needs slightly modified (it's looking for DDG at the beginning of the UA string). I just opened an internal PR to fix, but you may see the red bar come back in the meantime.

[2015-10-23 10:54] sreilly commented on #131
@chrismorast @thm I believe the current build should now fix this.  I'm not 100% confident that this will fix it because I wasn't always able to reproduce the problem, but I haven't been able to reproduce it after making this morning's change which *should* have had an effect.

[2015-10-26 17:04] thm commented on #128
Marking complete. @bsstoner noted!

[2015-10-26 17:04] #128 closed

[2015-10-26 17:06] thm commented on #131
@sreilly thanks, @chrismorast can you confirm this is fixed? I'm not able to reproduce the issue.

[2015-10-27 21:55] #137 closed

[2015-10-27 22:03] sreilly commented on #121
@thm Can you try the latest build (in a couple of minutes)?  I believe it may resolve this, but I've only tested on one device so far.

[2015-10-27 22:05] sreilly commented on #120
@thm are you still seeing this?  I made some changes a couple of weeks ago that I think should have resolved it, but will take another look if the issue still remains.

[2015-10-27 22:13] thm commented on #120
@sreilly Yes, the main stories feed seems to work fine at this moment, but the Favorites and Recents feeds still scroll to a different position on the page than where I left them at. (build 694)

[2015-10-27 22:15] thm commented on #121
@sreilly I'm still seeing the list-items jumping around (build 694). They seem to really quickly transition in from the top. The grey flickering seems to be gone however.

[2015-10-27 22:32] chrismorast commented on #120
I see this with the main feed as well. I go to the main stories feed, scroll to the top, select favorites (which has scrolled to the middle of the feed rather than where I left off or the top) the go back to stories and I'm in the middle of the feed rather than the top, which is where I left off.

[2015-10-27 23:15] sreilly commented on #121
@thm ok, I think build 695 works around that other transition issue.  No idea why that was happening, but should now be resolved!

[2015-10-28 03:55] chrismorast commented on #120
Adding another case of this as well (Reported by Brian Risk)
[app-rotation-behavior.pdf](https://github.com/duckduckgo/ios/files/22193/app-rotation-behavior.pdf)

Scroll position not remembered when changing orientations far down the page.
Step 1: Scroll to an article far down the page. That is, let it load more articles, scroll, load, scroll, load, etc
Step 2: Rotate to landscape
Step 3: rotate t

[2015-10-28 12:06] thm commented on #121
@sreilly perfect, thanks

[2015-10-28 12:06] #121 closed

[2015-10-28 14:30] sreilly commented on #120
@thm @chrismorast can you guys try build 696 which was just posted to hockey?  I rewrote the scroll point saving/restoration so it should be a lot more reliable now.

[2015-10-28 14:44] thm commented on #120
@sreilly The scroll position seems to be stored correctly right now! Rotating the device to landscape and back still results in a different scroll position on the main feed though

[2015-10-28 14:50] thm commented on #120
Two more related problems:
1. The scroll-position in the search list isn't stored correctly either. When I scroll down the page, and rotate the device to landscape and back, then the scroll position is re-set to the top of the page.
2. The search-field placeholder moves out of place after rotating the device to landscape, and retains its centered position when rotating back to portrait (see screen

[2015-10-28 21:41] sreilly commented on #120
@thm nice catches!  With build 697 I've fixed the problem with the re-centering of the placeholder upon rotation.

As for the other problem, I'm seeing the list shift a bit during the transition between landscape and portrait but in general the top-most visible item is usually kept visible when rotating back to portrait.  The list scroll position upon rotation is handled internally by the iOS/UIKi

[2015-10-29 13:33] thm commented on #120
@sreilly

— Watch the sunglasses guy (on the main feed): http://cl.ly/2I370L101P0i/sunglasses.mp4
— Watch "tesla news" (in the search list): http://cl.ly/1M320d400j2L/tesla-news.mp4

[2015-10-29 14:19] sreilly commented on #120
@thm ok, so the "tesla news" shifts a bit because upon rotation we are updating the history section because we wanted to show fewer entries in landscape than in portrait.  When I disable that refresh it keeps the right location relative to the top of the screen.  I've just pushed this change, as I think it's better to preserve the scroll location than to adjust the number of values when rotating.

[2015-10-29 18:23] chrismorast commented on #131
This is not fixed. I was testing other tabs and different orientations (portrait and landscape) to see if the feed position issue was fixed. Then I clicked on the recents tab and got this...
![img_5551](https://cloud.githubusercontent.com/assets/7061920/10828027/6a1a139c-7e2f-11e5-9cc3-96043df2107e.PNG)

[2015-10-29 18:26] chrismorast commented on #131
![img_5552](https://cloud.githubusercontent.com/assets/7061920/10828111/d9092ee6-7e2f-11e5-9dec-6f95c99030ec.PNG)

[2015-10-29 18:27] chrismorast commented on #131
The only way to fix is to close the app out entirely and reopen.

[2015-10-30 00:19] sreilly commented on #131
@chrismorast fixed it!  I still don't know how it was possible, but I've added a workaround.  The latest build (701) also overrides the system scroll position adjustment upon rotation, which I think is an improvement.

@thm mind if I push this one to testflight and submit to the app store?

[2015-10-30 01:01] sreilly commented on #120
@thm build 701 now manually overrides the built-in scroll view adjustment to try and put the first fully-visible story at the same vertical offset when you rotate it.  Can you give it a try?

[2015-10-30 01:02] sreilly commented on #131
oh darn... I just got it to reoccur in 701.

[2015-10-30 01:11] sreilly commented on #131
@thm @chrismorast ok, this should actually be fixed in 702.  Unfortunately I already pushed 701 to beta testers via testflight.  If this one works in the internal testflight then I'll push 702 to the public and the app store.  Sorry about the confusion and the extra beta notifications!

[2015-10-30 13:16] thm commented on #120
The main feed still shifts down the page about ~20px every time I rotate the screen. I wonder if it has to do with the 20px we add at the top of the mosaic view in landscape mode.

[2015-10-30 13:18] thm commented on #120
@sreilly The search list also still seems to shift up after rotating to landscape and back. It's not all the way to the top anymore though. Other than that I can't reproduce any noteworthy shifting in the story feeds.

[2015-10-30 13:21] thm commented on #131
I've installed 702 through TestFlight and I just saw this bug for the first time, I've never been able to reproduce it before:

![photo 30-10-15 2 16 06 pm](https://cloud.githubusercontent.com/assets/1379822/10846631/616dab9a-7f11-11e5-9b2c-66919bb86d0e.png)

[2015-10-30 13:25] sreilly commented on #131
@thm argh!  Yeah, I see it again now too.  This one is persistent!

[2015-10-30 13:27] sreilly commented on #131
It seems to occur when opening a certain type of story from the main stories view and then switching over to the recents list.

[2015-10-30 16:56] sreilly commented on #131
@thm I've just pushed a commit which should fix the root problem here.  Whenever there was an update to the underlying data all views would get a notification of the change, even if they weren't visible.  This means that the recent-stories view receives update notifications every time a story was marked as read, such as when you opened a new story in the main stories view.  The problem was that th

[2015-11-03 14:18] #131 closed

[2015-11-03 19:58] #92 closed

[2015-11-03 20:02] thm commented on #100
I think this has been fixed after implementation of the custom search-field. So, marking complete!

[2015-11-03 20:02] #100 closed

[2015-11-04 19:39] sreilly commented on #66
@thm I'm 99% sure that there's no way to make any html/css elements that are pinned to the bottom of the page smoothly animate with the toolbar.  When the tab bar is hidden or shown we aren't changing the size of the webview, but rather setting a guide that tells the webview that the viewport (content view) inset has changed.  The webview internally tells the web page that that viewport has change

[2015-11-04 20:43] thm commented on #66
@sreilly alright, then don't worry about it! Do we have a task for the topbar auto-hiding yet? otherwise, yes it can animate at the same time as the tabbar.

[2015-11-05 11:25] thm opened #138 "Search-field issue"
@sreilly I feel like we've solved this issue before, but apparently it's back. How to reproduce:
1. Search for something (eg. "apple")
2. Tap the back button ("<" on the tabbar)
3. Tap search-field
4. Tap "Cancel"
5. RESULT: "apple" appears back in the search bar, with no way of getting rid of it from the tab.  Going to the "stories" tab and back clears it from the search bar, but the auto-complet

[2015-11-05 22:59] thm opened #140 "Crashes on older iPhones running older versions of iOS"
@sreilly We've gotten several reports of the new app crashing on an iPhone 4(s) with iOS 7 immediately after the preload screen. Do you think this is related to performance issues? Something we can easily address?

[2015-11-06 09:05] sreilly commented on #140
@thm I'll check it out right now.  I'm sure we can handle it :)

[2015-11-06 10:28] thm commented on #140
Got a report for iPhone 5s on iOS 7 too. Maybe that helps scoping the issue, as it seems to be iOS 7 is where it's at.

[2015-11-06 10:34] sreilly commented on #140
@thm ok, I've fixed it.  build 704 coming shortly with the fix. If we can try it out quickly (including on non-iOS7/iPhone4s) and everything else seems fine then I can request an expedited review with Apple.

[2015-11-06 13:32] sreilly commented on #140
@thm @nilnilnil @chrismorast build 705 fixes the crash and is now waiting for review with Apple.  Can you guys try it out on your regular phones and if it seems like nothing else is broken as a result of these changes?  If you give me the all clear I will request an expedited review.

[2015-11-06 14:14] thm commented on #140
@sreilly I'm not sure if it's a result of these changes but the search-field placeholder is centered when going to the search tab after a cold start. Afterwards it's left-aligned correctly. I also don't continuously get auto-complete to show up when typing a query, it appears and disappears while typing.

[2015-11-06 16:01] sreilly commented on #140
@thm just an FYI that I see this too and nearly have this fixed as well

[2015-11-06 19:26] thm commented on #140
@sreilly awesome, thanks!

[2015-11-06 21:58] sreilly commented on #140
@thm ok, that is also fixed and will be included in build 707, which is due any minute now.  Can you let me know if I can go ahead and submit it?

Because I hastily included Caine's 3d-touch shortcut PR into the main 2015-refresh branch this build will also include that code.  I have however updated that code and I think it's acceptable to include in this build.  Would you mind if I included the n

[2015-11-07 06:39] tbegonja commented on #140
DuckDuckGo is also crashing on a 5c under iOS 7.

[2015-11-07 13:33] thm commented on #140
@sreilly yup, the issues seem to be fixed with v707. I'm unfortunately not able to test the 3D-touch addition (no 6s here), but if you've reviewed it and are confident that it won't affect the app's internals in a negative way then I'm fine with its inclusion!

[2015-11-07 16:14] sreilly commented on #140
@thm @nilnilnil ok, it's submitted and waiting for review.  I don't have permission in iTunesConnect to request an expedited review, but if you or Caine do can you submit the expedited review request at this link?  https://developer.apple.com/appstore/contact/?topic=expedite

They'll likely ask for the app ID (663592361) and app bundle ID (com.duckduckgo.mobile.ios).  Thanks!

[2015-11-07 22:00] nilnilnil commented on #140
done.

[2015-11-08 13:49] sreilly commented on #140
@thm it was a result of those changes but should have been fixed by build 707.

[2015-11-08 16:30] #140 closed

[2015-11-10 01:10] tbegonja commented on #140
I deleted the app, re-downloaded it from the iOS App Store, did a hard-reset on my phone, and the app STILL behaves the same as it did before: it never leaves the splash screen and immediately transfers control back to the Home Screen/Finder.  Switch back to the app by either tapping on the app icon or by navigating to it via the list of running apps, and it behaves the same: never stops displayin

[2015-11-10 07:11] chrismorast opened #142 "Mosaic view completely broken in the new build (6.0.1)"
These are screenshots from iPad using iOS 8 as well as iPhone 6 using iOS 9.1
![img_0390](https://cloud.githubusercontent.com/assets/7061920/11056488/2c57764c-8737-11e5-9de6-a5583abb31c2.png)
![img_5613](https://cloud.githubusercontent.com/assets/7061920/11056489/2c7d0be6-8737-11e5-8003-410cae8843da.PNG)

cc @thm @nilnilnil

[2015-11-10 10:23] thm commented on #140
@tbegonja with which version of the app are you experiencing the issue? Did you update to the just-released version? (v6.0.1)

[2015-11-10 10:31] thm opened #143 "Viewport height issue"
How to reproduce:
1. Search for "bike share san francisco"
2. Tap a tile in carousel to initiate the map-view
3. RESULT: When tabbar is visible the viewport extends below tabbar,

![img_5579](https://cloud.githubusercontent.com/assets/1379822/11060125/820b19e2-879e-11e5-8d5a-b9162ad8e04e.PNG)

cc @chrismorast @bsstoner @nilnilnil

[2015-11-10 21:24] thm commented on #142
@chrismorast thanks for reporting, this looks really bad! @sreilly have you been able to reproduce the issue?

[2015-11-10 21:41] sreilly commented on #142
@chrismorast @thm This really does look terrible.  I've never seen this in the main stories view or the favorites view before, but will track it down ASAP.

[2015-11-10 23:18] sreilly commented on #142
@chrismorast @thm Part of one of the changes related to the iOS7 crash workaround was causing the problem.  I've reverted that part of the workaround and pushed it as version 6.0.2.  I'll have to test it on an iPhone with iOS7 in the morning, but I'm confident that this won't be a problem even on iOS7.  I apologise for the bug... this looks really bad.

[2015-11-11 02:51] tbegonja commented on #140
The version I downloaded last night was version 6.0.While I have since deleted that, I find that the App Store report "Unable to Download App 'DuckDuckGo Search & Stories' could not be downloaded at this time." when I try to download it.-----Original Message-----
From: Thom
Sent: Nov 10, 2015 4:23 AM
To: duckduckgo/ios
Cc: tbegonja
Subject: Re: [ios] Crashes on older iPhones running older versions

[2015-11-24 23:09] sreilly commented on #143
@thm I believe this needs to be fixed on the web side of things. I'm not too familiar with css, but I think that div should be pinned to the bottom of the viewport in a way that is updated when the viewport/inset changes.

[2015-11-24 23:10] sreilly commented on #142
@thm just a ping that I believe this one can be closed now

[2015-11-25 17:47] #142 closed

[2015-11-25 21:43] sreilly commented on #138
@thm This is fixed for the next build!  I'll have the automated builds up and running again soon since I've changed the git repo layout a bit.

[2015-11-25 21:44] sreilly commented on #135
@thm fixed for the next build!

[2015-11-27 13:01] thm commented on #138
@sreilly thanks!

[2015-12-02 23:04] sreilly commented on #125
@thm these are showing up aligned for me on the iPhone and iPad.  Can you confirm whether it's still an issue?  If it is, would you be able to send a screenshot of the problem?  Thanks!

[2015-12-03 14:37] thm commented on #125
Sure thing, on both iPhone and iPad I currently see this:
![alignments-1](https://cloud.githubusercontent.com/assets/1379822/11563280/77facef6-99d3-11e5-9150-358e8f0b8b14.png)

And this is just on iPad (on closer inspection I also notice a weird extra line above the favorite searches list):
![alignments-2](https://cloud.githubusercontent.com/assets/1379822/11563287/813c062e-99d3-11e5-9e4f-9196b3b3

[2015-12-03 14:47] #138 closed

[2015-12-03 14:51] thm commented on #135
@sreilly Thanks, looks much better! Can you move the subtitles up a bit so that they're slightly closer to the title? (probably about 2-4px). I also noticed the currently-selected value for the main-menu items have gotten the same small font-size, which they shouldn't have had. :) Purple arrows in the screenshot attached:
![screenshot](https://cloud.githubusercontent.com/assets/1379822/11563715/ad

[2015-12-14 16:53] thm opened #146 "Grey border on app icon"
@sreilly the grey border on our app icon is not in the image assets as far as I know. In the attached screenshot Vimeo has grey lines too. It's a little faint in the screenshot, but is this something we can solve?

![cwkr6-lwuaa5bqa jpg-large](https://cloud.githubusercontent.com/assets/1379822/11787008/fa14d2b0-a289-11e5-93b0-c0aeacf445b7.jpeg)

Source: https://twitter.com/fabiodomar/status/676263

[2015-12-14 22:41] sreilly commented on #146
Oh wow, that grey line does seem to exist in the app icon's png files.  I've attached a screenshot showing them opened in Preview and zoomed in. I don't think we did any processing on these files when adding them to the project.  Do you have the originals?

<img width="482" alt="screenshot 2015-12-14 22 40 00" src="https://cloud.githubusercontent.com/assets/470762/11796348/c26dc572-a2b3-11e5-8ae8-

[2015-12-15 03:43] tagawa commented on #110
Also a request on Twitter for adding support for Safari's content blocker: https://twitter.com/moisterrific/status/676594548320043008

[2015-12-15 05:43] tagawa opened #147 "Feature request: Add support for multiple tabs"
User request from Twitter: https://twitter.com/moisterrific/status/676594548320043008

[2015-12-15 05:58] tagawa opened #148 "Feature request: Option to switch to dark mode in low light"
When the ambient light drops below a certain level (or alternatively the local time is evening/night), switch to an eye-friendly white on dark colour scheme. Could be an option, disabled by default.

A user request from Twitter: https://twitter.com/moisterrific/status/676639424331931648

[2015-12-15 11:27] thm commented on #146
@sreilly you're right! I think it must have gone wrong when converting one asset to all the other required sizes, weird stuff! I'll get new assets sorted

[2015-12-15 11:32] thm commented on #146
@sreilly all done, the updated assets are on BTS

[2015-12-15 12:01] sreilly commented on #146
@thm thanks! Just pushed a build with them.  I've been making some more progress with the tab bar sliding out.  Hopefully something worth pushing soon!

[2015-12-15 15:23] nilnilnil commented on #148
This is not actionable for now. It's a note.

[2015-12-15 15:23] nilnilnil commented on #147
This is not actionable for now. It's a note.

[2015-12-16 08:20] sreilly commented on #146
@thm one more thing is that apple now wants an 83.5x83.5 pt icon at 2x resolution (so 167x167px).  If you still have the original handy could you generate one of that size?

[2015-12-16 13:10] thm commented on #146
@sreilly sure, added!

[2015-12-17 03:15] chrismorast opened #149 "'Added' and 'Removed' pop up missing when favoriting a story from the main story feed"
In addition, the drop-down from the 3-dot menu on the story is not dismissed after clicking add to favorite (or remove).

[2015-12-17 10:52] sreilly commented on #149
Hi @chrismorast, both of these are intentional (requested by @thm).  I believe the reasoning is that the added/removed popups are not needed because the popup is still visible and the "Add to/Remove from Favorites" text change provides the feedback. I'll assign this one to Thom and you guys can decide whether this behaviour should change.  Personally I could go either way on it, and it's easy to c

[2015-12-19 11:40] #146 closed

[2015-12-19 13:57] AngeloStavrow opened #150 "Project references files that are ignored by the VCS"
The files in question are the *ProximaNova* fonts, which I assume cannot be included in this repository for licensing reasons.

And it's *such* a great font! Unfortunately, this also means that Xcode builds will fail unless

1. the font is purchased by each contributor (USD$290 was the cheapest I found); or
2. the font is replaced by either something from the system, or an open-source font like [O

[2015-12-23 01:28] tagawa opened #152 "Navigation buttons disappear after view video"
**Device:** iPhone 4
**iOS:** 7.1.2
**DDG app:** 6.0.2.

**Steps to reproduce**
1. Open DDG app on iPhone
2. Search for and watch a video, e.g. YouTube, LiveLeak
3. When finished, try to go back to previous page

**What should happen**
Navigation buttons should appear to go forward or back a page.

**What actually happens**
The navigation buttons don't reappear, even after scrolling back up. They'

[2015-12-24 02:53] tfarina commented on #150
Since this was merged, can we close this?

[2015-12-24 10:27] AngeloStavrow commented on #150
While the PR addresses some missing setup steps in the contribution guidelines, I think a second item that the community may want to address is whether or not it makes sense to drop the use of a licensed font in the project.

It don't know if there are practical considerations for using ProximaNova, including support for non-Latin characters. It *would*, however, make it easier a little to merge b

[2016-01-06 00:00] Calefornia commented on #120
In regards to text selection, it is very difficult to choose the bang button [!] on the left of the selected query. Sometimes it works right away, but for the most part, the app thinks I'm trying to activate options for the selected text, like cut, paste, define, etc.

I don't know how much room is given for selecting the bang; perhaps an increase would be the easiest fix. I personally don't feel

[2016-01-06 01:48] Calefornia commented on #85
I'm still experiencing crashes when deleting recent searches. It occurs after several consecutive searches are deleted, but sometimes if I skip further down and delete a search term, it only takes a second or third deletion to crash it.
Diagnostic data is being shared automatically - not sure where it all ends up.
Version 6.0.2 (709), iOS 9.2, bug type: "109"

[2016-01-06 03:52] SwiftlyDeft commented on #143
![143-safari reference](https://cloud.githubusercontent.com/assets/4774399/12134479/7edb6ec0-b494-11e5-9da0-d65b77b21e5f.PNG)
@thm On Safari mobile, I'm able to reproduce the same issue that we are experiencing in-app. The attached image shows a grey bar behind the bike location cards, they look like the space that we need the cards to move up by.

To Reproduce:
Drag the web page up slowly, you sh

[2016-01-06 03:54] SwiftlyDeft commented on #143
![img_3557](https://cloud.githubusercontent.com/assets/4774399/12134613/dfe7bc4a-b495-11e5-8846-a36bd670adcd.PNG)

@thm This screenshot was taken in safari as well but it's not in being scrolled.
Ive checked Chrome on iOS, and the responsive site on IE works great so the issue here is the animating tab bars and how the site is responding to it.

Where should we place this issue and can it get clos

[2016-01-06 04:08] SwiftlyDeft commented on #85
@Calefornia does this happen if you go to Recent searches > tap on the + icon. The app crashes every time I tap the +, when I was going through some testing to see if it was the deletion process, it looks like it has to do with tapping the +. Give it a try and let me know.

Thanks
Josiah Clumont

[2016-01-06 04:53] Calefornia commented on #85
@SwiftlyDeft, you are correct. Wow, I never realized that was the actual problem. Swiping to delete works just fine as long as I don't touch the + icon.
Wondering why this same crash doesn't happen on the other recent searches list, accessed from the far left search icon. (The one used to essentially paste recent searches into the search bar).

[2016-01-06 04:59] SwiftlyDeft commented on #85
@Calefornia no issues. I was playing around with it after i saw your issue come in on Slack. It was connected up to the debugger so made it a lot easier to figure out that it had to do with the + button. It's been updated. So after the next update of the app + will work on recent searches.
It works on the search tab as there was a delegation issue with the recent/history view controller and how it

[2016-01-06 22:42] Calefornia commented on #85
@SwiftlyDeft, thanks! glad it's fixed

[2016-01-08 01:18] SwiftlyDeft commented on #125
@thm Good new's, sorted out the Recent Searches padding. Have a look at this screenshot:

![simulator screen shot 8 01 2016 2 05 44 pm](https://cloud.githubusercontent.com/assets/4774399/12187663/93129b46-b612-11e5-95e2-3dfc97054bf7.png)

You'll be able to see and verify the fixes in the next build update. The extra spacing in the Favorite searches has also been dealt with

[2016-01-08 01:22] SwiftlyDeft commented on #125
@thm Regarding the concern about alignments for the Settings. Have a look at the attached screenshot from the Settings App on iOS.

<img width="874" alt="screen shot 2016-01-08 at 2 16 16 pm" src="https://cloud.githubusercontent.com/assets/4774399/12187698/fe224986-b612-11e5-8631-4ccbc1679770.png">

Notice that T and V are flushed left (edges meet) but with F theres a little space. It's the text r

[2016-01-08 01:56] SwiftlyDeft commented on #94
@thm, increased the tap-able area for the story options. Here are the actual sizes, highlighted in code.
<img width="503" alt="screen shot 2016-01-08 at 2 49 33 pm" src="https://cloud.githubusercontent.com/assets/4774399/12188201/e0c1eed2-b617-11e5-9743-7ba944ad51a6.png">

[2016-01-11 02:30] SwiftlyDeft commented on #122
Brought the tab bar items closer in for the iPad, only. This will be available in the next beta build

[2016-01-11 03:20] SwiftlyDeft commented on #107
This has been fixed, will be able to test in this week's beta build

[2016-01-11 03:34] SwiftlyDeft commented on #108
Does not seem to be an issue anymore, please have a check in this weeks beta build. Thanks Josiah Clumont

[2016-01-11 11:08] thm commented on #143
Thanks @SwiftlyDeft for looking into this. I'll have this reassigned to front-end. cc @bsstoner

[2016-01-11 11:08] #143 closed

[2016-01-11 11:24] SwiftlyDeft commented on #143
Thanks @thm, i'll be looking at a Hybrid solution this week where we may be able to run a javascript function through the Web View that could animate the desired changes better. If there's a way to include me on the issue on the front end i would like to be apart of solving this issue for all of us. Thanks

[2016-01-11 11:32] thm commented on #143
@SwiftlyDeft @bsstoner I just noticed on websites like http://qz.com and http://medium.com, that have fixed elements at the bottom of the page on mobile, that these elements are hidden below the tabbar in the app but properly float above the tabbar on mobile Safari. What do you think of setting up a call this week to discuss the issue? that may be more efficient

[2016-01-11 11:38] SwiftlyDeft commented on #143
@thm @bsstoner , works with me for a call to sort this out.

[2016-01-11 19:23] #48 closed

[2016-01-11 19:23] #51 closed

[2016-01-11 19:24] nilnilnil commented on #51
Closing based on the fact we're sticking with Obj-C for now. Perhaps if we refactor in big ways, we'll switch.

[2016-01-11 21:16] thm commented on #125
@SwiftlyDeft sorry for the confusion, the two purple guides were meant to compare the dividers with the text. The iPad screenshot looks good!
![guides](https://cloud.githubusercontent.com/assets/1379822/12241374/21c547a8-b893-11e5-8a78-b4b3557cfbe7.png)

[2016-01-11 21:18] SwiftlyDeft commented on #125
@thm, yikes, what a mistake. Sorry about that, i'll get this fixed in the next build. Thanks for clarifying the issue

[2016-01-11 21:27] thm commented on #135
@SwiftlyDeft (cc @sreilly) it seems the selected-values indicated with purple arrows in the screenshot from my comment above were completely removed in the latest build (731). They should've merely gotten the correct font-size (same as "Home" and "Region" titles).

I also notice that the main settings page now has a blue-ish background, as opposed to the light grey background we have everywhere el

[2016-01-11 21:30] thm commented on #122
@SwiftlyDeft looks good, thanks!

[2016-01-11 21:30] #122 closed

[2016-01-11 21:35] thm commented on #135
@SwiftlyDeft One more issue I notice on the settings page on iPad (v731) is that the right side of the page covers the tabbar after navigating to a different sub-page (eg. "Sources" or "Readability"). See purple arrows in the screenshot below:
![covered-tabbar](https://cloud.githubusercontent.com/assets/1379822/12247255/70c93a2e-b8b3-11e5-94a7-4613977e63d9.png)

[2016-01-11 21:43] SwiftlyDeft commented on #135
@thm, Thank's. The tighter spacing for the iPad needs to be updated to support "split views", top priority to get the tab bar working 100% for iPad.

[2016-01-11 21:50] thm commented on #108
@SwiftlyDeft awesome, marking complete!

[2016-01-11 21:50] #108 closed

[2016-01-11 22:09] thm commented on #107
@SwiftlyDeft if I initiate a scroll while the story-menu is open, then the scroll is disregarded while the menu is being closed. After the menu is closed I have to scroll again to actually scroll the page. Is there an easy way around this? can we catch the scroll-gesture and scroll the page in tandem with the menu closing?

[2016-01-11 22:14] thm commented on #96
@sreilly marking complete, looks awesome, thanks!

[2016-01-11 22:14] #96 closed

[2016-01-11 22:23] thm commented on #94
@SwiftlyDeft awesome, thanks!

[2016-01-11 22:23] #94 closed

[2016-01-11 22:27] thm commented on #93
@chrismorast if you still see this issue happen, can you take a screenshot? I'm unable to reproduce the issue.

[2016-01-12 02:28] SwiftlyDeft commented on #135
@thm, fixed the tab bar, the left side menu color (not blue!), brought back the detail text/selected text.  I've also added some polish, tapping on a home or region option will actually update the left menu. The settings for iPad should work much better now

[2016-01-12 02:50] SwiftlyDeft commented on #93
![img_3581](https://cloud.githubusercontent.com/assets/4774399/12253317/db901400-b943-11e5-997b-faeace79b785.PNG)
@thm & @chrismorast. To reproduce this "issue" you'll need to open a reddit link with a big image, i opened this one yesterday. Now the problem has to do with html tags being returned. It's not fitting on to the screen, thus the user can't pinch zoom it etc. After some testing i manage

[2016-01-12 02:52] SwiftlyDeft commented on #93
@thm, @chrismorast . By the way, if you open up that link in Safari, its all good, you can pinch zoom etc, make it fit on the screen. But if you use a UIWebView in a new project and load that image, it does not do whats expected. I suspect that Safari deal's with single images like these and makes a special case for them.

[2016-01-12 03:22] SwiftlyDeft commented on #125
@thm, Fixed, the title, subtitle and separator inset's now all align. This will be in the new build. Thank you

[2016-01-15 13:38] #125 closed

[2016-01-15 13:39] #135 closed

[2016-01-18 00:05] SwiftlyDeft commented on #107
@thm, This is been updated, and now works as expected. Tapping on the cell when the menu is open will dismiss the menu. Scrolling the page will dismiss the menu. Tapping on another cell will hide the menu and go into the story of the cell. Thanks!

[2016-01-26 05:03] SwiftlyDeft commented on #66
@thm This feature has been added, could you look over it, in the next build. Thank you

[2016-01-26 05:09] SwiftlyDeft commented on #120
@thm Could you confirm that this scroll shifting is still and issue? Thanks

[2016-01-26 05:14] SwiftlyDeft commented on #82
@thm Could you check on the latest build and let me know if this is ok for you now?

[2016-01-26 12:00] thm commented on #107
@SwiftlyDeft thanks, this is much better. However, I don't think it's very user-friendly to scroll the page (or not) based on the cell/story on which you initiate the scroll. It feels very inconsistent if the page scrolls only sometimes, and in some cases only closes the menu. As outlined in my previous comment I think we should aim to close the menu regardless of where you initiate the scroll. If

[2016-01-26 12:04] #54 closed

[2016-01-27 13:54] thm commented on #82
@SwiftlyDeft thanks, this is perfect!

[2016-01-27 13:54] #82 closed

[2016-01-27 14:15] thm commented on #66
@SwiftlyDeft In the latest build (v743) I'm not yet able to get the topbar to hide on-scroll. The topbar should hide simultaneously with the tabbar. Ideally the statusbar should remain. Please note, this only applies to the webview. On the Stories/Favorites/Recents-pages we should keep all bars visible like we already do. Please let me know if anything is unclear!

![detail](https://cloud.githubus

[2016-01-27 14:19] thm commented on #107
@SwiftlyDeft I've tested this in the latest build (v743) and you may still be working on it, but it's really close. I only noticed that the "Add to Favorites" link doesn't work the first time and you have to either tap it again to see it update or reopen the menu to update it. We should probably close the menu when the story is added to favorites anyway.

[2016-01-27 14:20] sreilly commented on #107
If we close the menu upon add/remove favourite then should we also restore the popup/toast indicator?

[2016-01-27 14:24] thm commented on #120
@SwiftlyDeft in the latest build (v743) this issue still occurs. When switching between landscape and portrait mode a few times you'll notice that the page scrolls down with ~20px increments. However, it's a minor issue. I doubt people are going to switch device orientation often enough to be really bothered by it. If it's an easy fix, feel free to go for it, otherwise feel free to mark this compl

[2016-02-01 04:09] SwiftlyDeft commented on #107
@thm Have a play with the latest build. Especially around the whole Add/Remove part. Let me know if it suits and if there's are anything that can be improved on in this area.

[2016-02-01 04:11] SwiftlyDeft commented on #66
@thm Got it. Can you have a play with the latest version of the app. Now this is just the first step where the Navigation Bar gets hidden (like the bottom tool bar). It does not animate out like safari does but it's a start. Please note it still shows a label (address) and around 20pt below the status bar. Let me know what you would like as we can easily remove the show navigation bar and just sho

[2016-02-02 07:29] SwiftlyDeft commented on #107
@thm: I'll let you know once a build has been prepared fixing a few other issues at the moment. Be ready soon! Thanks

[2016-02-03 18:54] chrismorast commented on #93
Hey @SwiftlyDeft , sorry for the delay. I'm still unable to install hockeyapp build for some reason so I'm unable to test. Have you successfully tested the fix on your device?

[2016-02-03 20:08] thm commented on #44
I'm closing this since readability-view is done internally

[2016-02-03 20:08] #44 closed

[2016-02-04 05:06] SwiftlyDeft commented on #93
@chrismorast Does it install with an error, or gives you an error when installing the security certificates? Regarding this issue, it was due to the Web View just displaying the image. One option was to check if it was a single image and wrap some CSS styling around it. But then i realised that the updated Web View from Apple can do this automatically and add's performance update's to the normal s

[2016-02-05 01:51] SwiftlyDeft commented on #107
@thm This is all ready for you to try out now.

[2016-02-05 01:56] SwiftlyDeft commented on #93
@chrismorast: If you ever get a chance to see this in action (when the build works for you!), try it out and let me know. Thanks

[2016-02-06 11:13] #83 closed

[2016-02-06 11:14] #134 closed

[2016-02-06 11:14] #91 closed

[2016-02-06 11:16] #89 closed

[2016-02-06 11:19] #50 closed

[2016-02-06 11:19] #147 closed

[2016-02-06 11:19] #148 closed

[2016-02-10 01:06] erikvdwal commented on #110
Note that `SFSafariViewController` does not allow adding custom UI elements like a favorite button, which means you'd lose the ability to favorite a page inside the app. One way around this may be to add a custom `UIActivity` that can save a page as a favorite.

[2016-02-10 02:57] jrk commented on #110
Indeed. And related, my assumption was that the search results would probably still be in the existing WebKit controller, but all of the result links would be redirected to an SFSafariViewController. (This doesn't address favoriting of pages while browsing, but can address any desire for custom behavior up through the search results pages.)

[2016-02-10 11:09] AngeloStavrow commented on #110
I considered the idea of a UIActivity too, but it does make favouriting an article a less discoverable.

Since a Safari view controller can be initialized with Reader mode active, does it make sense to add an option for this in the settings screen (or combine it with enabling Readability)? This might mean having to "de-brand" the feature—call it Easy-Reading Mode or Lightweight Mode or whatever.

[2016-02-10 17:59] #2 closed

[2016-02-10 18:00] #9 closed

[2016-02-10 18:00] #33 closed

[2016-02-10 18:00] #39 closed

[2016-02-10 18:00] nilnilnil commented on #49
This is pretty old, and we've not gotten feedback about this recently. Closing for now.

[2016-02-10 18:00] #49 closed

[2016-02-10 18:01] nilnilnil commented on #53
This is way old. Closing.

[2016-02-10 18:01] #53 closed

[2016-02-10 18:03] nilnilnil commented on #150
From my cursory understanding, we aren't wed to using custom fonts. @thm could speak more on this. It should be very easy to drop them if we don't think they'd add much to the application. As an aside, they're not a huge impedance either for people that want to make contributions.

[2016-02-15 14:53] coffeegeek1010 opened #154 "DuckDuckGo jumps to far back after swipping backwards"
Steps to reproduce:
1. Search something
2. Open the site
3. Swip to get backwards
4. App jumps back to start page, clear the search field and you have to start again.

[2016-02-17 22:47] thm commented on #150
We're using Proxima Nova here since that is the primary typeface we use at DuckDuckGo. As a designer I would always prefer to enforce a consistent design-language throughout a product. In that sense I think it adds a lot to the application, because it makes it ours.

I see that removing the typeface in favor of a default font would make things easier for engineers, but deviating from our design-la

[2016-02-18 11:49] AngeloStavrow commented on #150
That makes a lot of sense to me—I agree that visual consistency across all platforms is really important. I'll look into the system-font-as-fallback option this weekend and send a PR with a better fix. :+1:

[2016-02-18 14:01] thm commented on #66
@SwiftlyDeft excuse the late reply. I couldn't get this to work, but have been able to now. I think this looks awesome, keeping the domain in the topbar is a great idea. Some minor feedback:

1. Can you move the domain that is in the minified topbar up 3pt so it's vertically centered? (in the comp below the title has been moved 6px@2x)
![comparison](https://cloud.githubusercontent.com/assets/13798

[2016-02-20 17:21] AngeloStavrow commented on #150
Progress:

I have a custom run script phase that will check the `$CONFIGURATION` and if it's Debug, it basically does nothing. Otherwise, for Release-* configurations, it should copy the Proxima Nova font files over.

We can then remove the font files from the Copy Bundle Resources phase, and everything ends up rendered in the system font for Debug builds.

However, I'm not entirely sure about the

[2016-02-22 03:17] SwiftlyDeft commented on #66
@thm: #1 has been fixed, it's got the right spacing now.
![updated](https://cloud.githubusercontent.com/assets/4774399/13208628/a586fb74-d97f-11e5-9450-22f394fe9fcd.png)

[2016-03-18 05:07] SwiftlyDeft commented on #66
@thm, Have a play with the latest build, these issues should be resolved.

[2016-04-10 10:27] #107 closed

[2016-04-10 10:31] #66 closed

[2016-04-10 10:33] #120 closed

[2016-04-19 15:44] chrismorast commented on #93
👍 - works for me now in the new test flight build

[2016-04-19 15:54] thm commented on #93
Thanks @chrismorast @SwiftlyDeft, closing this

[2016-04-19 15:54] #93 closed

[2016-04-29 19:22] nilnilnil opened #157 "Support Universal Links"
@thm @sreilly @SwiftlyDeft I'd like to start a discussion around how to support universal links in the app, and what the implications of that would be.

https://developer.apple.com/library/ios/documentation/General/Conceptual/AppSearch/UniversalLinks.html

Is there a way to section of just queries? Particular types of pages like disambiguation, article, or category?

[2016-05-02 05:01] SwiftlyDeft commented on #157
@nilnilnil  After some preliminary setup work on both the app and server (apple-app-site-association json file). We are then able to respond to the url's in app. In the apple-app-site-association file we would add path's that should be handled as universal links, eg a query. When the user taps on this link and opens it up in the app, were able to determine what the link was (get's passed in a NSUs

[2016-05-02 13:28] nilnilnil commented on #157
So the app banner would always exist on our site in Safari if this was implemented? Also, is there a PR that is representative of this work? What do we need to do to help you get this in a testable build?

[2016-05-02 14:17] sreilly commented on #157
I'm pretty sure that the app banner shown in the screenshot is not part of the deep-linking but instead the app reference that can be put into the apple-itunes-app meta tag in the HTML.  My understanding with deep linking is that because the app and the web site's domain are known to each other (using the apple-app-site-association file and the domain setting in the app's provisioning profile) the

[2016-05-17 13:26] nilnilnil commented on #157
At this point I think we should experiment with it on a branch, and not commit to it being in the app yet. Our Safari integration could greatly complicate the UX flows.

What's the time investment to get a prototype of this? We could easily host the server side URL map file quickly.

[2016-05-17 14:10] sreilly commented on #157
I think it should only take another hour to get the prototype working.  I've just been getting it working in a different app on my own domain and can do the same with DDG for testing.  Will try to get this finished this evening and push a build to hockey for you.

[2016-05-20 15:54] sreilly commented on #157
Sorry about the delay in this.  The hockey app and testflight upload are building now. I'm not actually sure it's working because the apple-app-site-association JSON file that iOS loads from the associated domain seems to not be refreshing on my test devices after I added some edits.  By pushing it to testflight and hockey maybe it'll work on some other devices.  The code change is fairly minimal

[2016-05-20 18:19] infinitekind commented on #157
Ok it does seem to be working. I've setup a test folder on infinitekind.com/ddg/ which should open in the current TestFlight version of the app of you tap-and-hold or if you open the page (for example https://infinitekind.com/ddg/openinsyncspace.html) and scroll down.

[2016-05-24 11:13] skeuomorf opened #159 "App crashes when the send feedback button inside the settings view is clicked"

[2016-05-24 13:10] tagawa commented on #159
Thank you very much for reporting this @skeuomorf

[2016-05-24 13:11] tagawa commented on #159
Actually, could you let us know what version of iOS you're using?

[2016-05-24 13:13] skeuomorf commented on #159
No prb :)

Version 9.3.2 on an ipad air.

[2016-05-24 13:19] tagawa commented on #159
Thanks @skeuomorf

[2016-05-24 20:35] sreilly commented on #159
I see the problem here... we're not checking if MFMailComposeViewController.canSendMail.  I've fixed it and will send over a pull request ASAP.

[2016-05-24 20:37] sreilly commented on #159
@skeuomorf the crash is likely occurring you probably don't have any mail accounts set up in the Apple Mail app.  A temporary workaround would be to set up an email account - that will let you send email from most other applications that use the built-in iOS share-to-email function.  Please let me know if that doesn't sound like the issue.

[2016-05-27 16:33] skeuomorf commented on #159
@sreilly Thanks for pushing a fix! I've also tried the workaround and it works.

[2016-05-29 05:49] Calefornia commented on #85
Experiencing the same bug again, when the + is tapped. Thought it was fixed, but I can't remember.

[2016-05-29 14:01] edgesince84 commented on #85
Hi @Calefornia, I'm unable to reproduce this bug.  What version of iOS and the app are you experiencing this on?

[2016-05-29 16:53] Calefornia commented on #85
Sorry, I should've included those. I'm on iOS 9.3.2, and the app is 6.0.2
(709). As far as I know, both are the latest updates.

On Sunday, May 29, 2016, Bill <notifications@github.com> wrote:

[2016-05-29 17:58] edgesince84 commented on #85
@Calefornia I was just able to reproduce it now -- we'll put some eyes on it internally too, and if there's anything you can do to help, we'll definitely let you know!

[2016-06-01 20:07] ryancastro opened #160 "Clearing cookies/cache doesn't clear local storage - privacy risk"
On the IOS App if you  force stop the DuckDuckGo Application and reopen it, HTML5 local storage is still stored. This allows websites to store session information in local storage, and have you trackable even after you've force-stopped the app.

Demo Steps:
1. Navigate to : http://html5demos.com/storage in duckduckgo
2. Save a value for local storage
3. refresh the page (Value is still saved)
4. F

[2016-06-07 19:16] alohaas commented on #160
@ryancastro thanks for opening this thoroughly described issue. @nilnilnil any input here?

[2016-06-28 20:57] thm commented on #85
@Calefornia @edgesince84 the build that includes @SwiftlyDeft's fix for this issue hasn't been published to the App Store yet. We're close to pushing the update, then it should be fixed. I'm closing this, after the v6.0.3 update feel free to re-open if the bug still occurs.

[2016-06-28 20:57] #85 closed

[2016-07-10 23:31] tommytwoeyes opened #164 "Feature Request: Support URL Schemes"
It would really enhance the usefulness of the DDG app if it registered and supported a URL scheme (e.g. **ddg://** or **duckduckgo://**) so that the app could be opened interactively from not only other apps in general, but especially from iOS automation tools like [Workflow](https://workflow.is) and [Launch Center Pro](http://contrast.co/launch-center-pro/).

[2016-07-12 00:51] edgesince84 commented on #164
thanks for the suggestion @tommytwoeyes.  I'll bring this up internally.

[2016-07-13 19:40] edgesince84 commented on #160
hey @ryancastro thanks for bringing this up.  It looks like this one has been addressed and resolved already, so I'll be closing this one up.

While I'm at it,  I'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-related searches. There are a lot of important tasks up for grabs that we'd like your help with, so feel free to and [jum

[2016-07-14 21:37] ryancastro commented on #160
Hey @edgesince84 , sorry I don't mean to be trouble but what commit resolved this issue? I didn't see any code changes that would fix this.

The commit referenced above fixed the android implementation of the bug, as it was present on both platforms. Was this closure a mistake, or have I missed committed code that resolved this for iOS?

[2016-07-19 01:35] tommytwoeyes commented on #164
Thanks bro

[2016-07-20 01:48] tagawa commented on #160
Thanks for checking @ryancastro. It does indeed look like this has been fixed for Android but not iOS yet.
@sreilly Please feel free to re-close if I've missed something.

[2016-07-20 07:42] tagawa opened #166 "App crashes on startup (iOS 7.1.2)"
Reported on the forum, apparently version 6.0.5 is crashing on iOS 7.1.2

https://duck.co/forum/thread/16380/ver-6-bug-on-ipad-2

[2016-08-08 15:38] thm opened #167 "Red screen after searching or tapping a story"
@sreilly I've seen only one report so far, but can you look into this? This is on iOS 7.1.2

"Whenever I try to search or click on a story I get a red screen and never anything else."

![photo 1](https://cloud.githubusercontent.com/assets/1379822/17485680/9ceeda84-5d8e-11e6-8324-2cf063efc4a4.PNG)
![photo 2](https://cloud.githubusercontent.com/assets/1379822/17485682/a09fec22-5d8e-11e6-9475-9e2ce96

[2016-08-08 15:45] sreilly commented on #167
@thm Ah yes, there was a bug in the web page viewer which would only happy on iOS7 and earlier.  I've fixed it and pushed a copy to the app store for review.  The current internal testflight build also has this fix, but alas iOS7 doesn't have the ability to install testflight builds.  I have tested it manually on an old iOS7 phone.

[2016-08-09 10:19] sreilly commented on #164
@tommytwoeyes @edgesince84  this should already work... if you search with a url such as
`duckduckgo:///?q=<url-encoded-search-terms>`

You can also invoke the app and go straight to the query form by omitting the 'q' parameter to the URL.  I use Launch Center Pro myself and just noticed that they already have support for the invoking DuckDuckGo Search & Stories with a query in their built-in list

[2016-08-09 10:19] #164 closed

[2016-08-09 12:05] sreilly commented on #166
Thanks for the report @tagawa  - this should be fixed in the current build (6.0.6) which is now waiting for app review.

[2016-08-09 12:06] #159 closed

[2016-08-09 15:15] tagawa commented on #166
Thanks @sreilly - I've let the reporter know.

[2016-08-11 12:14] thm commented on #167
@sreilly thanks!

[2016-08-13 13:35] speedbump101 commented on #166
Unfortunately DDG 6.0.6 did not solve the crash issue. iPad 2, iOS 7.1.2. It crashes as soon as the logo screen terminates. Multiple reinstalls, and soft reboots haven't helped either.

[2016-08-15 05:33] sreilly commented on #166
@speedbump101 would you mind installing a test build from our hockey account so that we can try and collect a crash report?  If this is ok can you send a message to sreilly@infinitekind.com and I'll send you an invite link?

[2016-09-12 17:31] SudoPlz commented on #152
Cannot reproduce this.

[2016-09-12 17:31] SudoPlz commented on #154
Can't reproduce this on 6.5.0 (518).

[2016-09-16 21:37] SudoPlz commented on #160
This https://github.com/duckduckgo/ios/pull/168 should close this issue.

[2017-01-30 12:35] tagawa opened #169 "Add voice search to app"
As requested on Twitter:
https://twitter.com/samuelpolat/status/826016321955565568

[2017-02-07 14:21] nilnilnil opened #5 "Safari Button"
I think we can remove the safari button. Presumably they are here for a different reason, not to open in Safari.

[2017-02-07 14:22] nilnilnil opened #6 "Erase Button"
I like it. I'm wondering if there is a way we can make it even more obvious that the app is automatically erasing everything for you.

This isn't a request for removal, just thinking out loud.

[2017-02-07 14:22] nilnilnil opened #7 "Color Scheme"
I think the red while on brand is a bit alarmist in terms of color theory. We should arguably ride the private browsing wave on this and try to pull of a dark theme of some sort. I think Design can help a lot here.

[2017-02-07 14:23] nilnilnil opened #8 "App Name"
I think we should just call it DuckDuckGo? Thoughts?

[2017-02-08 18:11] nilnilnil opened #10 "Add search / url bar to share activity."

[2017-02-10 16:29] #8 closed, assigned to nobody

[2017-02-15 09:59] #5 closed, assigned to nobody

[2017-02-16 18:17] #7 closed, assigned to nobody

[2017-04-18 15:13] Thanaen opened #19 "Localizations / Maintenance update"
Hello,
I think it would be something great to add localizations to the app, I really miss it (French).
Plus, I think there should be a maintenance update, or some features added or ergonomic enhancements, as it is quite "repulsive" to see an app that has been last update in 2016! (I'm not saying that you're trash, hu, just telling that maybe, just maybe, a little maintenance won't hurt the app!

T

[2017-04-26 16:01] #19 closed, assigned to nobody

[2017-05-10 17:11] davidcruzcs opened #25 "Change Tabs UI Lagging"
When using the “Change Tab” button, animations for both presenting and dismissing the view, makes the UI lag. An example of this can be found in the video shown below:

https://youtu.be/d1NQKkZalug

This issue is part of a complete analysis being made to the DuckDuckGo open source iOS App
https://docs.google.com/document/d/1GY7_LbkmIzJgMrLcaoGT1i6OOF3qHF4bHFdi5eF0Els/edit?usp=sharing

[2017-05-10 17:12] davidcruzcs opened #26 "No Eventual Connectivity"
There is no Eventual Connectivity management so the user will know when he or she no longer has access to the internet. In addition, retrieving the internet connection does not continue downloading the pending data. The behavior described above can be observed in the following video:

https://youtu.be/3xmEQBXeXBU

This issue is part of a complete analysis being made to the DuckDuckGo open source i

[2017-05-25 11:58] #6 closed, assigned to nobody

[2017-05-25 12:19] #25 closed, assigned to nobody

[2017-05-25 14:14] fgei opened #34 "Searching numbers"
If I enter a number on the search bar the app loads that as a URL rather then making a search with the number as the query

input: "3"
result: "http://3/"
I'd expect: "https://www.duckduckgo.com/?ko=-1&kl=wt-wt&q=3"

is this the expected result?

[2017-05-30 19:36] #10 closed, assigned to nobody

[2017-05-30 19:38] #34 closed, assigned to subsymbolic

[2017-06-15 13:25] #26 closed, assigned to nobody

[2018-01-23 03:57] chihung93 opened #255 "Can't Build project ?"
MacOS : 10.12.6 (16G1212)
XCode : Version 9.2 (9C40b)
Hello guys,
I have an issue when building your project on last Xcode.
What solution do I need to use to resolve this problem?

Thanks.

Hungs-MacBook-Pro:iOS-develop hungdct$ carthage bootstrap --platform iOS
*** Checking out OHHTTPStubs at "6.0.0"
*** Checking out SwiftyJSON at "4a62eb3a37e1e694a7f83d50093e803f966055ba"
*** Checking out Simula

[2018-01-23 11:59] brindy commented on #255
Hi - sounds like you have this problem:

https://stackoverflow.com/questions/40743713/command-line-tool-error-xcrun-error-unable-to-find-utility-xcodebuild-n

Also, the README needs to be updated, but we now use a submodule so you need to check out the code as follows:

`git clone --recursive git@github.com:duckduckgo/iOS.git`

And you can run the following to build and execute the unit tests, whi

[2018-01-23 15:37] xyclos commented on #94
It has been released now, correct? So, this should be updated to: https://itunes.apple.com/us/app/duckduckgo-privacy-browser/id663592361?mt=8

[2018-01-23 16:02] brindy commented on #94
Done! Thanks folks!

[2018-01-24 02:48] jplock opened #256 "1Password integration?"
It would be great to support 1Password natively within the app.

[2018-01-24 10:01] Marcocanc opened #257 "Drop SwiftyJSON Dependency"
SwiftyJSON is only used in 3 places ([1](https://github.com/duckduckgo/iOS/blob/develop/Core/AtbParser.swift), [2](https://github.com/duckduckgo/iOS/blob/develop/Core/TermsOfServiceListParser.swift), [3](https://github.com/duckduckgo/iOS/blob/develop/Core/DisconnectMeTrackersParser.swift)).
Swift 4 offers built in [JSON Decoding](https://developer.apple.com/documentation/swift/encoding_decoding_an

[2018-01-24 10:08] brindy commented on #256
Thanks for the suggestion. We have improved password management on our backlog so we'll definitely consider it.

[2018-01-24 10:08] brindy commented on #257
Good point! Thanks for the suggestion.

[2018-01-26 01:59] huangboju opened #259 "Can not run"
![image](https://user-images.githubusercontent.com/14818224/35421683-82a5317c-027f-11e8-8aeb-6a1831e9ee51.png)

[2018-01-26 02:01] robinvvinod opened #260 "[Enhancement] Add setting to clear data on termination"
Hi,

If possible, please add a setting to allow us to clear all data and tabs (similar to the fire button) when we close the app.

Maybe something like this on the AppDelegate.swift?
[code]

Thank you!

[2018-01-26 02:04] robinvvinod commented on #259
Add the `/src` folder from https://github.com/duckduckgo/ios-js-support  to `/submodules/ios-js-support` in your project directory for a quick fix.

This may not be the correct way but it was the only one that worked for me. Hope this helps!

[2018-01-26 09:44] brindy commented on #260
Thanks for the suggestion.   We probably won't take this approach as it's not very reliable, but we have already been considering a more configurable alternative that hopefully our users will like.

We're currently addressing top priority feedback from the launch then will look at things like this.

Thanks again for your interest! :)

[2018-01-26 09:44] #260 closed, assigned to nobody

[2018-01-26 10:59] timpalade commented on #259
@huangboju run this command `git submodule update --init --recursive
`. It will get all submodules for this project (for now there is only one).

[2018-01-26 11:03] brindy commented on #259
Yep, bringing in the submodule is how to fix this.  Thanks @timpalade.

I will get the README updated today.

[2018-01-26 11:03] #259 closed, assigned to nobody

[2018-01-26 11:24] timpalade opened #261 "[Error] Install fonts - Build step"
I got an error from this script, when building, saying that it cannot find anything at `~/DuckDuckGo/Fonts/proximanova/`. This path seems to be a Bundle path (visible inside the Xcode project), but it is not there on disk.

That aside, it tries to copy the fonts in this folder `$SRCROOT/fonts/licensed`. But the fonts are already there.

I don't know why you guys have this step, but to me, it seems

[2018-01-26 11:26] brindy commented on #261
The fonts in that folder are fake placeholders.

Proxima Nova fonts are commercially licensed so us devs at DDG have copies on our computer because we're licensed to. As such the build tries to copy in the licensed fonts from an external location.

See the readme linked under the "Fonts" heading on the main readme.

[2018-01-26 11:55] timpalade commented on #261
@brindy Thanks for the fast reply. For someone outside of DDG, this does not seem like a necessary step to build the project. On the simulator, the app seems to work just fine, with the dummy fonts. Maybe I am missing something.

So to make the setup process smoother maybe something can be done about this. Maybe a flag?

[2018-01-26 12:25] brindy commented on #261
@timpalade - I'm inclined to agree. Should be able to checkout the code, build and run it in more or less a one-liner, assuming a dev environment is set up as standard, which seems valid given this is Xcode. :)

If you can improve this via PR, I'd be happy to look at it, otherwise it's definitely on my list to look at later (we're responding to feedback from the launch just now).

[2018-01-26 12:33] timpalade commented on #261
@brindy Sure, it is not critical, but it would be nice. I will think about a solution.
On a different note, I think you guys did a pretty good job!

[2018-01-26 12:38] brindy commented on #261
Thanks @timpalade - much appreciated! :D

[2018-01-26 13:54] timpalade commented on #261
@brindy I think I found a solution. I modified the script to check if `~/DuckDuckGo/Fonts/proximanova/` exists. If it does not exist, it does not copy the fonts. What is the probability that someone outside of DDG will have this directory? I would argue it is close to 0, if not 0.

I made a pull request with it.

[2018-02-02 13:25] brindy commented on #261
Hit the close button by mistake sorry. :)

We're just finishing up a couple of other improvements and then will get on to community provided PRs. Thanks for your patience. :)

[2018-02-03 20:10] Jahhein opened #268 "Prevent the opening of installed apps"
In any search results, such as Instagram, if you click on the link the corresponding application installed on the phone will open.

Perhaps this can be fixed so it does not happen, and put into the settings for users to turn on and off.

[2018-02-03 20:10] Jahhein commented on #268
This is on iOS to be exact.

[2018-02-04 11:45] brindy commented on #255
I'm going to close as not an issue.  Feel free to reach out for help if you need it.

[2018-02-04 11:45] #255 closed, assigned to nobody

[2018-02-04 12:14] brindy commented on #268
Hi. Thanks for the suggestion.

This is WKWebView's default behaviour and currently has no public API for disabling it.  See this SO for more details:

https://stackoverflow.com/questions/38450586/prevent-universal-links-from-opening-in-wkwebview-uiwebview/44942814#44942814

[2018-02-04 13:09] Jahhein commented on #268
Ahh. I wasn’t aware of that. Guess that’s something to always watch out for. Thank you.

[2018-02-07 08:18] alaaadnan229 commented on #256
https://drive.google.com/open?id=1EXQAT8t3BJP-CKl-hX8jqMJmQZ3kxnRt

[2018-02-09 18:48] brindy commented on #268
Going to close this as we're discussing what we can do about it internally, but for now there's not much we can do really.

[2018-02-09 18:48] #268 closed, assigned to nobody

[2018-02-09 18:49] brindy commented on #257
This was done in PR #271 - thanks for your input and contribution. :)

[2018-02-09 18:49] #257 closed, assigned to nobody

[2018-03-02 14:50] brindy commented on #261
Fixed in #262 - thanks for the contribution @timpalade :)

[2018-03-02 14:50] #261 closed, assigned to nobody

[2018-03-08 17:53] roseusgarcia opened #280 "White Theme or maybe different color themes?"
Hello all,

I noticed in the app there are no options for customizing the look of the app. Maybe a white theme or a pure black theme for OLED display on the iPhone X. Just a suggestion mostly.

Have a good one!
Rose

[2018-03-13 00:34] brindy commented on #280
Hi @roseusgarcia - thanks for the suggestion! :)

[2018-03-21 17:07] roseusgarcia commented on #280
@brindy you're very welcome! Hopefully it gets implemented! :)

[2018-03-29 10:13] kslowbullet opened #289 "Project construction issues"
Why the project cannot build correct，when  code signing   changed～！
The most critical issue is the problem of handling two group IDs related to core

[2018-04-10 09:46] mfpierre opened #293 "iPhone 5 support"
Hey,

It seems since https://github.com/duckduckgo/iOS/commit/13a22ac4d7f47df1a966d187291744bbddcae559 I can't update to `7.2.0` on my iPhone 5 through the App Store. (the target is iOS 10 but the iPhone 5 (which can run iOS 10.3.3) is 32bits)

It's not stated in the changelog, was this intentional?

I'm stuck with an upgrade I can't to in the app store, it's a bit annoying 😑

[2018-05-08 10:52] ghost opened #307 "Important bookmarks"
Hi there, not being able to import my bookmarks is the only thing stopping me from using DDG on iOS instead of Firefox.

I look forward to the possible implementation of this feature.

[2018-05-10 13:54] brindy commented on #307
Hi! Thanks for your feedback. We're currently evaluating our roadmap for the product, but I'm sure we'll be giving bookmarks special attention soon! :)

[2018-05-10 13:54] #307 closed, assigned to nobody

[2018-05-11 19:05] brindy commented on #256
We're evaluating our roadmap just now so have taken this feedback in to account. Thanks!

[2018-05-11 19:05] #256 closed, assigned to nobody

[2018-05-11 19:15] brindy commented on #293
Sorry for the delay in response.

This change was intentional, but we forgot to add it to the change log, sorry about that.

We dropped support for both iOS 9 and 32bit due to performance of the privacy solution, but we've made some improvements recently and are constantly re-evalulating.

Thanks for taking the time to give us feedback!

[2018-05-11 19:15] #293 closed, assigned to nobody

[2018-05-11 19:16] brindy commented on #280
We're currently evaluating our road map and will take this feedback in to consideration.  Thanks again for taking the time to get in touch. :)

[2018-05-11 19:16] #280 closed, assigned to nobody

[2018-06-10 10:46] siemvaessen opened #325 "Ideal payment (dutch) not supported"
It is currently impossible for DDG to handle payments via the Ideal platform. Any support coming for this?

Error states: unsupported url

[2018-06-11 06:24] brindy commented on #325
Hello,

Is it https://www.ideal.nl/en/ ?

If not, can you provide supporting URLs, please?

Thanks!

[2018-06-11 14:52] siemvaessen commented on #325
Hi,

I will try and provide documentation / logs this week.

Thanks, Siem

[2018-06-12 09:36] siemvaessen commented on #325
Ok, here is what happens. User chooses Ideal as form of payment provided by shop (https://www.ideal.nl/en/) - you choose a bank, Triodos bank for example and the following link is generated:

https://ideal.triodos.nl/ideal-online/pages/mobile-switch.actiontrxid=LOTSOFNUMBERSHERE&cc=LOTSOFNUMBERSHERE - which is session cookie based, but is already pointing to Triodos.

Once clicked user gets sent h

[2018-06-12 13:29] brindy commented on #325
Thanks @siemvaessen

That confirms what I was thinking.  The `triodosmobilebanking://` is a custom URL scheme. Our app only supports a handful of these at the moment (e.g. sms://, tel://, mailto:// etc).

We don't support all of them because they're not very secure.  Any app could say it handled `triodosmobilebanking://`

However, the are situations (like OAuth) where this should probably work. I'

[2018-06-12 13:36] siemvaessen commented on #325
Makes sense. However, I am a big DDG fan (early stages, years ago) but I still need to switch to Safari iOS in order to pay. Anyway, support for this would be great.

[2018-06-12 13:38] brindy commented on #325
Thanks for your long support! It's appreciated.

Am going to close this off from here as we have it tracked internally.

Thanks again.

[2018-06-12 13:38] #325 closed, assigned to nobody

[2018-06-14 13:41] tsekityam opened #328 "Site rating doesn't refresh if change protocol from `http` to `https`"
### Steps to reproduce behavior
1. Visit `http://www.ust.hk` with the app
1. Check the site rating, the encryption type is *unencrypted*
1. Change the url to `https://www.ust.hk`
1. Check the site rating again, and the encryption type is still *unencrypted*

### Expected behavior
The encryption type should be either *forced*, *encrypted* or *mixed*

### Actual behavior
The encryption type is still

[2018-06-14 13:45] brindy commented on #328
Thanks for this! Will review soon.

[2018-06-18 09:43] #328 closed, assigned to brindy

[2018-06-18 09:44] brindy commented on #289
Do you have a suggested fix for this?  If so, please re-open and comment.  Thanks for your feedback.

[2018-06-18 09:44] #289 closed, assigned to nobody

[2019-01-06 23:09] 3fey3ugf opened #391 "[Feature Request] Bookmark All Tabs"
Could you please add this feature.

[2019-01-31 09:58] brindy commented on #391
Hi - thanks for the suggestion.  Sorry for not replying sooner, I totally missed this.  I've added it to our internal backlog for consideration.  Thanks again.

[2019-01-31 09:58] #391 closed, assigned to nobody

[2019-02-22 19:12] pastmaster007 opened #416 "bookmark title is clipping few letters"
**Issue:**
bookmark title is clipping few letters refer below image

https://i.imgur.com/uDZuZeN.png

[2019-03-17 19:16] ricconi opened #422 "PDF scrolling is hard to follow"
When I open a multi-page pdf file and try to scroll down, there is a glitch that seems to show content from several pages away, then quickly scrolls back to where it should be.  It seems to happen whenever I change scrolling direction (for example, scroll down a few pages, lift off finger, then scroll up), so trying to quickly find a part of a document is hard.  There also seems to be a similar gl

[2019-03-28 11:06] kslowbullet opened #426 "swift 5.0"
Excuse me， When to adapt swift 5.0？

[2019-03-28 11:18] brindy commented on #426
Hi - it's coming soon.  Please see the branch `feature/migrate_xcode_10_2` - once we finish our current projects we'll look to merge that.

[2019-03-28 11:39] kslowbullet commented on #426
Thank you very much for your answer, looking forward to it...

[2019-04-02 03:24] #426 closed, assigned to nobody

[2019-04-18 20:21] bwaresiak commented on #416
Closing this, as explained in https://github.com/duckduckgo/iOS/pull/417

[2019-04-18 20:21] #416 closed, assigned to nobody

[2019-04-24 08:44] bwaresiak commented on #422
This is now tracked internally at https://app.asana.com/0/413877547933097/1119805176098508

[2019-04-24 08:53] bwaresiak commented on #422
Thank you for your report, @ricconi

To be honest, I couldn't reproduce this issue while reading PDF documents (be it short ones, long ones, with images, etc). I've seen small glitch around navigation bar when I deliberately scroll just a tiny bit upwards, but for regular usage I could not find what you've described.

Could you share some details about the device you are using (model, iOS version)

[2019-05-06 20:05] juliopovedacs opened #442 "Choose Theme (light or dark) when there is no Internet connection"
Hello,

I wanted to know if the next behavior is expected from the app or if it is a bug:

 I downloaded the app, and when I opened it for the first time, I had no Internet connection. The screen that asks users to choose a theme (light or dark) did not appear.

I ask this question because I am able to change the app's theme when I am offline in settings. Thus, the screen asking users to choose a

[2019-05-08 12:32] bwaresiak commented on #442
Thanks for taking time to write in about this and sorry for the confusion.

Rest assured, this isn't a bug. We are currently testing changes to our onboarding screen in a phased approach and only show the new option to some installations. We hope to finish our refinements and make the changes available to everyone soon.

I hope that clears things up, let us know if you have any other questions.

[2019-05-08 12:38] juliopovedacs commented on #442
Thank you!

[2019-05-08 12:38] #442 closed, assigned to nobody

[2019-06-16 04:30] old-username-mcx opened #448 "Target=“_Blank” HTML code is not honored"
Within the iOS app, any links that have HTML code with `target=“_blank”`, the app does not honor it. Works fine on other web browsers like Safari, etc.

App version: 7.21.0
Device model: iPhone XS & iPad Pro 3rd Gen
iOS version: 12.3.1
Reproduce: click a link with the specified HTML property `target=“_blank”`
Expected behavior: Open a new tab to the link
Actual behavior: Takes the current tab to t

[2019-06-17 08:50] bwaresiak commented on #448
This is now tracked internally at: https://app.asana.com/0/856498667320406/1127319456014388

I've managed to reproduce this issue, we will tackle it as soon as we have some resources available.

Thank you for your feedback!

[2019-07-02 20:23] bwaresiak commented on #422
Since there is no further feedback and we couldn't reproduce this, I'm closing this issue.

[2019-07-02 20:23] #422 closed, assigned to nobody

[2019-07-30 07:51] salty-horse opened #467 "HTTP Basic Authentication isn't supported"
Similar bug for the Android app, where this was already implemented: https://github.com/duckduckgo/Android/issues/383

Using 7.24.0.

When visiting a website that requires Basic Authentication, you immediately get a 401 Unauthorized error.

[2019-07-30 14:07] bwaresiak commented on #467
This is now tracked internally at https://app.asana.com/0/856498667320406/1133521518040402

Thank you for your report!

[2019-08-25 11:49] jplock opened #476 "Yubikey support?"
Any thoughts on integrating https://github.com/Yubico/yubikit-ios to support Yubikeys similar to what Brave did at https://github.com/brave/brave-ios/pull/1158?

[2019-08-26 08:46] brindy commented on #476
Looks interesting, thanks for the heads up.  Think I'll buy myself a YubiKey to play around with. :)

[2019-09-04 07:52] roop opened #479 "Make building easier for external developers using xcconfig"
Currently, the Xcode project file includes DuckDuckGo's Apple developer id. An external contributor (i.e. someone outside of the DuckDuckGo development team) needs to change the account id, app id and app group names before the app can be compiled. The external contributor should also take care to exclude these changes from the PR being worked upon.

It would make life easier for external contribu

[2019-09-04 09:47] roop opened #480 "Tab restoration does not restore the tab history"
When restoring a tab from disk, only the current page is restored. The tab’s back-forward history is lost.

**App version:** 7.25.0.0
**Device model:** iPhone SE
**iOS version:** 12.4.1

**Steps to reproduce the bug:**

 1. Open a new tab
 2. Go to a page (say, a DuckDuckGo search)
 3. Tap on a link (say, the first result)
 4. Wait for the page to finish loading
 5. Force-close the DuckDuckGo app

[2019-09-06 11:41] brindy commented on #480
Hey, thanks for this.  Please feel free to go head and work on this if you'd like.

We'll track this internally at https://app.asana.com/0/715106103902962/1138781991854347

[2019-09-06 11:44] brindy commented on #479
Hi, this would be great, thanks.  Please go ahead and start on this if you'd like.  We're going to track this internally at https://app.asana.com/0/414709148257752/1138781991854351.

Thanks!

[2019-09-06 11:53] brindy commented on #448
A fix for this has been merged and will be in a future release.  Thanks for raising it @mcspadden  and thanks @roop  for the fix.

[2019-09-06 11:53] #448 closed, assigned to nobody

[2019-09-06 11:54] brindy commented on #467
Basic support is now in the app!  Thanks for raising this @salty-horse.

[2019-09-06 11:54] #467 closed, assigned to nobody

[2019-09-16 10:10] roop commented on #480
Okay, I'll start working on this.

This is the idea:

We can’t set `WKWebView.backForwardList`, so instead, we manipulate `window.history` in JavaScript. However, pushing to `window.history` is subject to same-origin rules, so we should use a custom origin like `ddginternal://tabrestoration/` and then use HTML redirect to actually load the URL in the back-forward history.

This is how it seems to

[2019-09-18 10:56] brindy commented on #480
Sorry for the delay.  Thanks, that's an interesting idea.

Internally, we'd talked about managing the history (and therefore the back/forwards buttons, etc) natively in the Swift layer (effectively ignoring WebKit's history).  What do you think to that approach?

[2019-09-18 11:06] roop commented on #480
The only downside with bypassing WebKit on this is that we lose being able to swipe from the edge to go back / forward (i.e. `WKWebView. allowsBackForwardNavigationGestures`). That behaviour is handled natively by webkit, and I think will be hard to replicate accurately.

[2019-09-18 11:10] brindy commented on #480
OK, that's a great point.

Do you want to do a proof of concept of the JS version and if it seems to work ok then make it production ready?

Depending on JS like this makes me a little nervous is all so I don't want you to waste your time if it doesn't pan out.

[2019-09-18 12:30] brindy commented on #480
Hey @roop - can you hold off on this for now, please?  We're discussing internally what the best approach is. Because there's a couple of options we need to really look at them all in detail before deciding how to proceed.  Will ping you when we've decided what to do.  Thanks!

[2019-09-18 13:59] roop commented on #480
Okay, sure.

Here are my thoughts on the approach where the back-forward history is managed in Swift:

Actually, we shouldn't fully bypass WebKit's back-forward history management because we're better off having link-clicks and form-submissions be handled as normal forward navigations.

So when we restore a tab, we would load the current URL of that tab. At that point, to go forward, we would use

[2019-10-01 09:55] ghost opened #488 "Where is your mystery unit converter?"
Hello developers,

This is a question related to your website, not iOS app.

May I ask where is your mystery unit converter(s)? And how can I summon it?

Yesterday, typing `1 foot to meters` made your mystery unit converter show up. Today that's not working.

Would you please help make them available in easier way? The question to a good engineer is: if you have those things, why you make it _extr

[2019-10-01 11:04] bwaresiak commented on #488
Hello,

Generally what you've described should work. Reaching unit converter is as easy as searching for it: https://duckduckgo.com/?q=unit+converter It should also automatically appear for the related queries - like the one you mentioned.

If you have issues related to search results (like missing unit converter for a particular query), there is an option to send us feedback about it:
- On the we

[2019-10-02 18:58] ghost commented on #488
To @bwaresiak and DuckDuckGo developers:

I apologize for my question. I was not calm when I typed it. Then, for embarrassment, I deleted my account.

Thank you for your hard work.

[2019-10-02 19:24] bwaresiak commented on #488
Thanks for the follow up - worry not, no offense taken 😃

Since this issue is not related to iOS I'm going to close it. Fell free to reopen if needed.

[2019-10-02 19:24] #488 closed, assigned to nobody

[2019-10-04 00:34] sindhugudivada opened #489 "Looking to contribute to this project."
Are you guys looking for any open source contributors. I 'm fairly new to open source and would love to learn and contribute.

[2019-10-08 13:42] bwaresiak commented on #489
Hello, glad to hear that!

Please refer to [our contributing guidelines](https://github.com/duckduckgo/iOS/blob/develop/CONTRIBUTING.md) for more information about that. Unfortunately we usually don't have many issues open that can be picked up by external contributors, but if you have something in mind feel free to open one and we can discuss it.

[2019-10-11 20:08] bwaresiak commented on #489
I'm going to close this, but feel free to re-open in case you have questions.

[2019-10-11 20:08] #489 closed, assigned to nobody

[2019-10-12 07:33] ilyarmnzhdn opened #493 "New feature: Downloading files"
Hello folks. I want to add Downloading files feature to this project. In example: downloading epub files, zip etc. So what do you think about it?

Expected behavior:

The app should download epub file, then shows it in Books app.

Actual behavior:

The app opens a page that shows the unicode.

[2019-10-15 19:32] bwaresiak opened #495 "Reveal bars when scrolling below bottom of the web page"
Internal reference: https://app.asana.com/0/856498667320406/1145004832722770

**Goal**

Duplicate Safari's behavior: Safari shows the navigation bars when you reach the bottom of a web page and try to scroll down more.

[2019-10-15 19:45] bwaresiak opened #496 "Current tab highlighting is broken"
Internal reference: https://app.asana.com/0/276630244458377/1128277820182171

**Description**

First scenario:

1. Open a bunch of tabs.
2. Navigate to tabs switcher.
3. Select a tab I'm the middle.
4. Close a tab before it.

Expected: the selected tab still has the highlight.
Actual: the highlight moves to the next tab down and it becomes the newly selected tab

Second scenario:

1. Open a bunch

[2019-10-15 19:57] bwaresiak opened #497 "Include app version number in iOS system settings"
Internal reference: https://app.asana.com/0/856498667320406/1145008528714429

**Description**

Goal is to include app version number in iOS system settings. Example from Test Flight:

![settings](https://user-images.githubusercontent.com/2865434/66864971-99718f80-ef96-11e9-913a-5f760cad84ba.png)

[2019-10-15 20:08] bwaresiak commented on #493
Hello,

Thanks for suggestion - I think this is a good idea, but I'd like to first double check it internally and see whether we have any design/product decisions to make before proceeding with that.

I'll try to come back to you within the couple of days.

[2019-10-15 20:08] bwaresiak commented on #493
Internal reference: https://app.asana.com/0/856498667320406/1145004832722773

[2019-10-17 22:23] bwaresiak commented on #493
Hello again,

Let's give it a try. :)

Our main concern is making this project too big. So we'd like to avoid starting with "fancy" functionalities like in-app file transfer manager, just stick to basic in-tab downloads that even reuse web progress indicator (to limit the UI-design part fo the project).

Additionally we'd like to have this well-scoped and contained (obviously we are willing to hel

[2019-10-18 04:07] ilyarmnzhdn commented on #493
Hi, I’ll try with my pleasure

[2019-10-18 09:19] bwaresiak commented on #493
Great!

Let me describe (high level) what we want to achieve:

**Goal:** Downloading epub files and sharing them with other applications.

**User scenario (similar to iOS 12 Safari):**
1. Open link with epub file.
2. Dialog box appears (similar to Safari) with "Do you want to download <filename>" and Cancel/Download buttons.
3. User is navigated to new page (view) on which he can stop the download

[2019-10-19 00:11] #496 closed, assigned to nobody

[2019-10-21 17:37] ilyarmnzhdn commented on #493
Before sharing any ideas I've few questions.

- How should I name branch for this feature? (e.g. feature/@username/downloadEpubFiles)?
- How should I use UIAlertController as default Apples implementation or it's better to create custom AlertController for downloading ePub files?
- Which file formats users will be able to download? Only ePub or zip files are included?
- If zip files are included w

[2019-10-21 19:47] bwaresiak commented on #493
Good questions :)
1. Since you are going to fork the project anyway, that does not matter much, but your suggestion seems solid. :)
2. I'd keep it simple and since UIAlertController is commonly used and users are familiar with it let's go with that.
3. I'd suggest starting with just epubs to keep scope minimal. Once that problem is solved you can expand it if you wish.
4. Let's skip that for now.

[2019-10-28 01:07] nehayward commented on #497
I should be able to manage this! Is it okay if I start on a PR for this.

[2019-10-28 07:50] bwaresiak commented on #497
@nehayward Thanks for volunteering, but we already have someone working on that in #500

[2019-10-31 20:55] #479 closed, assigned to roop

[2019-11-07 21:23] ghost opened #517 "Please drop duckduckgo support for iOS"
I have discovered very important details.
I have sold all my iOS devices.

https://forums.macrumors.com/threads/ios-is-terrible-about-privacy.2205813/
https://community.signalusers.org/t/suggestion-to-drop-signal-support-for-ios/9893

You can’t set up and use iPhone offline. You always have to do an internet activation in the setup window first. If you reset the software, internet activation is re

[2019-11-08 10:13] brindy commented on #517
(We note this is a deleted account).

Thanks for your feedback.  We are committed to providing privacy protection for our users who use the iOS platform for whatever reason.

If you have problems with the iOS platform it would be best to contact Apple directly.

Thanks again for your support.

[2019-11-08 10:13] #517 closed, assigned to nobody

[2019-11-12 21:39] ghost opened #520 "Give amoled dark theme."
For battery life, and visual consistency with iOS 13 dark mode.

[2019-11-12 21:46] bwaresiak commented on #520
Hello @jt-k

We provide both 'Dark' and 'Light' themes in-app. You can navigate to the Settings and choose either one, or pick 'System Default' to make our app match the iOS theme dynamically.

Could you please elaborate what is that is missing for you?

Thanks!

[2019-11-12 22:00] ghost commented on #520
I strike my claim that an amoled dark mode saves more battery than a "dark gray" mode, apparently the battery life savings between these two modes are negligible. For visual aesthetic, I suppose it would be a matter of satisfying a niche user interest. But apps like Reddit, Instagram, and Twitter give their users an option for a true black mode, or an amoled mode, as it is sometimes called. I woul

[2019-11-14 23:20] AustinConlon opened #522 "!Bang deep links"
I’d like to be able to go straight into the relevant app when doing a !Bang search. For example, !q should take the user straight into the Quora app rather than display the mobile site.

[2019-11-15 09:38] bwaresiak commented on #520
Thanks for the explanation. I've shared your feedback internally with Product and Design teams.

I'm going to close it for now, but feel free to reopen if you have more comments or questions.

[2019-11-15 09:38] #520 closed, assigned to nobody

[2019-11-17 07:15] macmanx2 opened #524 "Add a Safari Content Blocker"
Like your newly relaunched macOS app, please consider extending this app’s tracker blocking as a Safari content blocker, similar to Firefox Focus.

Bonus points if it includes an allow list, which Firefox Focus doesn’t have. ;)

[2019-11-25 17:43] KevinVitale opened #530 "DDGPersistentContainer.defaultDirectoryURL returns nil when using an ExternalDeveloper.xcconfig"
The `GROUP_ID_PREFIX` value in `ExternalDeveloper.xcconfig` is not imported, causing a crash when `DDGPersistentContainerdefaultDirectoryURL.defaultDirectoryURL()` implicitly unwraps a `nil` value.

Just a few minutes into the codebase, but the fix appears simple: interpolate `Global.globalIdPrefix` as part of `Database.Constants.databaseGroupID`.

A PR with this change is incoming.

[2019-12-02 14:58] bwaresiak commented on #530
Closing as it's resolved. Thanks @KevinVitale

[2019-12-02 14:58] #530 closed, assigned to nobody

[2019-12-02 14:59] #497 closed, assigned to nobody

[2019-12-02 14:59] bwaresiak commented on #493
Closing this due to inactivity.

[2019-12-02 14:59] #493 closed, assigned to nobody

[2019-12-05 23:14] jplock opened #540 "Disable video autoplay"
Can an option be added to disable video autoplay?

[2019-12-12 16:50] KevinVitale opened #545 "Tab Switcher: the switcher background can be tapped in lieu of 'Done' bar button to dismiss"
The tab switcher continually gives me the impression that I can tap the background to return to the tab I was at (e.g., dismiss the switcher as I would if I tapped the 'Done' button).

This might sound silly, but I'm constantly tapping the background expecting this behavior. Not sure if this is my own problem or not, so I'm opening this (**low-priority**) issue for feedback, as well as submitting

[2019-12-12 20:23] KevinVitale opened #547 "Tab switcher does not get resized when rotated"
Rotating the device when the tab switcher is shown may cause layout issues, with cells are not spanning across the available horizontal space.

![screencap](https://user-images.githubusercontent.com/276137/70746146-5eb87900-1cf3-11ea-8142-5668f60192f1.png)

[2019-12-12 21:47] #547 closed, assigned to nobody

[2019-12-12 22:10] bwaresiak commented on #540
Hello,

Thank you for the feedback. I've shared this with the product team. I'll update this issue again once we have made a decision.

Internal task URL: https://app.asana.com/0/856498667320406/1153727682934211

[2019-12-13 13:11] tankmohit commented on #524
Yes, Please.

[2019-12-13 13:50] bwaresiak commented on #524
Hello,

Thank you for your feedback - I've passed this to the Product team.

Thanks!

[2019-12-13 18:41] macmanx2 commented on #524
Thanks! :)

[2019-12-20 20:41] #495 closed, assigned to nobody

[2020-01-06 18:24] ArtCC opened #554 "Traslation to others languages"
Hi!

I have started to translate the app to Spanish from Spain and I see that there are many texts that do not exist in the Localizable.string file and I have started to add them, do you accept the translation to languages? :)

Regards,

Arturo.

[2020-01-15 11:19] #554 closed, assigned to nobody

[2020-01-15 22:33] bwaresiak commented on #554
@ArtCC we also think localizing the app is a great idea and have it on the roadmap, but we'd prefer to develop this functionality internally along with the process to keep it up to date when new strings are introduced.

Nonetheless, thank you for suggesting that and showing interest in contributing. :)

[2020-01-19 15:45] albsala opened #559 "UI/Snapshot Tests are broken"
UI/Snapshot Tests are broken in develop. Something about the Onboarding, Site Ranking, and Network Offenders must have been changed and UI Tests were not updated apparently. It's a quick fix so I'm preparing a PR in case it's useful for you.

[2020-01-19 16:19] albsala opened #561 "Outdated README"
I found a couple of issues in your README.md:
- It says you're using one submodule but you're actually using three.
- There's no mention to SwiftLint in the Building section but it's a requirement for building the project.

I'm preparing a PR in case it's useful for you.

[2020-02-04 15:18] ghost opened #566 "Add open source licenses credit links to the iOS app"

[2020-02-09 22:51] lleheny0 opened #572 "Background audio automatically stops"
Audio from the browser will stop after about a minute if the app is not focused. Switching to another tab and keeping that tab open will allow the audio from the first tab to continue playing. When switching to another app, switching to the home screen, or locking the phone, the audio will stop after a minute.

Unsure if this is intended behavior.

[2020-02-19 09:20] bwaresiak commented on #566
Thank you for the suggestion, this is tracked internally https://app.asana.com/0/856498667320406/1162633996041489

[2020-02-19 09:20] #566 closed, assigned to nobody

[2020-02-19 11:22] ghost opened #584 "DuckDuckGo url spoofing not fixed"
Hi I reported a url spoofing vulnerability on iOS in a different but it got marked as duplicate even thought it’s still reproducible it’s the case number is #788957

[2020-02-19 11:43] bwaresiak commented on #584
Hello @epicodertime

Could you clarify what vulnerability you are talking about and where it was reported (which system this case number is from)?

Thank you

[2020-02-19 11:48] #561 closed, assigned to nobody

[2020-02-19 12:02] ghost commented on #584
Hi sorry for not specifying this vulnerability is on the iOS app and I reported via duckduckgo hackerone program which is the case number for the report on hackerone and a Address Bar spoofing is a critical vulnerability in which any attacker can spoof the address bar to a legit looking website but the content of the web-page remains different from the Address-Bar display of the site.

[2020-02-19 12:17] ghost commented on #584
If you need additional information feel free to ask me

[2020-02-19 12:58] bwaresiak commented on #584
@epicodertime thanks for clarification, I will check this out and come back to you. :)

[2020-02-24 14:45] ghost commented on #584
And by the way would you like a proof of consent video of the vulnerability on the iOS app

[2020-03-01 10:33] JonathanKrug opened #590 "Block all Cookies"
Hi, at this time the DDG App allows all cookies (except those who are blocked by tracking list). Cookies are a danger for Privacy. It would be great if there would be a possibility in the App-Settings to block all Cookies like in Safari!

[2020-03-06 15:29] superusercode opened #593 "“Keep Me Signed In” feature does not work with twitter"
After turning this feature on, logging into twitter, and then clearing my history/pressing the fire button I've found that the browser refuses to save my twitter login even when I force a login on the desktop site.

[2020-03-06 18:53] brindy commented on #584
Hi @epicodertime, thanks for reporting this.  We very much value input from the community so appreciate the time taken to bring this to our attention.

HackerOne marked this as a duplicate of another report that was considered "informative" only and therefore of no significant risk.  We have also reviewed this internally and have come to the same conclusion.

As such, we'll be closing this out and

[2020-03-06 18:53] #584 closed, assigned to nobody

[2020-03-06 21:34] brindy commented on #593
Hi - thanks for letting us know.

We were already aware of this and are working to improve that feature.

There is a new release coming in the next few days with something we are calling Fireproof Websites which will give users more control over which websites the app keeps data for. I’ve tested it with Twitter and it seems to be working fine.

Keep an eye out for it and let us know how you get on

[2020-03-06 21:34] #593 closed, assigned to brindy

[2020-03-09 01:39] CharlotteFallices opened #594 "Header 'Core-Swift.h' not found"
在下面这段来自`module.modulemap`的代码中:
[code]
未能成功找到`Core-Swift.h`

------
==
The Issue is under Artistic License 2.0.
That's all.

[2020-03-21 15:22] daisuke-t-jp opened #601 "Favorite icon menu doesn't dismiss."
- App version
  - [9e486fc007c1d861f5ef4357325759138c597031](https://github.com/duckduckgo/iOS/commit/9e486fc007c1d861f5ef4357325759138c597031)
- iOS version
  - iOS 13.3
- Steps to reproduce the bug
  1. Open home(include favorite)
  1. Long press to favorite icon for showing menu.
  1. Touch favorite icon to load.
- Expected behavior
  - Dismiss menu.
- Actual behavior
  - Showing menu.

---

<i

[2020-03-21 22:26] brindy commented on #601
Thanks, we're going to track this internally at: https://app.asana.com/0/414709148257752/1167663516937426

[2020-03-21 22:30] #601 closed, assigned to nobody

[2020-03-21 22:50] brindy commented on #522
Thanks for the suggestion, and sorry for not replying sooner.

There's a few problems with this:

1) When you use a bang you go directly to the site, because you didn't explicitly click a link it doesn't open the app using the [universal link](https://developer.apple.com/ios/universal-links/).   You maybe be better off searching for your subject and adding 'quora', or whatever site, to your search

[2020-03-21 22:50] #522 closed, assigned to nobody

[2020-03-21 22:57] brindy commented on #590
Hi, thanks for your suggestion and sorry for the delay in replying.

I'm afraid we don't plan to implement this for a couple of key reasons:

1) Functionality of many websites depends on cookies - disabling them en masse will break a lot of the web and even as an option we don't believe that will give a good enough user experience that is worth having.

2) WKWebView doesn't actually allow us to do

[2020-03-21 22:57] #590 closed, assigned to nobody

[2020-03-21 23:07] brindy commented on #572
Hi, thanks for reaching out.

Unfortunately this is how iOS behaves for apps which aren't designated as providing "background audio", and as a browser, we don't fall in that category.  We might be able to to [enable](https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/creating_a_basic_video_player_ios_and_tvos/enabling_background_audio) it, but I need to do som

[2020-03-21 23:18] brindy commented on #594
Hello, thanks for reaching out to us and for your continued use of our app.

Please follow the instructions in the README for how to build the app.

If you have any further problems, please re-open this issue.

Thanks!

[2020-03-21 23:18] #594 closed, assigned to nobody

[2020-03-21 23:19] brindy commented on #559
Hello,

We are now tracking this internally at: https://app.asana.com/0/414709148257752/1158699016458265

Since there was no further PR forthcoming I'm going to close this out.

Thanks for your continued use of our app!

[2020-03-21 23:19] #559 closed, assigned to nobody

[2020-03-22 07:46] AustinConlon commented on #522
No worries, and thank you for the detailed explanation!

[2020-03-24 00:34] daisuke-t-jp opened #604 "Unnecessary scrolling happened in Feedback"
- App version
  - 7.41.1
- iOS version
  - iOS 13.3.1
- Steps to reproduce the bug
  - Open feekback text input screen.
  - Switch other app(keyboard showing).
  - Back DuckDuckGo app.
- Expected behavior
  - No change on screen.
- Actual behavior
  - Unnecessary scrolling happened

![FD836F14-6BC1-4D8A-9148-A8B2990679CB](https://user-images.githubusercontent.com/45647069/77375895-32ac9980-6db2-11

[2020-03-24 15:13] daisuke-t-jp opened #605 "The input suggestion function does not work with FindInPage."
# Summary
The input suggestion function does not work with FindInPage.
Therefore, the user cannot select Japanese Kanji.
I think the same problem occurs in Chinese.

# Information
- App version
  - 0894e4103b511c789accd09a28e4e78ba94f1cd1
- iOS version
  -  iOS 13.3
- Steps to reproduce the bug
  1. Open FindInPage.
  1. Input japanese.
- Expected behavior
  - Input suggestions are displayed on ke

[2020-03-28 11:10] brindy commented on #605
Thanks for this, we're tracking it internally at https://app.asana.com/0/414709148257752/1168763499025419

I'll review your PR this weekend.  Thanks!

[2020-03-29 18:14] #605 closed, assigned to nobody

[2020-04-01 21:29] netvl opened #611 "The browser should hide page contents if locked"
Many applications which have the “lock” feature (e.g. password managers or messengers like Signal) blur or otherwise hide their contents when they are not active, otherwise it is possible to see what’s inside them without unlocking them on the application manager screen:
![7B05B25C-871C-433A-9ABC-CA66E8FB80A3](https://user-images.githubusercontent.com/280456/78188175-a1c66580-7424-11ea-9684-0e075a

[2020-04-02 11:01] brindy commented on #611
Hi - thanks for the clear explanation.

We're tracking this internally at https://app.asana.com/0/392891325557410/1169498296439393 and will get a fix out soon (probably next release).

[2020-04-02 19:18] netvl commented on #611
That’s an awesomely quick response, thank you! I really like your browser, thanks for the great work! :)

[2020-04-03 08:46] brindy commented on #604
Thanks for raising this.  We're tracking this internally at https://app.asana.com/0/414709148257752/1169706165059549 and I'm going to review it shortly.

[2020-04-03 09:06] #604 closed, assigned to nobody

[2020-04-03 10:54] brindy commented on #480
Hi - we are still considering how to do this.  We've had a look at a few options and nothing really works in a satisfactory way.

Essentially the whole thing is summed up by this stack overflow question and answer:

https://stackoverflow.com/a/31538352/73479

We don't want to run a web server in our app at the moment so have decided to live with this limitation for now.

As such I'm going to close

[2020-04-03 10:54] #480 closed, assigned to roop

[2020-04-03 11:20] brindy commented on #545
As per comment on the PR - this area is about to get some TLC and we don't want to change the UX at this time.  Thanks for the suggestion!

[2020-04-03 11:20] #545 closed, assigned to nobody

[2020-04-07 14:12] #611 closed, assigned to nobody

[2020-04-08 13:48] Johennes opened #617 "Retain cycle in PrivacyProtectionOverviewController"
Noticing this on current `master` (`53c29feb96f1dbb52c94112d0a9be9aebf33bc92`). Each time the privacy overview modal is opened (by tapping the icon on the left side of the address bar) a new instance of `PrivacyProtectionOverviewController` (and all it's referenced objects) gets stuck in memory.

The root cause is that `InteractivePopRecognizer` holds a strong reference to the controllers navigati

[2020-04-08 15:13] brindy commented on #617
Thanks for this! We're tracking this internally at https://app.asana.com/0/392891325557410/1170462535379951 and will make the fix soon.

[2020-04-09 10:36] brindy commented on #572
We tried adding the background audio settings but it doesn't appear to have any effect, I'm afraid.  We're going to close this for now - hopefully we can work out the problem eventually or it'll be fixed by iOS.

[2020-04-09 10:36] #572 closed, assigned to nobody

[2020-04-10 19:46] Johennes opened #621 "Retain cycle in EasyTipView extension"
Noticed this when investigating #617. Reproduction steps on `master` (`53c29feb96f1dbb52c94112d0a9be9aebf33bc92`):

- Fresh install the app
- Click through the onboarding
- Perform two navigations, e.g. open stackoverflow.com, then twitter.com (by now 3 tips should have shown)
- Fire up the memory graph debugger and notice that 3 instances of `TouchView` are stuck in memory

One of them showed a `

[2020-04-16 09:32] bwaresiak commented on #617
Since #618 is merged and released, I'm closing this off. Thanks!

[2020-04-16 09:32] #617 closed, assigned to nobody

[2020-04-16 10:40] bwaresiak commented on #621
Hello, @Johennes

Thanks for bringing tis up! This is pretty interesting problem.

In theory 😄, this should not create strong reference cycle: both `self` and `view` are held strongly by the block, but the block is outside of the view hierarchy and seem to be only referenced by NotificationCenter.

But as you described, we still get a leak. Moreover, when I tested adding capture list `[weak view,

[2020-04-16 15:16] Johennes commented on #621
Holy cow! This is mind-boggling. I missed that even with `view` being weakified, there were other things leaking that related to this. Never would have thought the token to be the culprit given that Apple uses the exact same code in the [docs](https://developer.apple.com/documentation/foundation/notificationcenter/1411723-addobserver). 🤦‍♂️

[2020-04-16 20:26] Johennes opened #624 "Desktop site feature loads mobile layout"
This is the equivalent of https://github.com/duckduckgo/Android/issues/768. I'm opening this against the iOS app as well because I was able to demonstrate a potential fix in the iOS code (see below).

Some sites with a responsive layout look the same regardless of whether the desktop site was requested. This can be a problem when certain features are hidden on smaller screens which makes the "requ

[2020-04-20 19:48] Johennes commented on #624
I'd be happy to submit a proper pull request if that is appreciated. Not going to invest more time before the way forward is not agreed upon of course. 🙂

[2020-04-20 23:55] #621 closed, assigned to nobody

[2020-04-21 10:16] brindy commented on #624
Hi @Johennes - we discussed this internally when we first added desktop mode (the team was much smaller then) and landed on the side of not trying to change a website's responsiveness, though we acknowledge that might be the reason someone switches to desktop mode.  I think @cmonfortep already said we'd discuss it as it's probably best for us to make the same change in both places so we'll have th